#################################################################################
# ttbarll Data selection
################################################################################

+cafe.Include: top_dilepton_me/configs/mutrk/MuTrk_Data_final.config

muon_iso_corr.ObjQuality:		iso_TopScaledVeryLoose

VJets.IsolationValue:                     1000

################################################################################
