#################################################################################
# ttbar->mumu MC selection
################################################################################

+cafe.Include: top_dilepton_me/configs/mumu/DIMU_MC.config

### JES variation :

met_correction.JES:   ShiftedNeg

jssr_p17.JES:         ShiftedNeg
jssr_p20.JES:         ShiftedNeg

################################################################################