#################################################################################
# ttbar->ee MC selection
################################################################################

+cafe.Include: top_dilepton_me/configs/mutrk/MuTrk_MC.config

jssr_p17.DoJetShifting:           false
jssr_p20.DoJetShifting:           false

################################################################################