######################################################
############# Trigger Group ##########################
VJetsDIMUTrigger_p17.Run:          cafTriggerEfficiency(VJetsDIMUTrigger_p17),Group(MuOr_p17),cafTriggerOutput(VJetsDIMUTrigger_p17)
VJetsDIMUTrigger_p17.embranch:     TurnOff
VJetsDIMUTrigger_p17.mubranch:     %{VJets.LooseMuon_Branch}
VJetsDIMUTrigger_p17.jetbranch:    %{VJets.FinalJetBranch}
VJetsDIMUTrigger_p17.metbranch:    TurnOff
#VJetsDIMUTrigger_p17.lumi:        20.0,21.2,15.2,54.4,209.8,250.0,150.0
#VJetsDIMUTrigger_p17.triglist:    8,9,10,11,12,13,14
VJetsDIMUTrigger_p17.lumi:         31.77, 74.75, 231.21, 375.54, 333.00
VJetsDIMUTrigger_p17.triglist:     v8,v103,v12,v13,v14
#VJetsDIMUTrigger_p17.histos:      MuOr,TriggerProbability
VJetsDIMUTrigger_p17.histos:       TriggerProbability
VJetsDIMUTrigger_p17.histosBins:   120
# VJetsDIMUTrigger_p17.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
MuOr_p17.Run:               Probability_DILEP(MuOr_p17)
# ,TriggerProbability(MuOr_p17)

# put SingleMuon because it's hardcoded in Probability_Muon ...
# MuOr_p17.CombineL1L2L3:     SingleMuon

MuOr_p17.TriggerVersions:   v8,v103,v12,v13,v14
MuOr_p17.Debug:             no
MuOr_p17.MuonPath:          ./sgmuor_eff
# DIMUProb.TrackPath: ./muid_eff/results_data
# DIMUProb.JetPath: ./jetid_eff/p17.09.03/
MuOr.Path:              ./
#MuOr_p17.MuonPath:         ./muid_eff/results_data
#MuOr_p17.TrackPath:        ./muid_eff/results_data
# MuOr_p17.MuonPath:          ./sgmuor_eff
# MuOr_p17.TrackPath:         ./sgmuor_eff
#MuOr_p17.MuonQuality:      %{MuonCfg.EffMuonQuality}
# MuOr_p17.MuonQuality:       loose_track_medium_NPLoose
# MuOr_p17.TrackQuality:      track_medium
# MuOr_p17.IsolationQuality:  none
MuOr_p17.ignoreOverflow: true
MuOr_p17.ignoreUnderflow: false
MuOr_p17.OutputFileName: ./table_trigger_%{VJets.EffOutput}

MuOr_p17.GlobalTriggerVersions: v8 v103 v12 v13 v14

MuOr_p17.sigma:                  true
#
# Trigger Version 8-103  (taking 10.3 - 12 values since there is no l3 info available)
#
v8.Triggers:                                          SingleMuOR
v103.Triggers:                                       SingleMuOR
v12.Triggers:                                         SingleMuOR
v13.Triggers:                                         SingleMuOR
v14.Triggers:                                         SingleMuOR

SingleMuOR.ObjectsL1:      singlemuor

singlemuor.EffName:         eff
singlemuor.ObjType:         SingleMuon
singlemuor.ObjQuality:      SingleMuonTriggersOR
# singlemuor.EffVarNames:     pt deteta
singlemuor.EffVarNames:     phi deteta
# singlemuor.EffVarNames:     pt
singlemuor.ObjRelativeTo:   loose_track_medium_NPLoose

##################################################################

############## mu or mujet Trigger Group ##########################
VJetsDIMUTrigger_p20.Run:     cafTriggerEfficiency(trigInit_DIMU_p20)
+VJetsDIMUTrigger_p20.Run: Group(VJetsDIMU_p20)
+VJetsDIMUTrigger_p20.Run: cafTriggerOutput(trigOut_DIMU_p20)

trigInit_DIMU_p20.embranch:     TurnOff
trigInit_DIMU_p20.mubranch:     %{VJets.LooseMuon_Branch}
trigInit_DIMU_p20.trackbranch:  TurnOff
trigInit_DIMU_p20.jetbranch:    %{VJets.FinalJetBranch}

### LUMI for mu only
trigInit_DIMU_p20.lumi:         534.5 , 693.8 , 397.31 , 947.7
trigInit_DIMU_p20.triglist:     v15,v15_5,v15_5_2,v16

######################################################

############# Trigger Definition for DIMU channel #####################
VJetsDIMU_p20.Run: Probability_DILEP(DIMUProb_p20)

DIMUProb_p20.ElectronPath: ./top_dilepton_me/spc
DIMUProb_p20.MuonPath: ./top_dilepton_me/spc
DIMUProb_p20.TrackPath: ./muid_eff/results_data_2b
DIMUProb_p20.JetPath: ./jetid_eff/p17.09.03/
DIMUProb_p20.Path: ./
DIMUProb_p20.ignoreOverflow: true
DIMUProb_p20.ignoreUnderflow: false
DIMUProb_p20.OutputFileName: ./table_trigger_%{VJets.EffOutput}

DIMUProb_p20.TriggerVersions:        v15,v15_5,v15_5_2,v16
DIMUProb_p20.GlobalTriggerVersions:  v15 v15_5 v15_5_2 v16

DIMUProb_p20.sigma:                  true
# @@ all triggers we need efficiencies for (if more than one: will compute the OR and need the overlap terms):

v15.Triggers:       MUHIn_ILM15_TK12_TLM12_v15
v15_5.Triggers:      MUHIn_ILM15_TK12_TLM12_v155
v15_5_2.Triggers:    MUHIn_ILM15_TK12_TLM12_v155_2
v16.Triggers:       MUHIn_ILM10_TLM12_v16

### v15

MUHIn_ILM15_TK12_TLM12_v15.ObjectsL3:       L1L2L3MUON_v15
MUHIn_ILM15_TK12_TLM12_v155.ObjectsL3:      L1L2L3MUON_v155
MUHIn_ILM15_TK12_TLM12_v155_2.ObjectsL3:    L1L2L3MUON_v155_2
MUHIn_ILM10_TLM12_v16.ObjectsL3:            L1L2L3MUON_v16

L1L2L3MUON_v15.ObjType:          Muon
L1L2L3MUON_v15.EffName:          TrigEff
L1L2L3MUON_v15.EffVarNames:      cfteta pt
L1L2L3MUON_v15.ObjQuality:       MU_all_v15.0
L1L2L3MUON_v15.ObjRelativeTo:    loose_trackmedium_TopScaledMedium

L1L2L3MUON_v155.ObjType:          Muon
L1L2L3MUON_v155.EffName:          TrigEff
L1L2L3MUON_v155.EffVarNames:      cfteta pt
L1L2L3MUON_v155.ObjQuality:       MU_all_v15.0
L1L2L3MUON_v155.ObjRelativeTo:    loose_trackmedium_TopScaledMedium

L1L2L3MUON_v155_2.ObjType:          Muon
L1L2L3MUON_v155_2.EffName:          TrigEff
L1L2L3MUON_v155_2.EffVarNames:      cfteta pt
L1L2L3MUON_v155_2.ObjQuality:       MU_all_v15.90
L1L2L3MUON_v155_2.ObjRelativeTo:    loose_trackmedium_TopScaledMedium

L1L2L3MUON_v16.ObjType:          Muon
L1L2L3MUON_v16.EffName:          TrigEff
L1L2L3MUON_v16.EffVarNames:      cfteta pt
L1L2L3MUON_v16.ObjQuality:       MU_all_v16.0
L1L2L3MUON_v16.ObjRelativeTo:    loose_trackmedium_TopScaledMedium

##################################################################
