#################################################################################
# ttbarll Data selection
################################################################################

cafe.Progress:  1000

cafe.Debug: false

+cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils gsl
+cafe.Packages:     g2c top_dilepton_me top_dilepton_madgraph

+cafe.Include: top_dilepton_me/configs/mutrk/MuTrk_base.config
+cafe.Include: top_dilepton_me/configs/mutrk/MuTrk_Triggers_Data.config
+cafe.Include: caf_trigger/configs/MuonTriggerORMatch-base.config

# JET SELECTION
VJets.InputJet_Branch:                    corrJCCB
VJets.CorrectedJet_Branch:        %{VJets.JesJet_Branch}

# +Btagging.Run:  Group(DileptonBtag)
VJets.InputMode:  DATA
VJets.TaggabilityRF:  MUTaggability

VJets.MuonSmearType: no

# VJets.SecondJet_pT:                           20.0

VJets.LeadJet_pT:                             30.0

# Doesn't do anything in this context, oh well
VJets.JSSR_UseUniformRemapping:       true

+cafe.Run: Stat(MuTrkeff)

+mutrktrig.Run:                        Group(trig_data)

+mutrk_QCD_fit.Run:                    FakeElectronFit(qcd_2jet_loose)

+qcd_2jet_loose.EMBranch:            %{VJets.LooseEM_Branch}

### If you want to play around with triggers...
# +cafe.Run:  Group(MuTrk_trigger)
# +cafe.Run:  Trigger(test_triggers)
# +cafe.Run:  Trigger(test_triggers2)
# +cafe.Run:  TriggerFrequency(test_triggers)

# +cafe.Run:  MuonTriggerORMatch(match_or)

### Does full 2jet selection PLUS produces ascii files and W_met
+cafe.Run:  Group(tighttight_2jet)

match_or.RecoVer:           %{VJets.RecoVer}
match_or.muonBranch:        %{VJets.LooseMuon_Branch}
match_or.ListOfTriggers:    MU_W_L2M0_TRK3 MU_W_L2M3_TRK10  MU_W_L2M0_TRK10 MU_W_L2M5_TRK10 MUW_W_L2M3_TRK10 MUW_W_L2M5_TRK10 MUW_A_L2M3_TRK10
+match_or.ListOfTriggers:   MUH1_TK10 MUH1_TK12_TLM12 MUH1_TK12 MUH1_LM15
+match_or.ListOfTriggers:   MUH2_LM3_TK12 MUH2_LM6_TK12 MUH2_LM10_TK12 MUH2_LM15
+match_or.ListOfTriggers:   MUH3_LM3_TK10 MUH3_LM6_TK12 MUH3_LM10_TK12 MUH3_LM15
+match_or.ListOfTriggers:   MUH4_LM15 MUH4_TK10
+match_or.ListOfTriggers:   MUH5_LM15 MUH6_TK12_TLM12 MUH6_LM15 MUH6_TK10 MUH7_TK12_h10 MUH7_LM15 MUH7_TK10
+match_or.ListOfTriggers:   MUH8_TK12_TLM12 MUH1_ILM15_a MUH1_ILM15_b MUH1_ITLM10_a MUH1_ITLM10_b
+match_or.ListOfTriggers:   MUH8_ILM15 MUH8_ITLM10 MUH7_TK12_h8

# +match_or.ListOfTriggers:   MWTXT10_TK10

# +match_or.ListOfTriggers:   MU_JT20_L2M0 MU_JT25_L2M0 MUJ2_JT25 MUJ2_JT25_LM3 MUJ2_JT20_TK10 MUJ2_JT30_LM3 MUJ1_JT25_ILM3 MUJ1_JT35_LM3
# +match_or.ListOfTriggers:   MU_JT20_L2M0 MU_JT25_L2M0 MUJ2_JT25 MUJ2_JT25_LM3 MUJ2_JT30_LM3 MUJ1_JT25_LM3 MUJ1_JT25_ILM3 MUJ1_JT35_LM3

test_triggers.Triggers:    MU_W_L2M5_TRK10 MUW_W_L2M3_TRK10
+test_triggers.Triggers:   MWTXT10_TK10
+test_triggers.Triggers:   MUH1_TK10 MUH1_TK12_TLM12 MUH1_TK12 MUH1_LM15
+test_triggers.Triggers:   MUH1_ILM15_a MUH1_ILM15_b
+test_triggers.Triggers:   MUH8_TK12_TLM12 MUH8_ILM15
+test_triggers.Triggers:   MU_JT20_L2M0 MU_JT25_L2M0 
+test_triggers.Triggers:   MUJ2_JT25 MUJ2_JT25_LM3 MUJ2_JT20_TK10 MUJ2_JT20_LM10
+test_triggers.Triggers:   MUJ1_JT25_LM3 MUJ1_JT25_ILM3

### v15

test_triggers.Triggers:     MUHI1_ITLM10 MUHI1_ILM15 MUHI1_TK12_TLM12
+test_triggers.Triggers:     MUHI2_ITLM10 MUHI2_ILM15 MUHI2_TK12_TLM12
+test_triggers.Triggers:     MUHI3_ITLM10 MUHI3_ILM15 MUHI3_TK12_TLM12

+test_triggers.Triggers:     MUJ3_JT25_ILM3 MUJ3_JT35_LM3
+test_triggers.Triggers:     MUJ4_JT25_ILM3 MUJ4_JT35_LM3

+test_triggers.Triggers:     MUJ1_2J20LM3DR3 MUJ1_3J20LM3
+test_triggers.Triggers:     MUJ2_2J20LM3DR3 MUJ2_3J20LM3
+test_triggers.Triggers:     MUJ3_2J20LM3DR3 MUJ3_3J20LM3
+test_triggers.Triggers:     MUJ4_2J20LM3DR3 MUJ4_3J20LM3

################################################################################
