#################################################################################
# ttbar->mutrk MC selection
################################################################################
cafe.Progress:  1000
# cafe.Events:    10000

cafe.Debug:         true

cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils gsl
+cafe.Packages:     g2c top_dilepton_me top_dilepton_madgraph

+cafe.Include: top_dilepton_me/configs/mutrk/MuTrk_base.config
# +cafe.Include: top_dilepton_me/configs/mutrk/MuTrk_Triggers.config
# +cafe.Include: top_dilepton_me/configs/mumu/MuonORTrigEff.config

# JET SELECTION
VJets.InputJet_Branch:                    corrJCCB
VJets.CorrectedJet_Branch:                %{VJets.CorrectedJet_Branch}

VJets.InputMode:      MC MUTaggability
VJets.TaggabilityRF:  MUTaggabilityRF

VJets.MuonSmearType: mix
# VJets.MuonSmearType: no

# Set to false for non top MC 
VJets.JSSR_UseUniformRemapping:           true

+cafe.Run: Stat(MuTrkeff)
+cafe.Run:  If(mutrk_correction)
+cafe.Run:  Group(mutrktrig)
+cafe.Run:  Group(tighttight_2jet)
+cafe.Run:  WeightSystematics(ws)

# zpt.AlpgenReweighting:                  true

+mutrktrig_tight.Run:                        Group(trig_mc)

################################################################################