#################################################################################
# ttbar->mumu MC selection
################################################################################
cafe.Progress:  1000

cafe.Debug: false

+cafe.Include: top_dilepton_me/configs/mumu/DIMU_selection.config
+cafe.Include: top_dilepton_me/configs/mumu/DIMU_Triggers.config
# +cafe.Include: top_dilepton_me/configs/mumu/MuonORTrigEff.config

# JET SELECTION
# VJets.InputJet_Branch:                    corrJCCB
VJets.InputJet_Branch:                    JCCB
VJets.CorrectedJet_Branch:                %{VJets.CorrectedJet_Branch}

VJets.InputMode:      MC MUTaggability
VJets.TaggabilityRF:  MUTaggabilityRF

# Set to false for non top MC 
VJets.JSSR_UseUniformRemapping:           true

### JES variation :
# jssr.JES:       MUShiftedPos
# jssr.JES:       MUShiftedNeg

# +dimutrig.Run:                          Group(TopDIMUTrigger)
# +dimutrig_tight.Run:                    Group(DiMuonTrigEff)
+dimutrig_tight.Run:                    Group(VJetsDIMUTrigger_%{VJets.RecoVer})

+DileptonDQ.Run:                      Group(VJetsDQMC_%{VJets.RecoVer})
+DileptonReweighting.Run:             Group(DileptonBeamLumiRW)
+Discard_OR_JSSR.Run:                 Group(DileptonJSSR)

# # run2a
# VJets.DataSet:                        MUinc_FullRunIIa
# VJets.Triggers:                       SingleMU_TriggersOR
# VJets.LumiDataSet:                    MUinc_FullRunIIa

# run2b
VJets.DataSet:                        2MUhighpt_Moriond2009
VJets.Triggers:                       DiMU_TriggersOR
VJets.LumiDataSet:                    2MUhighpt_Moriond2009

################################################################################
