#################################################################################
# ttbar->mumu MC selection
################################################################################

+cafe.Include: top_dilepton_me/configs/mumu/DIMU_MC.config

### JER variation :
JetCorr.From:                           %{VJets.JesJet_Branch}KeptResoDown
VJets.CorrectedJet_Branch:              %{VJets.JesJet_Branch}KeptResoDown

################################################################################