#################################################################################
# ttbar->mumu Data selection
################################################################################

+cafe.Include: top_dilepton_me/configs/mumu/DIMU_Data_final.config

VJets.IsolationValue:                     1000

VJets.LooseMuon_IsoQuality:       NotUsed

muon_iso_corr_p17.ObjQuality:		iso_TopScaledLoose
muon_iso_corr_p20.ObjQuality:		iso_TopScaledLoose

################################################################################
