#################################################################################
# ttbar->emu MC selection
################################################################################

+cafe.Include: top_dilepton_me/configs/mumu/DIMU_MC.config

smear_muon_p17.conf_name:		p17_09_1s_minus
smear_muon_p20.conf_name:		p20_zjpsi_1s_minus

################################################################################