################################################################################
# Generic Selection code for ttbar->mumu analysis using loose muons
################################################################################

cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils
+cafe.Packages:     top_cafe top_dilepton_me

##### If you don't want btagging, comment out
+cafe.Include: top_dilepton_me/configs/Dilepton_Btagging.config

+cafe.Include: top_dilepton_me/configs/mumu/DIMU_base.config

################################################################################
# ANALYSIS CHAIN
################################################################################

loose_muon.pTmax:   300.0

+cafe.Run: LumiZeroEventRemoval(remove_zero_lumi_events)
+cafe.Run: FindDuplicateEvents
+cafe.Run: Group(DileptonDQ)

+cafe.Run: Stat(DIMUeff)
+cafe.Run: Group(DileptonReweighting)

+cafe.Run: Group(DileptonLeptonCorrection)
+cafe.Run: Group(DileptonMuonSelection)
+cafe.Run: Select(nmuons)
+cafe.Run: Select(n_tightmuons)

+cafe.Run: Group(DileptonElectronSelection)
+cafe.Run: Select(nelectrons)


+cafe.Run: Group(VJetsVertexSelection)

+cafe.Run: Group(DIMUPair)
+cafe.Run: Select(npair_looseloose)

+cafe.Run: Group(DileptonJetCorrection)
RunDileptonBtagging.Run:                Group(DileptonBtag)

+cafe.Run: Group(VJetsMet)

+cafe.Run:  Select(tightiso_lead)
+cafe.Run:  Select(tightiso_second)

+cafe.Run: If(dimu_correction)
+cafe.Run: If(dimu_correction_tight)
+cafe.Run: Group(dimutrig_tight)

+cafe.Run:  TopDileptonPlots(plots_inc_loose)
+cafe.Run:  WeightSystematics(ws)

+cafe.Run:  Group(write_matevt)

+cafe.Run:  TopDileptonPlots(plots_inc_tight)

+cafe.Run: Passed

VJets.Met_Min: 20.

+dimutrig_data.Run:             Passed

VJets.NumberOfFiles:              1

inclusiveskim.Tree: TMBTree
# inclusiveskim.File: %f
inclusiveskim.FilesPerOutput: %{VJets.NumberOfFiles}
inclusiveskim.File: %{VJets.EffOutput}_inc_skim_%n.root

# VJets.LeadJet_pT:                             20.0
VJets.LeadJet_pT:                             15.0
# VJets.SecondJet_pT:                           20.0
VJets.SecondJet_pT:                           15.0

plots_inc_loose.Title: topo_comp_inc_loose
plots_inc_loose.EMBranch:               %{VJets.LooseEM_Branch}
plots_inc_loose.MuonBranch:             %{VJets.LooseLooseDileptonPair_Branch}
plots_inc_loose.JetBranch:              %{VJets.FinalJetBranch}
plots_inc_loose.MetBranch:              %{VJets.MET_Branch}
plots_inc_loose.Channel:                mumu
plots_inc_loose.Use_L6_MEDIUM:          true
plots_inc_loose.DeltaR:                 0.5
plots_inc_loose.Systematics:            MuonCorr: muon_id_corr_%{VJets.RecoVer},MuonCorr: muon_iso_corr_%{VJets.RecoVer},MuonCorr: muon_deltaR_corr_%{VJets.RecoVer},MuonCorr: muon_track_corr_%{VJets.RecoVer},TriggerProbability,ZPtReWeighting [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

### Cross section selection
plots_inc_tight.Title: topo_comp_inc_tight
plots_inc_tight.EMBranch:               %{VJets.LooseEM_Branch}
plots_inc_tight.MuonBranch:             %{VJets.LooseLooseDileptonPair_Branch}
plots_inc_tight.JetBranch:              %{VJets.FinalJetBranch}
plots_inc_tight.MetBranch:              %{VJets.MET_Branch}
plots_inc_tight.Channel:                mumu
plots_inc_tight.Use_L6_MEDIUM:          true
plots_inc_tight.DeltaR:                 0.5
plots_inc_tight.Systematics:            MuonCorr: muon_id_corr_%{VJets.RecoVer},MuonCorr: muon_iso_corr_%{VJets.RecoVer},MuonCorr: muon_deltaR_corr_%{VJets.RecoVer},MuonCorr: muon_track_corr_%{VJets.RecoVer},TriggerProbability,ZPtReWeighting [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

plots_inc_tight.NJetsMin:               2
plots_inc_tight.LeadJetPt:              30.0
plots_inc_tight.Mll_min:                15.0
plots_inc_tight.Z_METSIG_cut:           5.0
plots_inc_tight.METSIG_below_Z:         5.0
plots_inc_tight.METSIG_above_Z:         5.0

muon_for_met.pTmax:                     300
muon_for_jes.pTmax:                     300

# +cafe.Run: MeasureLumiProfile(lumi_measure)
# 
# lumi_measure.DataSetName:   DIMU_xsec_summer2008
# lumi_measure.DQDefinition:  dq_defs/common/example.dqdef

################################################################################
