###############################################################################
#  Muon Matching for SGMUOR 
###############################################################################

#MatchMuon_SGMUOR.Run: Passed
 
 MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M5_TRK10)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MT10W_L2M5_TRK10)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MWTXT10_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_TK12_TLM12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH8_TK12_TLM12)

# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_JT20_L2M0)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_JT25_L2M0)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUJ2_JT25)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUJ2_JT25_LM3)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUJ2_JT20_TK10)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUJ1_JT25_LM3)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUJ1_JT25_ILM3)

# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUJ2_JT20_LM10)

# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(2MU_A_L2M0)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(2MU_A_L2M0_TRK10)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(2MU_A_L2M0_L3L15)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(2MU_A_L2M0_TRK5)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(2MU_A_L2M0_L3L6)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMU1_TK5)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMU1_LM6)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMU1_TK8)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMU1_LM15)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMU1_TK8_TLM8)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMU1_2LM6)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMUA_TK8_TLM8)
# +MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(DMUA_2LM6)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUW_A_L2M3_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUW_W_L2M3_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M0_TRK3)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M3_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUW_W_L2M5_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M0_TRK10)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_LM15)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_ILM15)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_ITLM10)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM3_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM6_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM10_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM3_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM6_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM10_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH4_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH4_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH5_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH6_TK12_TLM12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH6_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH6_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH7_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH7_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH7_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH8_ILM15)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH8_ITLM10)

############################################################

MU_W_L2M5_TRK10.muonBranch:             %{VJets.LooseMuon_Branch}
MU_W_L2M5_TRK10.TriggerVersions:        8.00,9.99
MU_W_L2M5_TRK10.UseRunRange:            true
MU_W_L2M5_TRK10.Muon0_requireL1L2L3:    1,1,0
MU_W_L2M5_TRK10.Level1MuonObject:       l1wtxx
MU_W_L2M5_TRK10.Level2MuonObject:       l2m5
MU_W_L2M5_TRK10.Level3TrackObject:      l3trk10
MU_W_L2M5_TRK10.Tag:                    MU_W_L2M5_TRK10
MU_W_L2M5_TRK10.UseTriggerFired: true

MT10W_L2M5_TRK10.muonBranch:             %{VJets.LooseMuon_Branch}
MT10W_L2M5_TRK10.TriggerVersions:        10.00,11.99
MT10W_L2M5_TRK10.UseRunRange:            true
# MT10W_L2M5_TRK10.Muon0_requireL1L2L3:    1,1,1
MT10W_L2M5_TRK10.Muon0_requireL1L2L3:    1,1,0
MT10W_L2M5_TRK10.Level1MuonObject:       l1wtxx
MT10W_L2M5_TRK10.Level1TrackObject:      l1trk10
MT10W_L2M5_TRK10.Level2MuonObject:       l2m5
MT10W_L2M5_TRK10.Level3TrackObject:      l3trk10
MT10W_L2M5_TRK10.Tag:                    MT10W_L2M5_TRK10
MT10W_L2M5_TRK10.UseTriggerFired:        true

MWTXT10_TK10.muonBranch:             %{VJets.LooseMuon_Branch}
MWTXT10_TK10.TriggerVersions:        12.00,12.99
MWTXT10_TK10.UseRunRange:            true
# MWTXT10_TK10.Muon0_requireL1L2L3:    1,0,1
MWTXT10_TK10.Muon0_requireL1L2L3:    1,0,0
MWTXT10_TK10.Level1MuonObject:       l1wtxx
MWTXT10_TK10.Level1TrackObject:      l1trk10
MWTXT10_TK10.Level3TrackObject:      l3trk10
MWTXT10_TK10.Tag:                    MWTXT10_TK10
MWTXT10_TK10.UseTriggerFired: true

MUH1_TK10.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH1_TK10.TriggerVersions:              13.03,13.03
MUH1_TK10.UseRunRange:                  true
# MUH1_TK10.Muon0_requireL1L2L3:          1,0,1
MUH1_TK10.Muon0_requireL1L2L3:          1,0,0
MUH1_TK10.Level1MuonObject:             l1wtxx
MUH1_TK10.Level1TrackObject:            l1trk10
MUH1_TK10.Level3TrackObject:            l3trk10h10
MUH1_TK10.Tag:                          MUH1_TK10
MUH1_TK10.UseTriggerFired: true

MUH1_TK12.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH1_TK12.TriggerVersions:              13.10,13.11
MUH1_TK12.UseRunRange:                  true
# MUH1_TK12.Muon0_requireL1L2L3:          1,0,1
MUH1_TK12.Muon0_requireL1L2L3:          1,0,0
MUH1_TK12.Level1MuonObject:             l1wtxx
MUH1_TK12.Level1TrackObject:            l1trk10
MUH1_TK12.Level3MuonObject:             l3l0
# MUH1_TK12.Level3MuonObject:             l3cml12
MUH1_TK12.Level3TrackObject:            l3trk12h10
MUH1_TK12.Tag:                          MUH1_TK12
MUH1_TK12.UseTriggerFired: true

MUH1_TK12_TLM12.muonBranch:             %{VJets.LooseMuon_Branch}
MUH1_TK12_TLM12.TriggerVersions:        13.20,14.59
MUH1_TK12_TLM12.UseRunRange:            true
# MUH1_TK12_TLM12.Muon0_requireL1L2L3:    1,0,1
MUH1_TK12_TLM12.Muon0_requireL1L2L3:    1,0,0
MUH1_TK12_TLM12.Level1MuonObject:       l1wtxx
MUH1_TK12_TLM12.Level1TrackObject:      l1trk10
MUH1_TK12_TLM12.Level3MuonObject:       l3l0
MUH1_TK12_TLM12.Level3CentralMatching:  l3cml12
MUH1_TK12_TLM12.Level3TrackObject:      l3trk12h10
MUH1_TK12_TLM12.Tag:                    MUH1_TK12_TLM12
MUH1_TK12_TLM12.UseTriggerFired: true

MUH8_TK12_TLM12.muonBranch:             %{VJets.LooseMuon_Branch}
MUH8_TK12_TLM12.TriggerVersions:        14.60,15.00
MUH8_TK12_TLM12.UseRunRange:            true
# MUH8_TK12_TLM12.Muon0_requireL1L2L3:    1,0,1
MUH8_TK12_TLM12.Muon0_requireL1L2L3:    1,0,0
MUH8_TK12_TLM12.Level1MuonObject:       l1wtlx
MUH8_TK12_TLM12.Level1TrackObject:      l1trk10
MUH8_TK12_TLM12.Level3MuonObject:       l3l0
MUH8_TK12_TLM12.Level3CentralMatching:  l3cml12
MUH8_TK12_TLM12.Level3TrackObject:      l3trk12h10
MUH8_TK12_TLM12.Tag:                    MUH8_TK12_TLM12
MUH8_TK12_TLM12.UseTriggerFired: true

############################################################

MUW_A_L2M3_TRK10.muonBranch:            %{VJets.LooseMuon_Branch}
MUW_A_L2M3_TRK10.TriggerVersions:       10.30,11.04
MUW_A_L2M3_TRK10.UseRunRange:           true
MUW_A_L2M3_TRK10.Muon0_requireL1L2L3:   1,1,1
MUW_A_L2M3_TRK10.Level1MuonObject:      l1atlx
MUW_A_L2M3_TRK10.Level2MuonObject:      l2m3
MUW_A_L2M3_TRK10.Level3TrackObject:     l3trk10
MUW_A_L2M3_TRK10.Tag:                   MUW_A_L2M3_TRK10
MUW_A_L2M3_TRK10.UseTriggerFired: true

MUW_W_L2M3_TRK10.muonBranch:            %{VJets.LooseMuon_Branch}
MUW_W_L2M3_TRK10.TriggerVersions:       10.30,12.37
MUW_W_L2M3_TRK10.UseRunRange:           true
MUW_W_L2M3_TRK10.Muon0_requireL1L2L3:   1,1,1
MUW_W_L2M3_TRK10.Level1MuonObject:      l1wtlx
MUW_W_L2M3_TRK10.Level2MuonObject:      l2m3
MUW_W_L2M3_TRK10.Level3TrackObject:     l3trk10
MUW_W_L2M3_TRK10.Tag:                   MUW_W_L2M3_TRK10
MUW_W_L2M3_TRK10.UseTriggerFired: true

MU_W_L2M0_TRK3.muonBranch:              %{VJets.LooseMuon_Branch}
MU_W_L2M0_TRK3.TriggerVersions:         8.00,9.50
MU_W_L2M0_TRK3.UseRunRange:             true
MU_W_L2M0_TRK3.Muon0_requireL1L2L3:     1,1,0
MU_W_L2M0_TRK3.Level1MuonObject:        l1wtxx
MU_W_L2M0_TRK3.Level2MuonObject:        l2m5
MU_W_L2M0_TRK3.Level3TrackObject:       l3trk3
MU_W_L2M0_TRK3.Tag:                     MU_W_L2M0_TRK3
MU_W_L2M0_TRK3.UseTriggerFired: true

MU_W_L2M3_TRK10.muonBranch:             %{VJets.LooseMuon_Branch}
MU_W_L2M3_TRK10.TriggerVersions:        10.30,12.37
MU_W_L2M3_TRK10.UseRunRange:            true
MU_W_L2M3_TRK10.Muon0_requireL1L2L3:    1,1,1
MU_W_L2M3_TRK10.Level1MuonObject:       l1wtxx
MU_W_L2M3_TRK10.Level2MuonObject:       l2m3
MU_W_L2M3_TRK10.Level3TrackObject:      l3trk10
MU_W_L2M3_TRK10.Tag:                    MU_W_L2M3_TRK10
MU_W_L2M3_TRK10.UseTriggerFired: true

MUW_W_L2M5_TRK10.muonBranch:            %{VJets.LooseMuon_Branch}
MUW_W_L2M5_TRK10.TriggerVersions:       10.00,10.03
MUW_W_L2M5_TRK10.UseRunRange:           true
MUW_W_L2M5_TRK10.Muon0_requireL1L2L3:   1,1,1
MUW_W_L2M5_TRK10.Level1MuonObject:      l1wtlx
MUW_W_L2M5_TRK10.Level2MuonObject:      l2m5
MUW_W_L2M5_TRK10.Level3TrackObject:     l3trk10
MUW_W_L2M5_TRK10.Tag:                   MUW_W_L2M5_TRK10
MUW_W_L2M5_TRK10.UseTriggerFired: true

MU_W_L2M0_TRK10.muonBranch:             %{VJets.LooseMuon_Branch}
MU_W_L2M0_TRK10.TriggerVersions:        9.30,9.50
MU_W_L2M0_TRK10.UseRunRange:            true
MU_W_L2M0_TRK10.Muon0_requireL1L2L3:    1,1,0
MU_W_L2M0_TRK10.Level1MuonObject:       l1wtxx
MU_W_L2M0_TRK10.Level2MuonObject:       l2m0
MU_W_L2M0_TRK10.Level3TrackObject:      l3trk10
MU_W_L2M0_TRK10.Tag:                    MU_W_L2M0_TRK3

MUH1_LM15.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH1_LM15.TriggerVersions:              13.03,13.90
MUH1_LM15.UseRunRange:                  true
MUH1_LM15.Muon0_requireL1L2L3:          1,0,1
MUH1_LM15.Level1MuonObject:             l1wtxx
MUH1_LM15.Level1TrackObject:            l1trk10
MUH1_LM15.Level3MuonObject:             l3l15
MUH1_LM15.Tag:                          MUH1_LM15
MUH1_LM15.UseTriggerFired: true

MUH1_ILM15.muonBranch:                  %{VJets.LooseMuon_Branch}
MUH1_ILM15.TriggerVersions:             14.00,15.00
MUH1_ILM15.UseRunRange:                 true
MUH1_ILM15.Muon0_requireL1L2L3:         1,0,1
MUH1_ILM15.Level1MuonObject:            l1wtxx
MUH1_ILM15.Level1TrackObject:           l1trk10
MUH1_ILM15.Level3MuonObject:            l3l15
MUH1_ILM15.Level3Isolation:             iso_muon_cal3
MUH1_ILM15.Tag:                         MUH1_ILM15
MUH1_ILM15.UseTriggerFired: true

MUH1_ITLM10.muonBranch:                 %{VJets.LooseMuon_Branch}
MUH1_ITLM10.TriggerVersions:            14.00,15.00
MUH1_ITLM10.UseRunRange:                true
MUH1_ITLM10.Muon0_requireL1L2L3:        1,0,1
MUH1_ITLM10.Level1MuonObject:           l1wtxx
MUH1_ITLM10.Level1TrackObject:          l1trk10
MUH1_ITLM10.Level3MuonObject:           l3l0
MUH1_ITLM10.Level3TrackObject:          l3trk10h10
MUH1_ITLM10.Level3Isolation:            iso_muon_cm_l1
MUH1_ITLM10.Tag:                        MUH1_ITLM10
MUH1_ITLM10.UseTriggerFired: true

MUH2_LM3_TK12.muonBranch:               %{VJets.LooseMuon_Branch}
MUH2_LM3_TK12.TriggerVersions:          13.03,13.11
MUH2_LM3_TK12.UseRunRange:              true
MUH2_LM3_TK12.Muon0_requireL1L2L3:      1,1,1
MUH2_LM3_TK12.Level1MuonObject:         l1atlx
MUH2_LM3_TK12.Level2MuonObject:         l2m3
MUH2_LM3_TK12.Level1TrackObject:        l1trk10
MUH2_LM3_TK12.Level3TrackObject:        l3trk12h10
MUH2_LM3_TK12.Level3MuonObject:         l3l3
MUH2_LM3_TK12.Tag:                      MUH2_LM3_TK12
MUH2_LM3_TK12.UseTriggerFired: true

MUH2_LM6_TK12.muonBranch:               %{VJets.LooseMuon_Branch}
MUH2_LM6_TK12.TriggerVersions:          13.20,13.23
MUH2_LM6_TK12.UseRunRange:              true
MUH2_LM6_TK12.Muon0_requireL1L2L3:      1,1,1
MUH2_LM6_TK12.Level1MuonObject:         l1atlx
MUH2_LM6_TK12.Level2MuonObject:         l2m3
MUH2_LM6_TK12.Level1TrackObject:        l1trk10
MUH2_LM6_TK12.Level3TrackObject:        l3trk12
MUH2_LM6_TK12.Level3MuonObject:         l3l6
MUH2_LM6_TK12.Tag:                      MUH2_LM6_TK12
MUH2_LM6_TK12.UseTriggerFired: true

MUH2_LM10_TK12.muonBranch:              %{VJets.LooseMuon_Branch}
MUH2_LM10_TK12.TriggerVersions:         13.30,13.90
MUH2_LM10_TK12.UseRunRange:             true
MUH2_LM10_TK12.Muon0_requireL1L2L3:     1,1,1
MUH2_LM10_TK12.Level1MuonObject:        l1atlx
MUH2_LM10_TK12.Level2MuonObject:        l2m3
MUH2_LM10_TK12.Level1TrackObject:       l1trk10
MUH2_LM10_TK12.Level3TrackObject:       l3trk12
MUH2_LM10_TK12.Level3MuonObject:        l3l10
MUH2_LM10_TK12.Tag:                     MUH2_LM10_TK12
MUH2_LM10_TK12.UseTriggerFired: true

MUH2_LM15.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH2_LM15.TriggerVersions:              13.03,13.23
MUH2_LM15.UseRunRange:                  true
MUH2_LM15.Muon0_requireL1L2L3:          1,1,1
MUH2_LM15.Level1MuonObject:             l1atlx
MUH2_LM15.Level2MuonObject:             l2m3
MUH2_LM15.Level1TrackObject:            l1trk10
MUH2_LM15.Level3MuonObject:             l3l15
MUH2_LM15.Tag:                          MUH2_LM15
MUH2_LM15.UseTriggerFired: true

MUH3_LM3_TK10.muonBranch:               %{VJets.LooseMuon_Branch}
MUH3_LM3_TK10.TriggerVersions:          13.03,13.11
MUH3_LM3_TK10.UseRunRange:              true
MUH3_LM3_TK10.Muon0_requireL1L2L3:      1,1,1
MUH3_LM3_TK10.Level1MuonObject:         l1atxx
MUH3_LM3_TK10.Level2MuonObject:         l2m0
MUH3_LM3_TK10.Level1TrackObject:        l1itrk10
MUH3_LM3_TK10.Level3TrackObject:        l3trk10h10
MUH3_LM3_TK10.Level3MuonObject:         l3l3
MUH3_LM3_TK10.Tag:                      MUH3_LM3_TK10
MUH3_LM3_TK10.UseTriggerFired: true

MUH3_LM6_TK12.muonBranch:               %{VJets.LooseMuon_Branch}
MUH3_LM6_TK12.TriggerVersions:          13.20,13.23
MUH3_LM6_TK12.UseRunRange:              true
MUH3_LM6_TK12.Muon0_requireL1L2L3:      1,1,1
MUH3_LM6_TK12.Level1MuonObject:         l1atxx
MUH3_LM6_TK12.Level2MuonObject:         l2m0
MUH3_LM6_TK12.Level1TrackObject:        l1itrk10
MUH3_LM6_TK12.Level3TrackObject:        l3trk12
MUH3_LM6_TK12.Level3MuonObject:         l3l6
MUH3_LM6_TK12.Tag:                      MUH3_LM6_TK12
MUH3_LM6_TK12.UseTriggerFired: true

MUH3_LM10_TK12.muonBranch:              %{VJets.LooseMuon_Branch}
MUH3_LM10_TK12.TriggerVersions:         13.03,13.90
MUH3_LM10_TK12.UseRunRange:             true
MUH3_LM10_TK12.Muon0_requireL1L2L3:     1,1,1
MUH3_LM10_TK12.Level1MuonObject:        l1atxx
MUH3_LM10_TK12.Level2MuonObject:        l2m0
MUH3_LM10_TK12.Level1TrackObject:       l1itrk10
MUH3_LM10_TK12.Level3TrackObject:       l3trk12h10
MUH3_LM10_TK12.Level3MuonObject:        l3l10
MUH3_LM10_TK12.Tag:                     MUH3_LM10_TK12
MUH3_LM10_TK12.UseTriggerFired: true

MUH3_LM15.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH3_LM15.TriggerVersions:              13.03,13.23
MUH3_LM15.UseRunRange:                  true
MUH3_LM15.Muon0_requireL1L2L3:          1,1,1
MUH3_LM15.Level1MuonObject:             l1atxx
MUH3_LM15.Level2MuonObject:             l2m0
MUH3_LM15.Level1TrackObject:            l1itrk10
MUH3_LM15.Level3MuonObject:             l3l15
MUH3_LM15.Tag:                          MUH3_LM15
MUH3_LM15.UseTriggerFired: true

MUH4_LM15.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH4_LM15.TriggerVersions:              13.03,13.11
MUH4_LM15.UseRunRange:                  true
MUH4_LM15.Muon0_requireL1L2L3:          1,1,1
MUH4_LM15.Level1MuonObject:             l1wttx
MUH4_LM15.Level2MuonObject:             l2m5
MUH4_LM15.Level3MuonObject:             l3l15
MUH4_LM15.Tag:                          MUH4_LM15
MUH4_LM15.UseTriggerFired: true

MUH4_TK10.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH4_TK10.TriggerVersions:              13.03,13.11
MUH4_TK10.UseRunRange:                  true
MUH4_TK10.Muon0_requireL1L2L3:          1,1,1
MUH4_TK10.Level1MuonObject:             l1wttx
MUH4_TK10.Level2MuonObject:             l2m5
MUH4_TK10.Level3TrackObject:            l3trk10h10
MUH4_TK10.Tag:                          MUH4_TK10
MUH4_TK10.UseTriggerFired: true

MUH5_LM15.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH5_LM15.TriggerVersions:              13.03,15.00
MUH5_LM15.UseRunRange:                  true
MUH5_LM15.Muon0_requireL1L2L3:          1,1,1
MUH5_LM15.Level1MuonObject:             l1bttx
MUH5_LM15.Level2MuonObject:             l2m5
MUH5_LM15.Level3MuonObject:             l3l15
MUH5_LM15.Tag:                          MUH5_LM15
MUH5_LM15.Debug:                        0
MUH5_LM15.UseTriggerFired: true

MUH6_TK12_TLM12.muonBranch:             %{VJets.LooseMuon_Branch}
MUH6_TK12_TLM12.TriggerVersions:        13.20,15.00
MUH6_TK12_TLM12.UseRunRange:            true
 #MUH6_TK12_TLM12.Muon0_requireL1L2L3:  1,1,1
MUH6_TK12_TLM12.Muon0_requireL1L2L3:    1,0,1
MUH6_TK12_TLM12.Level1MuonObject:       l1wllx
MUH6_TK12_TLM12.Level1TrackObject:      l1trk10
 #MUH6_TK12_TLM12.Level2MuonObject:     l3l0
MUH6_TK12_TLM12.Level3MuonObject:       l3l0
MUH6_TK12_TLM12.Level3CentralMatching:  l3cml12
MUH6_TK12_TLM12.Level3TrackObject:      l3trk12h10
MUH6_TK12_TLM12.Tag:                    MUH6_TK12_TLM12
MUH6_TK12_TLM12.UseTriggerFired: true

MUH6_LM15.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH6_LM15.TriggerVersions:              13.03,15.00
MUH6_LM15.UseRunRange:                  true
MUH6_LM15.Muon0_requireL1L2L3:          1,0,1
MUH6_LM15.Level1MuonObject:             l1wllx
MUH6_LM15.Level1TrackObject:            l1trk10
MUH6_LM15.Level3MuonObject:             l3l15
MUH6_LM15.Tag:                          MUH6_LM15
MUH6_LM15.UseTriggerFired: true

MUH6_TK10.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH6_TK10.TriggerVersions:              13.03,13.11
MUH6_TK10.UseRunRange:                  true
MUH6_TK10.Muon0_requireL1L2L3:          1,0,1
MUH6_TK10.Level1MuonObject:             l1wllx
MUH6_TK10.Level1TrackObject:            l1trk10
MUH6_TK10.Level3TrackObject:            l3trk10h10
MUH6_TK10.Tag:                          MUH6_TK10
MUH6_TK10.UseTriggerFired: true

MUH7_TK10.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH7_TK10.TriggerVersions:              13.03,13.11
MUH7_TK10.UseRunRange:                  true
MUH7_TK10.Muon0_requireL1L2L3:          1,1,1
MUH7_TK10.Level1MuonObject:             l1wtlx
MUH7_TK10.Level2MuonObject:             l2m5
MUH7_TK10.Level3TrackObject:            l3trk12h10
MUH7_TK10.Tag:                          MUH7_TK10
MUH7_TK10.UseTriggerFired: true

MUH7_TK12.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH7_TK12.TriggerVersions:              13.20,15.00
MUH7_TK12.UseRunRange:                  true
MUH7_TK12.Muon0_requireL1L2L3:          1,1,1
MUH7_TK12.Level1MuonObject:             l1wtlx
MUH7_TK12.Level2MuonObject:             l2m5
MUH7_TK12.Level3TrackObject:            l3trk12h10
MUH7_TK12.Tag:                          MUH7_TK12
MUH7_TK12.UseTriggerFired: true

MUH7_LM15.muonBranch:                   %{VJets.LooseMuon_Branch}
MUH7_LM15.TriggerVersions:              13.03,15.00
MUH7_LM15.UseRunRange:                  true
MUH7_LM15.Muon0_requireL1L2L3:          1,1,1
MUH7_LM15.Level1MuonObject:             l1wtlx
MUH7_LM15.Level2MuonObject:             l2m5
MUH7_LM15.Level3MuonObject:             l3l15
MUH7_LM15.Tag:                          MUH7_LM15
MUH7_LM15.UseTriggerFired: true

MUH8_ILM15.muonBranch:                  %{VJets.LooseMuon_Branch}
MUH8_ILM15.TriggerVersions:             14.60,15.00
MUH8_ILM15.UseRunRange:                 true
MUH8_ILM15.Muon0_requireL1L2L3:         1,0,1
MUH8_ILM15.Level1MuonObject:            l1wtlx
MUH8_ILM15.Level1TrackObject:           l1trk10
MUH8_ILM15.Level3MuonObject:            l3l15
MUH8_ILM15.Level3Isolation:             iso_muon_cal3
MUH8_ILM15.Tag:                         MUH8_ILM15
MUH8_ILM15.UseTriggerFired: true

MUH8_ITLM10.muonBranch:                 %{VJets.LooseMuon_Branch}
MUH8_ITLM10.TriggerVersions:            14.60,15.00
MUH8_ITLM10.UseRunRange:                true
MUH8_ITLM10.Muon0_requireL1L2L3:        1,0,1
MUH8_ITLM10.Level1MuonObject:           l1wtlx
MUH8_ITLM10.Level1TrackObject:          l1trk10
MUH8_ITLM10.Level3MuonObject:           l3l0
MUH8_ITLM10.Level3TrackObject:          l3trk10h10
MUH8_ITLM10.Level3Isolation:            iso_muon_cm_l1
MUH8_ITLM10.Tag:                        MUH8_ITLM10
MUH8_ITLM10.UseTriggerFired: true

### Select dimuon triggers

2MU_A_L2M0.muonBranch:                  %{VJets.LooseMuon_Branch}
2MU_A_L2M0.TriggerVersions:             8.00,10.99
2MU_A_L2M0.UseRunRange:                 true
2MU_A_L2M0.UseTriggerFired:             true
# 2MU_A_L2M0.Muon0_requireL1L2L3:         0,0,0
2MU_A_L2M0.Muon0_requireL1L2L3:         1,1,0
2MU_A_L2M0.Muon1_requireL1L2L3:         1,0,0
2MU_A_L2M0.Level1MuonObject:            l1atxx
2MU_A_L2M0.Level2MuonObject:            l2m0
2MU_A_L2M0.Tag:                         2MU_A_L2M0

2MU_A_L2M0_TRK10.muonBranch:                  %{VJets.LooseMuon_Branch}
2MU_A_L2M0_TRK10.TriggerVersions:             11.00,11.99
2MU_A_L2M0_TRK10.UseRunRange:                 true
2MU_A_L2M0_TRK10.UseTriggerFired:             true
# 2MU_A_L2M0_TRK10.Muon0_requireL1L2L3:         0,0,0
2MU_A_L2M0_TRK10.Muon0_requireL1L2L3:         1,1,1
2MU_A_L2M0_TRK10.Muon1_requireL1L2L3:         1,0,0
2MU_A_L2M0_TRK10.Level1MuonObject:            l1atxx
2MU_A_L2M0_TRK10.Level2MuonObject:            l2m0
2MU_A_L2M0_TRK10.Level3TrackObject:           l3trk10
2MU_A_L2M0_TRK10.Tag:                         2MU_A_L2M0_TRK10

2MU_A_L2M0_L3L15.muonBranch:                  %{VJets.LooseMuon_Branch}
2MU_A_L2M0_L3L15.TriggerVersions:             11.00,11.99
2MU_A_L2M0_L3L15.UseRunRange:                 true
2MU_A_L2M0_L3L15.UseTriggerFired:             true
# 2MU_A_L2M0_L3L15.Muon0_requireL1L2L3:         0,0,0
2MU_A_L2M0_L3L15.Muon0_requireL1L2L3:         1,1,1
2MU_A_L2M0_L3L15.Muon1_requireL1L2L3:         1,0,0
2MU_A_L2M0_L3L15.Level1MuonObject:            l1atxx
2MU_A_L2M0_L3L15.Level2MuonObject:            l2m0
2MU_A_L2M0_L3L15.Level3MuonObject:            l3l15
2MU_A_L2M0_L3L15.Tag:                         2MU_A_L2M0_L3L15

2MU_A_L2M0_TRK5.muonBranch:                  %{VJets.LooseMuon_Branch}
2MU_A_L2M0_TRK5.TriggerVersions:             12.00,12.99
2MU_A_L2M0_TRK5.UseRunRange:                 true
2MU_A_L2M0_TRK5.UseTriggerFired:             true
# 2MU_A_L2M0_TRK5.Muon0_requireL1L2L3:         0,0,0
2MU_A_L2M0_TRK5.Muon0_requireL1L2L3:         1,1,1
2MU_A_L2M0_TRK5.Muon1_requireL1L2L3:         1,0,0
2MU_A_L2M0_TRK5.Level1MuonObject:            l1atxx
2MU_A_L2M0_TRK5.Level2MuonObject:            l2m0
2MU_A_L2M0_TRK5.Level3TrackObject:           l3trk5
2MU_A_L2M0_TRK5.Tag:                         2MU_A_L2M0_TRK5

2MU_A_L2M0_L3L6.muonBranch:                  %{VJets.LooseMuon_Branch}
2MU_A_L2M0_L3L6.TriggerVersions:             12.00,12.99
2MU_A_L2M0_L3L6.UseRunRange:                 true
2MU_A_L2M0_L3L6.UseTriggerFired:             true
# 2MU_A_L2M0_L3L6.Muon0_requireL1L2L3:         0,0,0
2MU_A_L2M0_L3L6.Muon0_requireL1L2L3:         1,1,1
2MU_A_L2M0_L3L6.Muon1_requireL1L2L3:         1,0,0
2MU_A_L2M0_L3L6.Level1MuonObject:            l1atxx
2MU_A_L2M0_L3L6.Level2MuonObject:            l2m0
2MU_A_L2M0_L3L6.Level3MuonObject:            l3l6
2MU_A_L2M0_L3L6.Tag:                         2MU_A_L2M0_L3L6

DMU1_TK5.muonBranch:                  %{VJets.LooseMuon_Branch}
DMU1_TK5.TriggerVersions:             13.00,13.29
DMU1_TK5.UseRunRange:                 true
DMU1_TK5.UseTriggerFired:             true
# DMU1_TK5.Muon0_requireL1L2L3:         0,0,0
DMU1_TK5.Muon0_requireL1L2L3:         1,1,1
DMU1_TK5.Muon1_requireL1L2L3:         1,0,0
DMU1_TK5.Level1MuonObject:            l1atxx
DMU1_TK5.Level2MuonObject:            l2m0
DMU1_TK5.Level3TrackObject:           l3trk5h10
DMU1_TK5.Tag:                         DMU1_TK5

DMU1_LM6.muonBranch:                  %{VJets.LooseMuon_Branch}
DMU1_LM6.TriggerVersions:             13.00,13.29
DMU1_LM6.UseRunRange:                 true
DMU1_LM6.UseTriggerFired:             true
# DMU1_LM6.Muon0_requireL1L2L3:         0,0,0
DMU1_LM6.Muon0_requireL1L2L3:         1,1,1
DMU1_LM6.Muon1_requireL1L2L3:         1,0,0
DMU1_LM6.Level1MuonObject:            l1atxx
DMU1_LM6.Level2MuonObject:            l2m0
DMU1_LM6.Level3MuonObject:            l3l6
DMU1_LM6.Tag:                         DMU1_LM6

DMU1_TK8.muonBranch:                  %{VJets.LooseMuon_Branch}
DMU1_TK8.TriggerVersions:             13.3,13.99
DMU1_TK8.UseRunRange:                 true
DMU1_TK8.UseTriggerFired:             true
# DMU1_TK8.Muon0_requireL1L2L3:         0,0,0
DMU1_TK8.Muon0_requireL1L2L3:         1,1,1
DMU1_TK8.Muon1_requireL1L2L3:         1,0,0
DMU1_TK8.Level1MuonObject:            l1atxx
DMU1_TK8.Level2MuonObject:            l2m0
DMU1_TK8.Level3TrackObject:           l3trk8h10
DMU1_TK8.Tag:                         DMU1_TK8

DMU1_LM15.muonBranch:                  %{VJets.LooseMuon_Branch}
DMU1_LM15.TriggerVersions:             13.3,13.99
DMU1_LM15.UseRunRange:                 true
DMU1_LM15.UseTriggerFired:             true
# DMU1_LM15.Muon0_requireL1L2L3:         0,0,0
DMU1_LM15.Muon0_requireL1L2L3:         1,1,1
DMU1_LM15.Muon1_requireL1L2L3:         1,0,0
DMU1_LM15.Level1MuonObject:            l1atxx
DMU1_LM15.Level2MuonObject:            l2m0
DMU1_LM15.Level3MuonObject:            l3l15
DMU1_LM15.Tag:                         DMU1_LM15

DMU1_TK8_TLM8.muonBranch:                  %{VJets.LooseMuon_Branch}
DMU1_TK8_TLM8.TriggerVersions:             14.00,14.59
DMU1_TK8_TLM8.UseRunRange:                 true
DMU1_TK8_TLM8.UseTriggerFired:             true
# DMU1_TK8_TLM8.Muon0_requireL1L2L3:         0,0,0
DMU1_TK8_TLM8.Muon0_requireL1L2L3:         1,1,1
DMU1_TK8_TLM8.Muon1_requireL1L2L3:         1,0,0
DMU1_TK8_TLM8.Level1MuonObject:            l1atxx
DMU1_TK8_TLM8.Level2MuonObject:            l2m0
DMU1_TK8_TLM8.Level3TrackObject:           l3trk8h10
DMU1_TK8_TLM8.Level3CentralMatching:       l3cml8
DMU1_TK8_TLM8.Tag:                         DMU1_TK8_TLM8

DMU1_2LM6.muonBranch:                  %{VJets.LooseMuon_Branch}
DMU1_2LM6.TriggerVersions:             14.00,14.59
DMU1_2LM6.UseRunRange:                 true
DMU1_2LM6.UseTriggerFired:             true
# DMU1_2LM6.Muon0_requireL1L2L3:         0,0,0
DMU1_2LM6.Muon0_requireL1L2L3:         1,1,1
DMU1_2LM6.Muon1_requireL1L2L3:         1,0,1
DMU1_2LM6.Level1MuonObject:            l1atxx
DMU1_2LM6.Level2MuonObject:            l2m0
DMU1_2LM6.Level3MuonObject:            l3l6
DMU1_2LM6.Tag:                         DMU1_2LM6

DMUA_TK8_TLM8.muonBranch:                  %{VJets.LooseMuon_Branch}
DMUA_TK8_TLM8.TriggerVersions:             14.60,14.99
DMUA_TK8_TLM8.UseRunRange:                 true
DMUA_TK8_TLM8.UseTriggerFired:             true
# DMUA_TK8_TLM8.Muon0_requireL1L2L3:         0,0,0
DMUA_TK8_TLM8.Muon0_requireL1L2L3:         1,1,1
DMUA_TK8_TLM8.Muon1_requireL1L2L3:         1,0,0
DMUA_TK8_TLM8.Level1MuonObject:            l1atxx
DMUA_TK8_TLM8.Level1MuonObject:            l1atlx
DMUA_TK8_TLM8.Level2MuonObject:            l2m0
DMUA_TK8_TLM8.Level3TrackObject:           l3trk8h10
DMUA_TK8_TLM8.Level3CentralMatching:       l3cml8
DMUA_TK8_TLM8.Tag:                         DMUA_TK8_TLM8

DMUA_2LM6.muonBranch:                  %{VJets.LooseMuon_Branch}
DMUA_2LM6.TriggerVersions:             14.60,14.99
DMUA_2LM6.UseRunRange:                 true
DMUA_2LM6.UseTriggerFired:             true
# DMUA_2LM6.Muon0_requireL1L2L3:         0,0,0
DMUA_2LM6.Muon0_requireL1L2L3:         1,1,1
DMUA_2LM6.Muon1_requireL1L2L3:         1,0,1
DMUA_2LM6.Level1MuonObject:            l1atlx
DMUA_2LM6.Level1MuonObject:            l1atxx
DMUA_2LM6.Level2MuonObject:            l2m0
DMUA_2LM6.Level3MuonObject:            l3l6
DMUA_2LM6.Tag:                         DMUA_2LM6

MU_JT20_L2M0.muonBranch:                %{VJets.LooseMuon_Branch}
MU_JT20_L2M0.UseTriggerFired:           true
MU_JT20_L2M0.UseRunRange:               true
MU_JT20_L2M0.TriggerVersions:           8.00,11.99
MU_JT20_L2M0.Muon0_requireL1L2L3:       1,1,0
MU_JT20_L2M0.Level1MuonObject:          l1atxx
MU_JT20_L2M0.Level2MuonObject:          l2m0
MU_JT20_L2M0.Tag:                       MU_JT20_L2M0

MU_JT25_L2M0.muonBranch:                %{VJets.LooseMuon_Branch}
MU_JT25_L2M0.UseTriggerFired:           true
MU_JT25_L2M0.UseRunRange:               true
MU_JT25_L2M0.TriggerVersions:           12.00,12.99
MU_JT25_L2M0.Muon0_requireL1L2L3:       1,1,0
MU_JT25_L2M0.Level1MuonObject:          l1atxx
MU_JT25_L2M0.Level2MuonObject:          l2m0
MU_JT25_L2M0.Tag:                       MU_JT25_L2M0

MUJ2_JT25.muonBranch:               %{VJets.LooseMuon_Branch}
MUJ2_JT25.UseTriggerFired:          true
MUJ2_JT25.UseRunRange:              true
MUJ2_JT25.TriggerVersions:          13.00,13.19
MUJ2_JT25.Muon0_requireL1L2L3:      1,1,0
MUJ2_JT25.Level1MuonObject:         l1atlx
MUJ2_JT25.Level2MuonObject:         l2m0
MUJ2_JT25.Tag:                      MUJ2_JT25

MUJ2_JT25_LM3.muonBranch:               %{VJets.LooseMuon_Branch}
MUJ2_JT25_LM3.UseTriggerFired:          true
MUJ2_JT25_LM3.UseRunRange:              true
MUJ2_JT25_LM3.TriggerVersions:          13.20,13.29
MUJ2_JT25_LM3.Muon0_requireL1L2L3:      1,1,1
MUJ2_JT25_LM3.Level1MuonObject:         l1atlx
MUJ2_JT25_LM3.Level2MuonObject:         l2m0
MUJ2_JT25_LM3.Level3MuonObject:         l3l3
MUJ2_JT25_LM3.Tag:                      MUJ2_JT25_LM3

MUJ2_JT20_TK10.muonBranch:               %{VJets.LooseMuon_Branch}
MUJ2_JT20_TK10.UseTriggerFired:          true
MUJ2_JT20_TK10.UseRunRange:              true
MUJ2_JT20_TK10.TriggerVersions:          13.30,13.99
MUJ2_JT20_TK10.Muon0_requireL1L2L3:      1,1,1
MUJ2_JT20_TK10.Level1MuonObject:         l1atlx
MUJ2_JT20_TK10.Level2MuonObject:         l2m0
MUJ2_JT20_TK10.Level3TrackObject:        l3trk10
MUJ2_JT20_TK10.Tag:                      MUJ2_JT20_TK10

MUJ2_JT20_LM10.muonBranch:               %{VJets.LooseMuon_Branch}
MUJ2_JT20_LM10.UseTriggerFired:          true
MUJ2_JT20_LM10.UseRunRange:              true
MUJ2_JT20_LM10.TriggerVersions:          13.30,13.99
MUJ2_JT20_LM10.Muon0_requireL1L2L3:      1,1,1
MUJ2_JT20_LM10.Level1MuonObject:         l1atlx
MUJ2_JT20_LM10.Level2MuonObject:         l2m0
MUJ2_JT20_LM10.Level3MuonObject:         l3l10
MUJ2_JT20_LM10.Tag:                      MUJ2_JT20_LM10

MUJ1_JT25_LM3.muonBranch:               %{VJets.LooseMuon_Branch}
MUJ1_JT25_LM3.UseTriggerFired:          true
MUJ1_JT25_LM3.UseRunRange:              true
MUJ1_JT25_LM3.TriggerVersions:          14.00,14.19
MUJ1_JT25_LM3.Muon0_requireL1L2L3:      1,1,1
MUJ1_JT25_LM3.Level1MuonObject:         l1atlx
MUJ1_JT25_LM3.Level2MuonObject:         l2m0
MUJ1_JT25_LM3.Level3MuonObject:         l3l3
MUJ1_JT25_LM3.Tag:                      MUJ1_JT25_LM3

MUJ1_JT25_ILM3.muonBranch:               %{VJets.LooseMuon_Branch}
MUJ1_JT25_ILM3.UseTriggerFired:          true
MUJ1_JT25_ILM3.UseRunRange:              true
MUJ1_JT25_ILM3.TriggerVersions:          14.20,14.99
MUJ1_JT25_ILM3.Muon0_requireL1L2L3:      1,1,1
MUJ1_JT25_ILM3.Level1MuonObject:         l1atlx
MUJ1_JT25_ILM3.Level2MuonObject:         l2m0
MUJ1_JT25_ILM3.Level3MuonObject:         l3l3
MUJ1_JT25_ILM3.Level3Isolation:         iso_muon_cal8
MUJ1_JT25_ILM3.Tag:                      MUJ1_JT25_ILM3


### END
