DiMuonTrigEff.Run: Group(MuOrTrigger)

############# Trigger Group ##########################
MuOrTrigger.Run:          cafTriggerEfficiency(MuOrTrigger),Group(MuOr),cafTriggerOutput(MuOrTrigger)
MuOrTrigger.embranch:     TurnOff
MuOrTrigger.mubranch:     %{VJets.TightMuon_Branch}
MuOrTrigger.jetbranch:    TurnOff
MuOrTrigger.metbranch:    TurnOff
#MuOrTrigger.lumi:        20.0,21.2,15.2,54.4,209.8,250.0,150.0
#MuOrTrigger.triglist:    8,9,10,11,12,13,14
MuOrTrigger.lumi:         31.77, 74.75, 231.21, 375.54, 333.00
MuOrTrigger.triglist:     v8,v103,v12,v13,v14
#MuOrTrigger.histos:      MuOr,TriggerProbability
MuOrTrigger.histos:       TriggerProbability
MuOrTrigger.histosBins:   120
# MuOrTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
MuOr.Run:               Probability_DILEP(MuOr)
# ,TriggerProbability(MuOr)

# put SingleMuon because it's hardcoded in Probability_Muon ...
# MuOr.CombineL1L2L3:     SingleMuon

MuOr.TriggerVersions:   v8,v103,v12,v13,v14
MuOr.Debug:             no
MuOr.MuonPath:          ./sgmuor_eff
# DIMUProb.TrackPath: ./muid_eff/results_data
# DIMUProb.JetPath: ./jetid_eff/p17.09.03/
MuOr.Path:              ./
#MuOr.MuonPath:         ./muid_eff/results_data
#MuOr.TrackPath:        ./muid_eff/results_data
# MuOr.MuonPath:          ./sgmuor_eff
# MuOr.TrackPath:         ./sgmuor_eff
#MuOr.MuonQuality:      %{MuonCfg.EffMuonQuality}
# MuOr.MuonQuality:       loose_track_medium_NPLoose
# MuOr.TrackQuality:      track_medium
# MuOr.IsolationQuality:  none
MuOr.ignoreOverflow: true
MuOr.ignoreUnderflow: false
MuOr.OutputFileName: ./table_trigger_%{VJets.EffOutput}

MuOr.GlobalTriggerVersions: v8 v103 v12 v13 v14

MuOr.sigma:                  true
#
# Trigger Version 8-103  (taking 10.3 - 12 values since there is no l3 info available)
#
v8.Triggers:                                          SingleMuOR
v103.Triggers:                                       SingleMuOR
v12.Triggers:                                         SingleMuOR
v13.Triggers:                                         SingleMuOR
v14.Triggers:                                         SingleMuOR

SingleMuOR.ObjectsL1:      singlemuor

singlemuor.EffName:         eff
singlemuor.ObjType:         SingleMuon
singlemuor.ObjQuality:      SingleMuonTriggersOR
# singlemuor.EffVarNames:     pt deteta
singlemuor.EffVarNames:     phi deteta
# singlemuor.EffVarNames:     pt
singlemuor.ObjRelativeTo:   loose_track_medium_NPLoose

# mu1ptxwtxx_v8v12.ObjType:              Muon
# mu1ptxwtxx_v8v12.ObjQuality:           l1wtxx
# mu1ptxwtxx_v8v12.EffVarNames:          phi deteta
# mu1ptxwtxx_v8v12.ObjRelativeTo:        loose
# mu1ptxwtxx_v8v12.TriggerVersionLow:    8.0
# mu1ptxwtxx_v8v12.TriggerVersionHigh:   12.99
# 
# 
# 
# MuOr.Level3SingleMuonEffVarNames_8-103_INC:           pt deteta
# MuOr.Level3SingleMuonObjQuality_8-103_INC:            SingleMuonTriggersOR
# MuOr.Level3SingleMuonObjRelativeTo_8-103_INC:         %{MuOr.MuonQuality}
# MuOr.Level3SingleMuonTriggerVersionLow_8-103_INC:     10.3
# MuOr.Level3SingleMuonTriggerVersionHigh_8-103_INC:    12
# 
# #
# # Trigger Version 103-12
# #
# MuOr.Level3SingleMuonEffVarNames_103-12_INC:          pt deteta
# MuOr.Level3SingleMuonObjQuality_103-12_INC:           SingleMuonTriggersOR
# MuOr.Level3SingleMuonObjRelativeTo_103-12_INC:        %{MuOr.MuonQuality}
# MuOr.Level3SingleMuonTriggerVersionLow_103-12_INC:    10.3
# MuOr.Level3SingleMuonTriggerVersionHigh_103-12_INC:   12
# 
# #
# # Trigger Version 12-13
# #
# MuOr.Level3SingleMuonEffVarNames_12_INC:              pt deteta
# MuOr.Level3SingleMuonObjQuality_12_INC:               SingleMuonTriggersOR
# MuOr.Level3SingleMuonObjRelativeTo_12_INC:            %{MuOr.MuonQuality}
# MuOr.Level3SingleMuonTriggerVersionLow_12_INC:        12
# MuOr.Level3SingleMuonTriggerVersionHigh_12_INC:       13
# 
# #
# # Trigger Version 13-14
# #
# MuOr.Level3SingleMuonEffVarNames_13_INC:              pt deteta
# MuOr.Level3SingleMuonObjQuality_13_INC:               SingleMuonTriggersOR
# MuOr.Level3SingleMuonObjRelativeTo_13_INC:            %{MuOr.MuonQuality}
# MuOr.Level3SingleMuonTriggerVersionLow_13_INC:        13
# MuOr.Level3SingleMuonTriggerVersionHigh_13_INC:       14
# 
# #
# # Trigger Version 14-15
# #
# MuOr.Level3SingleMuonEffVarNames_14_INC:              pt deteta
# MuOr.Level3SingleMuonObjQuality_14_INC:               SingleMuonTriggersOR
# MuOr.Level3SingleMuonObjRelativeTo_14_INC:            %{MuOr.MuonQuality}
# MuOr.Level3SingleMuonTriggerVersionLow_14_INC:        14.5
# MuOr.Level3SingleMuonTriggerVersionHigh_14_INC:       15
# 
# #
# 
# # (END) 
