###############################################################################
#  Muon Matching for SGMUOR 
###############################################################################

#MatchMuon_SGMUOR.Run: Passed
 
 MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUW_A_L2M3_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M5_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUW_W_L2M3_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M0_TRK3)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M3_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUW_W_L2M5_TRK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MU_W_L2M0_TRK10)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_TK12_TLM12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_LM15)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_ILM15)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_ITLM10)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM3_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM6_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM10_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH2_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM3_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM6_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM10_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH3_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH4_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH4_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH5_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH6_TK12_TLM12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH6_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH6_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH7_TK10)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH7_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH7_LM15)

+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH8_TK12_TLM12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH1_TK12)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH8_ILM15)
+MatchMuon_SGMUOR.Run:                  MuonTriggerMatch(MUH8_ITLM10)

MUW_A_L2M3_TRK10.muonBranch:            %{Top.LooseLooseDileptonPair_Branch}
MUW_A_L2M3_TRK10.TriggerVersions:       10.30,11.04
MUW_A_L2M3_TRK10.UseRunRange:           true
MUW_A_L2M3_TRK10.Muon0_requireL1L2L3:   1,1,1
MUW_A_L2M3_TRK10.Level1MuonObject:      l1atlx
MUW_A_L2M3_TRK10.Level2MuonObject:      l2m3
MUW_A_L2M3_TRK10.Level3TrackObject:     l3trk10
MUW_A_L2M3_TRK10.Tag:                   MUW_A_L2M3_TRK10

MU_W_L2M5_TRK10.muonBranch:             %{Top.LooseLooseDileptonPair_Branch}
MU_W_L2M5_TRK10.TriggerVersions:        8.00,10.03
MU_W_L2M5_TRK10.UseRunRange:            true
MU_W_L2M5_TRK10.Muon0_requireL1L2L3:    1,1,0
MU_W_L2M5_TRK10.Level1MuonObject:       l1wtxx
MU_W_L2M5_TRK10.Level2MuonObject:       l2m5
MU_W_L2M5_TRK10.Level3TrackObject:      l3trk10
MU_W_L2M5_TRK10.Tag:                    MU_W_L2M5_TRK10

MUW_W_L2M3_TRK10.muonBranch:            %{Top.LooseLooseDileptonPair_Branch}
MUW_W_L2M3_TRK10.TriggerVersions:       10.30,12.37
MUW_W_L2M3_TRK10.UseRunRange:           true
MUW_W_L2M3_TRK10.Muon0_requireL1L2L3:   1,1,1
MUW_W_L2M3_TRK10.Level1MuonObject:      l1wtlx
MUW_W_L2M3_TRK10.Level2MuonObject:      l2m3
MUW_W_L2M3_TRK10.Level3TrackObject:     l3trk10
MUW_W_L2M3_TRK10.Tag:                   MUW_W_L2M3_TRK10

MU_W_L2M0_TRK3.muonBranch:              %{Top.LooseLooseDileptonPair_Branch}
MU_W_L2M0_TRK3.TriggerVersions:         8.00,9.50
MU_W_L2M0_TRK3.UseRunRange:             true
MU_W_L2M0_TRK3.Muon0_requireL1L2L3:     1,1,0
MU_W_L2M0_TRK3.Level1MuonObject:        l1wtxx
MU_W_L2M0_TRK3.Level2MuonObject:        l2m5
MU_W_L2M0_TRK3.Level3TrackObject:       l3trk3
MU_W_L2M0_TRK3.Tag:                     MU_W_L2M0_TRK3

MU_W_L2M3_TRK10.muonBranch:             %{Top.LooseLooseDileptonPair_Branch}
MU_W_L2M3_TRK10.TriggerVersions:        10.30,12.37
MU_W_L2M3_TRK10.UseRunRange:            true
MU_W_L2M3_TRK10.Muon0_requireL1L2L3:    1,1,1
MU_W_L2M3_TRK10.Level1MuonObject:       l1wtxx
MU_W_L2M3_TRK10.Level2MuonObject:       l2m3
MU_W_L2M3_TRK10.Level3TrackObject:      l3trk10
MU_W_L2M3_TRK10.Tag:                    MU_W_L2M3_TRK10

MUW_W_L2M5_TRK10.muonBranch:            %{Top.LooseLooseDileptonPair_Branch}
MUW_W_L2M5_TRK10.TriggerVersions:       10.00,10.03
MUW_W_L2M5_TRK10.UseRunRange:           true
MUW_W_L2M5_TRK10.Muon0_requireL1L2L3:   1,1,1
MUW_W_L2M5_TRK10.Level1MuonObject:      l1wtlx
MUW_W_L2M5_TRK10.Level2MuonObject:      l2m5
MUW_W_L2M5_TRK10.Level3TrackObject:     l3trk10
MUW_W_L2M5_TRK10.Tag:                   MUW_W_L2M5_TRK10

MU_W_L2M0_TRK10.muonBranch:             %{Top.LooseLooseDileptonPair_Branch}
MU_W_L2M0_TRK10.TriggerVersions:        9.30,9.50
MU_W_L2M0_TRK10.UseRunRange:            true
MU_W_L2M0_TRK10.Muon0_requireL1L2L3:    1,1,0
MU_W_L2M0_TRK10.Level1MuonObject:       l1wtxx
MU_W_L2M0_TRK10.Level2MuonObject:       l2m0
MU_W_L2M0_TRK10.Level3TrackObject:      l3trk10
MU_W_L2M0_TRK10.Tag:                    MU_W_L2M0_TRK3

MUH1_TK12_TLM12.muonBranch:             %{Top.LooseLooseDileptonPair_Branch}
MUH1_TK12_TLM12.TriggerVersions:        13.20,15.00
MUH1_TK12_TLM12.UseRunRange:            true
 #MUH1_TK12_TLM12.Muon0_requireL1L2L3:  1,1,1
MUH1_TK12_TLM12.Muon0_requireL1L2L3:    1,0,1
MUH1_TK12_TLM12.Level1MuonObject:       l1wtxx
MUH1_TK12_TLM12.Level1TrackObject:      l1trk10
 #MUH1_TK12_TLM12.Level2MuonObject:     l3l0
MUH1_TK12_TLM12.Level3MuonObject:       l3l0
MUH1_TK12_TLM12.Level3CentralMatching:  l3cml12
MUH1_TK12_TLM12.Level3TrackObject:      l3trk12h10
MUH1_TK12_TLM12.Tag:                    MUH1_TK12_TLM12

MUH1_TK12.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH1_TK12.TriggerVersions:              13.10,13.11
MUH1_TK12.UseRunRange:                  true
 #MUH1_TK12.Muon0_requireL1L2L3:        1,1,1
MUH1_TK12.Muon0_requireL1L2L3:          1,0,1
MUH1_TK12.Level1MuonObject:             l1wtxx
MUH1_TK12.Level1TrackObject:            l1trk10
 #MUH1_TK12.Level2MuonObject:           l3l0
MUH1_TK12.Level3MuonObject:             l3l0
 #MUH1_TK12.Level3MuonObject:           l3cml12
MUH1_TK12.Level3TrackObject:            l3trk12h10
MUH1_TK12.Tag:                          MUH1_TK12

MUH1_LM15.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH1_LM15.TriggerVersions:              13.03,13.90
MUH1_LM15.UseRunRange:                  true
MUH1_LM15.Muon0_requireL1L2L3:          1,0,1
MUH1_LM15.Level1MuonObject:             l1wtxx
MUH1_LM15.Level1TrackObject:            l1trk10
MUH1_LM15.Level3MuonObject:             l3l15
MUH1_LM15.Tag:                          MUH1_LM15

MUH1_TK10.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH1_TK10.TriggerVersions:              13.03,13.62
MUH1_TK10.UseRunRange:                  true
MUH1_TK10.Muon0_requireL1L2L3:          1,0,1
MUH1_TK10.Level1MuonObject:             l1wtxx
MUH1_TK10.Level1TrackObject:            l1trk10
MUH1_TK10.Level3TrackObject:            l3trk10h10
MUH1_TK10.Tag:                          MUH1_TK10

MUH1_ILM15.muonBranch:                  %{Top.LooseLooseDileptonPair_Branch}
MUH1_ILM15.TriggerVersions:             14.00,15.00
MUH1_ILM15.UseRunRange:                 true
MUH1_ILM15.Muon0_requireL1L2L3:         1,0,1
MUH1_ILM15.Level1MuonObject:            l1wtxx
MUH1_ILM15.Level1TrackObject:           l1trk10
MUH1_ILM15.Level3MuonObject:            l3l15
MUH1_ILM15.Level3Isolation:             iso_muon_cal3
MUH1_ILM15.Tag:                         MUH1_ILM15

MUH1_ITLM10.muonBranch:                 %{Top.LooseLooseDileptonPair_Branch}
MUH1_ITLM10.TriggerVersions:            14.00,15.00
MUH1_ITLM10.UseRunRange:                true
MUH1_ITLM10.Muon0_requireL1L2L3:        1,0,1
MUH1_ITLM10.Level1MuonObject:           l1wtxx
MUH1_ITLM10.Level1TrackObject:          l1trk10
MUH1_ITLM10.Level3MuonObject:           l3l0
MUH1_ITLM10.Level3TrackObject:          l3trk10h10
MUH1_ITLM10.Level3Isolation:            iso_muon_cm_l1
MUH1_ITLM10.Tag:                        MUH1_ITLM10

MUH2_LM3_TK12.muonBranch:               %{Top.LooseLooseDileptonPair_Branch}
MUH2_LM3_TK12.TriggerVersions:          13.03,13.11
MUH2_LM3_TK12.UseRunRange:              true
MUH2_LM3_TK12.Muon0_requireL1L2L3:      1,1,1
MUH2_LM3_TK12.Level1MuonObject:         l1atlx
MUH2_LM3_TK12.Level2MuonObject:         l2m3
MUH2_LM3_TK12.Level1TrackObject:        l1trk10
MUH2_LM3_TK12.Level3TrackObject:        l3trk12h10
MUH2_LM3_TK12.Level3MuonObject:         l3l3
MUH2_LM3_TK12.Tag:                      MUH2_LM3_TK12

MUH2_LM6_TK12.muonBranch:               %{Top.LooseLooseDileptonPair_Branch}
MUH2_LM6_TK12.TriggerVersions:          13.20,13.23
MUH2_LM6_TK12.UseRunRange:              true
MUH2_LM6_TK12.Muon0_requireL1L2L3:      1,1,1
MUH2_LM6_TK12.Level1MuonObject:         l1atlx
MUH2_LM6_TK12.Level2MuonObject:         l2m3
MUH2_LM6_TK12.Level1TrackObject:        l1trk10
#h10,h8?
MUH2_LM6_TK12.Level3TrackObject:        l3trk12h10
MUH2_LM6_TK12.Level3MuonObject:         l3l6
MUH2_LM6_TK12.Tag:                      MUH2_LM6_TK12

MUH2_LM10_TK12.muonBranch:              %{Top.LooseLooseDileptonPair_Branch}
MUH2_LM10_TK12.TriggerVersions:         13.30,13.90
MUH2_LM10_TK12.UseRunRange:             true
MUH2_LM10_TK12.Muon0_requireL1L2L3:     1,1,1
MUH2_LM10_TK12.Level1MuonObject:        l1atlx
MUH2_LM10_TK12.Level2MuonObject:        l2m3
MUH2_LM10_TK12.Level1TrackObject:       l1trk10
MUH2_LM10_TK12.Level3TrackObject:       l3trk12h10
MUH2_LM10_TK12.Level3MuonObject:        l3l10
MUH2_LM10_TK12.Tag:                     MUH2_LM10_TK12

MUH2_LM15.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH2_LM15.TriggerVersions:              13.03,13.23
MUH2_LM15.UseRunRange:                  true
MUH2_LM15.Muon0_requireL1L2L3:          1,1,1
MUH2_LM15.Level1MuonObject:             l1atlx
MUH2_LM15.Level2MuonObject:             l2m3
MUH2_LM15.Level1TrackObject:            l1trk10
MUH2_LM15.Level3MuonObject:             l3l15
MUH2_LM15.Tag:                          MUH2_LM15

MUH3_LM3_TK10.muonBranch:               %{Top.LooseLooseDileptonPair_Branch}
MUH3_LM3_TK10.TriggerVersions:          13.03,13.11
MUH3_LM3_TK10.UseRunRange:              true
MUH3_LM3_TK10.Muon0_requireL1L2L3:      1,1,1
MUH3_LM3_TK10.Level1MuonObject:         l1atxx
MUH3_LM3_TK10.Level2MuonObject:         l2m0
MUH3_LM3_TK10.Level1TrackObject:        l1itrk10
MUH3_LM3_TK10.Level3TrackObject:        l3trk10h10
MUH3_LM3_TK10.Level3MuonObject:         l3l3
MUH3_LM3_TK10.Tag:                      MUH3_LM3_TK10

MUH3_LM6_TK12.muonBranch:               %{Top.LooseLooseDileptonPair_Branch}
MUH3_LM6_TK12.TriggerVersions:          13.20,13.23
MUH3_LM6_TK12.UseRunRange:              true
MUH3_LM6_TK12.Muon0_requireL1L2L3:      1,1,1
MUH3_LM6_TK12.Level1MuonObject:         l1atxx
MUH3_LM6_TK12.Level2MuonObject:         l2m0
MUH3_LM6_TK12.Level1TrackObject:        l1itrk10
MUH3_LM6_TK12.Level3TrackObject:        l3trk12h10
MUH3_LM6_TK12.Level3MuonObject:         l3l6
MUH3_LM6_TK12.Tag:                      MUH3_LM6_TK12

MUH3_LM10_TK12.muonBranch:              %{Top.LooseLooseDileptonPair_Branch}
MUH3_LM10_TK12.TriggerVersions:         13.03,13.90
MUH3_LM10_TK12.UseRunRange:             true
MUH3_LM10_TK12.Muon0_requireL1L2L3:     1,1,1
MUH3_LM10_TK12.Level1MuonObject:        l1atxx
MUH3_LM10_TK12.Level2MuonObject:        l2m0
MUH3_LM10_TK12.Level1TrackObject:       l1itrk10
MUH3_LM10_TK12.Level3TrackObject:       l3trk12h10
MUH3_LM10_TK12.Level3MuonObject:        l3l10
MUH3_LM10_TK12.Tag:                     MUH3_LM10_TK12

MUH3_LM15.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH3_LM15.TriggerVersions:              13.03,13.23
MUH3_LM15.UseRunRange:                  true
MUH3_LM15.Muon0_requireL1L2L3:          1,1,1
MUH3_LM15.Level1MuonObject:             l1atxx
MUH3_LM15.Level2MuonObject:             l2m0
MUH3_LM15.Level1TrackObject:            l1itrk10
MUH3_LM15.Level3MuonObject:             l3l15
MUH3_LM15.Tag:                          MUH3_LM15

MUH4_LM15.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH4_LM15.TriggerVersions:              13.03,13.11
MUH4_LM15.UseRunRange:                  true
MUH4_LM15.Muon0_requireL1L2L3:          1,1,1
MUH4_LM15.Level1MuonObject:             l1wttx
MUH4_LM15.Level2MuonObject:             l2m5
MUH4_LM15.Level3MuonObject:             l3l15
MUH4_LM15.Tag:                          MUH4_LM15

MUH4_TK10.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH4_TK10.TriggerVersions:              13.03,13.11
MUH4_TK10.UseRunRange:                  true
MUH4_TK10.Muon0_requireL1L2L3:          1,1,1
MUH4_TK10.Level1MuonObject:             l1wttx
MUH4_TK10.Level2MuonObject:             l2m5
MUH4_TK10.Level3TrackObject:            l3trk10h10
MUH4_TK10.Tag:                          MUH4_TK10

MUH5_LM15.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH5_LM15.TriggerVersions:              13.03,15.00
MUH5_LM15.UseRunRange:                  true
MUH5_LM15.Muon0_requireL1L2L3:          1,1,1
MUH5_LM15.Level1MuonObject:             l1bttx
MUH5_LM15.Level2MuonObject:             l2m5
MUH5_LM15.Level3MuonObject:             l3l15
MUH5_LM15.Tag:                          MUH5_LM15
MUH5_LM15.Debug:                        0

MUH6_TK12_TLM12.muonBranch:             %{Top.LooseLooseDileptonPair_Branch}
MUH6_TK12_TLM12.TriggerVersions:        13.20,15.00
MUH6_TK12_TLM12.UseRunRange:            true
 #MUH6_TK12_TLM12.Muon0_requireL1L2L3:  1,1,1
MUH6_TK12_TLM12.Muon0_requireL1L2L3:    1,0,1
MUH6_TK12_TLM12.Level1MuonObject:       l1wllx
MUH6_TK12_TLM12.Level1TrackObject:      l1trk10
 #MUH6_TK12_TLM12.Level2MuonObject:     l3l0
MUH6_TK12_TLM12.Level3MuonObject:       l3l0
MUH6_TK12_TLM12.Level3CentralMatching:  l3cml12
MUH6_TK12_TLM12.Level3TrackObject:      l3trk12h10
MUH6_TK12_TLM12.Tag:                    MUH6_TK12_TLM12

MUH6_LM15.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH6_LM15.TriggerVersions:              13.03,15.00
MUH6_LM15.UseRunRange:                  true
MUH6_LM15.Muon0_requireL1L2L3:          1,0,1
MUH6_LM15.Level1MuonObject:             l1wllx
MUH6_LM15.Level1TrackObject:            l1trk10
MUH6_LM15.Level3MuonObject:             l3l15
MUH6_LM15.Tag:                          MUH6_LM15

MUH6_TK10.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH6_TK10.TriggerVersions:              13.03,13.11
MUH6_TK10.UseRunRange:                  true
MUH6_TK10.Muon0_requireL1L2L3:          1,0,1
MUH6_TK10.Level1MuonObject:             l1wllx
MUH6_TK10.Level1TrackObject:            l1trk10
MUH6_TK10.Level3TrackObject:            l3trk10h10
MUH6_TK10.Tag:                          MUH6_TK10

MUH7_TK10.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH7_TK10.TriggerVersions:              13.03,13.11
MUH7_TK10.UseRunRange:                  true
MUH7_TK10.Muon0_requireL1L2L3:          1,1,1
MUH7_TK10.Level1MuonObject:             l1wtlx
MUH7_TK10.Level2MuonObject:             l2m5
MUH7_TK10.Level3TrackObject:            l3trk12h10
MUH7_TK10.Tag:                          MUH7_TK10

MUH7_TK12.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH7_TK12.TriggerVersions:              13.20,15.00
MUH7_TK12.UseRunRange:                  true
MUH7_TK12.Muon0_requireL1L2L3:          1,1,1
MUH7_TK12.Level1MuonObject:             l1wtlx
MUH7_TK12.Level2MuonObject:             l2m5
MUH7_TK12.Level3TrackObject:            l3trk12h10
MUH7_TK12.Tag:                          MUH7_TK12

MUH7_LM15.muonBranch:                   %{Top.LooseLooseDileptonPair_Branch}
MUH7_LM15.TriggerVersions:              13.03,15.00
MUH7_LM15.UseRunRange:                  true
MUH7_LM15.Muon0_requireL1L2L3:          1,1,1
MUH7_LM15.Level1MuonObject:             l1wtlx
MUH7_LM15.Level2MuonObject:             l2m5
MUH7_LM15.Level3MuonObject:             l3l15
MUH7_LM15.Tag:                          MUH7_LM15

MUH8_TK12_TLM12.muonBranch:             %{Top.LooseLooseDileptonPair_Branch}
MUH8_TK12_TLM12.TriggerVersions:        14.60,15.00
MUH8_TK12_TLM12.UseRunRange:            true
 #MUH8_TK12_TLM12.Muon0_requireL1L2L3:  1,1,1
MUH8_TK12_TLM12.Muon0_requireL1L2L3:    1,0,1
MUH8_TK12_TLM12.Level1MuonObject:       l1wtlx
MUH8_TK12_TLM12.Level1TrackObject:      l1trk10
 #MUH8_TK12_TLM12.Level2MuonObject:     l3l0
MUH8_TK12_TLM12.Level3MuonObject:       l3l0
MUH8_TK12_TLM12.Level3CentralMatching:  l3cml12
MUH8_TK12_TLM12.Level3TrackObject:      l3trk12h10
MUH8_TK12_TLM12.Tag:                    MUH8_TK12_TLM12

MUH8_ILM15.muonBranch:                  %{Top.LooseLooseDileptonPair_Branch}
MUH8_ILM15.TriggerVersions:             14.60,15.00
MUH8_ILM15.UseRunRange:                 true
MUH8_ILM15.Muon0_requireL1L2L3:         1,0,1
MUH8_ILM15.Level1MuonObject:            l1wtlx
MUH8_ILM15.Level1TrackObject:           l1trk10
MUH8_ILM15.Level3MuonObject:            l3l15
MUH8_ILM15.Level3Isolation:             iso_muon_cal3
MUH8_ILM15.Tag:                         MUH8_ILM15

MUH8_ITLM10.muonBranch:                 %{Top.LooseLooseDileptonPair_Branch}
MUH8_ITLM10.TriggerVersions:            14.60,15.00
MUH8_ITLM10.UseRunRange:                true
MUH8_ITLM10.Muon0_requireL1L2L3:        1,0,1
MUH8_ITLM10.Level1MuonObject:           l1wtlx
MUH8_ITLM10.Level1TrackObject:          l1trk10
MUH8_ITLM10.Level3MuonObject:           l3l0
MUH8_ITLM10.Level3TrackObject:          l3trk10h10
MUH8_ITLM10.Level3Isolation:            iso_muon_cm_l1
MUH8_ITLM10.Tag:                        MUH8_ITLM10

MUW_A_L2M3_TRK10.UseTriggerFired: true
MU_W_L2M5_TRK10.UseTriggerFired: true
MUW_W_L2M3_TRK10.UseTriggerFired: true
MU_W_L2M0_TRK3.UseTriggerFired: true
MU_W_L2M3_TRK10.UseTriggerFired: true
MUW_W_L2M5_TRK10.UseTriggerFired: true
MU_W_L2M0_TRK10.UseTriggerFired: true
MUH1_TK12_TLM12.UseTriggerFired: true
MUH1_TK10.UseTriggerFired: true
MUH1_TK12.UseTriggerFired: true
MUH1_LM15.UseTriggerFired: true
MUH1_ILM15.UseTriggerFired: true
MUH1_ITLM10.UseTriggerFired: true
MUH2_LM3_TK12.UseTriggerFired: true
MUH2_LM6_TK12.UseTriggerFired: true
MUH2_LM10_TK12.UseTriggerFired: true
MUH2_LM15.UseTriggerFired: true
MUH3_LM3_TK10.UseTriggerFired: true
MUH3_LM6_TK12.UseTriggerFired: true
MUH3_LM10_TK12.UseTriggerFired: true
MUH3_LM15.UseTriggerFired: true
MUH4_TK10.UseTriggerFired: true
MUH4_LM15.UseTriggerFired: true
MUH5_LM15.UseTriggerFired: true
MUH6_TK12_TLM12.UseTriggerFired: true
MUH6_TK10.UseTriggerFired: true
MUH6_LM15.UseTriggerFired: true
MUH7_TK10.UseTriggerFired: true
MUH7_TK12.UseTriggerFired: true
MUH7_LM15.UseTriggerFired: true
MUH8_TK12_TLM12.UseTriggerFired: true
MUH1_TK12.UseTriggerFired: true
MUH8_ILM15.UseTriggerFired: true
MUH8_ITLM10.UseTriggerFired: true

### END
