################################################################################
# EM inclusive skim for dilepton analyses
################################################################################

cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils gsl

+cafe.Include: top_dilepton_me/configs/DileptonTopStandard.config
+cafe.Include: top_dilepton_me/configs/DileptonTriggers.config

##### If you don't want btagging, comment out
+cafe.Include: top_dilepton_me/configs/Dilepton_Btagging.config

################################################################################
# ANALYSIS CHAIN
################################################################################

cafe.Progress:  1000

+cafe.Run: Group(MCHFremoval)

+cafe.Run: LumiZeroEventRemoval(remove_zero_lumi_events)
+cafe.Run: FindDuplicateEvents
+cafe.Run: Group(DileptonDQ)

+cafe.Run: Stat(DIEMeff)

+cafe.Run: Group(DileptonLeptonCorrection)

+cafe.Run: Group(DileptonMuonSelection)
+cafe.Run: Group(DileptonElectronSelection)

## This is EM skim, demand at least one loose electron
+cafe.Run: Select(nelectrons)

+cafe.Run: Group(VJetsVertexSelection)

# +cafe.Run: Group(DileptonBtag)

+cafe.Run: Write(looseskim)

+cafe.Run: Passed

################################################################################

VJets.JesOrJssrJet_Branch:        %{VJets.AfterJetRemoval_Branch}
# VJets.JesOrJssrJet_Branch:        %{VJets.JesJet_Branch}Kept

nelectrons.Select:  @%{VJets.LooseEM_Branch}.size()>=2

trig_data.Select:   %{VJets.data_or_mc_val}
trig_data.Then:     Group(EMSKIM_trigger)
trig_data.Else:     Passed

Discard_OR_JSSR.Select: %{VJets.data_or_mc_val}
Discard_OR_JSSR.Then:   Group(TopDiscardJets)
Discard_OR_JSSR.Else:   Group(TopJSSR)

VJets.Vertex_EM_DeltaZ:   1

VJets.InputJet_Branch:    corrJCCB

+Btagging.Run:  Group(DileptonBtag)

VJets.InputMode:  DATA

# Doesn't do anything in this context, oh well
VJets.JSSR_UseUniformRemapping:       true

looseskim.Tree: TMBTree
looseskim.File: DB_%f
looseskim.Disable: BTag_corrJCCB_NN_LOOSE
looseskim.FilesPerOutput: 1000
looseskim.MaxBytesPerFile: 2000000000

VJets.ObjectTree:                 SelectedObjects

VJets.TaggabilityRF:  EMTaggabilityRF

VJets.SampleName:     DIEM_skim

# ### run2a
# VJets.DataSet:                        EMinc_FullRunIIa
# VJets.Triggers:                       EM_MegaOR

### run2b
VJets.DataSet:                        2EMhighpt_Moriond2009
VJets.Triggers:                       DiEM_TriggersOR

################################################################################
