#################################################################################
# ttbar->ee MC selection
################################################################################
cafe.Progress:  1000

cafe.Debug: false

+cafe.Include: top_dilepton_me/configs/skim/DIMU_skim.config

# JET SELECTION
VJets.InputJet_Branch:                    corrJCCB
VJets.JesOrJssrJet_Branch:                %{VJets.JesJet_Branch}Kept

VJets.InputMode:  MC

# VJets.MuonSmearType: mix
# VJets.MuonSmearType: pre
VJets.MuonSmearType: no

# Set to false for non top MC 
VJets.JSSR_UseUniformRemapping:           true

leadEpt.Select:     %{VJets.LooseMuon_Branch}.Pt()[0]>=15.0

VJets.IsMC:                       true

+DileptonDQ.Run:                      Group(VJetsDQMC_%{VJets.RecoVer})

VJets.SecondElectron_pT:          15.0
VJets.SecondMuon_pT:              15.0
VJets.Track_pT:                   15.0

# run2b
+MCHFremoval.Run:                      MCReqID
+MCHFremoval.Run:                      HeavyFlavorSkim(hfskim)

################################################################################