#################################################################################
# ttbar->ee MC selection
################################################################################
cafe.Progress:  1000
cafe.Debug: false

+cafe.Include: top_dilepton_me/configs/skim/EMMU_skim.config

+DileptonDQ.Run:                      Group(VJetsDQ_%{VJets.DataSet}_%{VJets.Triggers})

VJets.SecondElectron_pT:          15.0
VJets.SecondMuon_pT:              15.0
VJets.Track_pT:                   15.0

################################################################################