################################################################################
# Generic Selection code for ttbar->etrk analysis using loose muons
################################################################################

cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils top_dilepton_me

##### If you don't want btagging, comment out
+cafe.Include: top_dilepton_me/configs/Dilepton_Btagging.config

+cafe.Include: top_dilepton_me/configs/etrk/ETrk_base.config

################################################################################
# ANALYSIS CHAIN
################################################################################

loose_muon.pTmax:   300.0

VJets.ObjectTree:                 SelectedObjects

+cafe.Run: Group(MCHFremoval)

+cafe.Run: LumiZeroEventRemoval(remove_zero_lumi_events)
+cafe.Run: FindDuplicateEvents
+cafe.Run: Group(DileptonDQ)

+cafe.Run: Stat(ETrkeff)

+cafe.Run: Group(DileptonLeptonCorrection)

+cafe.Run: Group(DileptonMuonSelection)
+cafe.Run: Group(DileptonElectronSelection)

+cafe.Run: Select(nelectrons)
# +cafe.Run: Select(nmuons)
+cafe.Run: Group(VJetsVertexSelection)

+cafe.Run: Group(DileptonJetCorrection)

+cafe.Run: Group(DileptonTrackSelection)

+cafe.Run:  Select(ntrack)

+cafe.Run: Group(ETrkPair_skim)

+cafe.Run: Group(npair_looseloose_or)

+cafe.Run:  Write(inclusiveskim)
+cafe.Run: Passed

VJets.NumberOfFiles:              1

inclusiveskim.Tree: TMBTree
inclusiveskim.File: DB_%f
inclusiveskim.Disable: BTag_corrJCCB_NN_LOOSE
inclusiveskim.FilesPerOutput: 1000
inclusiveskim.MaxBytesPerFile: 2000000000

muon_for_met.pTmax:                     300
muon_for_jes.pTmax:                     300

VJets.SampleName:     ETrk_skim

# ### run2a
# VJets.DataSet:                        EMinc_FullRunIIa
# VJets.Triggers:                       EJets_TriggersOR

### run2b
VJets.DataSet:                        EMinclusive_Moriond2009
VJets.Triggers:                       EM_MegaOR

################################################################################
