#################################################################################
# ttbar->etrk MC selection
################################################################################
cafe.Progress:  1000

cafe.Debug: false

+cafe.Include: top_dilepton_me/configs/skim/ETrk_skim.config

# JET SELECTION
# VJets.InputJet_Branch:                    corrJCCB
VJets.InputJet_Branch:                    JCCB
VJets.CorrectedJet_Branch:                %{VJets.CorrectedJet_Branch}

# +Btagging.Run:  Group(DileptonBtag)
VJets.InputMode:      MC EMTaggability
VJets.TaggabilityRF:  EMTaggabilityRF

# VJets.MuonSmearType: mix
# VJets.MuonSmearType: pre
VJets.MuonSmearType: no

# Set to false for non top MC 
VJets.JSSR_UseUniformRemapping:           true

+etrktrig_tight.Run:                  Group(trig_mc)

+DileptonDQ.Run:                      Group(VJetsDQMC_%{VJets.RecoVer})

+Discard_OR_JSSR.Run:                 Group(DileptonJSSR)

VJets.SecondElectron_pT:          15.0
VJets.SecondMuon_pT:              15.0
VJets.Track_pT:                   15.0

VJets.LumiDataSet:                    ETrk_xsec_summer2008

# # run2a
# jssr.NoMCReqID:       true

# run2b
+MCHFremoval.Run:                      MCReqID
+MCHFremoval.Run:                      HeavyFlavorSkim(hfskim)

################################################################################