################################################################################
# Generic Selection code for ttbar->mutrk analysis using loose muons
################################################################################

cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils top_dilepton_me

##### If you don't want btagging, comment out
+cafe.Include: top_dilepton_me/configs/Dilepton_Btagging.config

+cafe.Include: top_dilepton_me/configs/mutrk/MuTrk_base.config

################################################################################
# ANALYSIS CHAIN
################################################################################

loose_muon.pTmax:   300.0

VJets.ObjectTree:                 SelectedObjects

+cafe.Run: Group(MCHFremoval)

+cafe.Run: LumiZeroEventRemoval(remove_zero_lumi_events)
+cafe.Run: FindDuplicateEvents
+cafe.Run: Group(DileptonDQ)

+cafe.Run: Stat(MuTrkeff)

+cafe.Run: Group(DileptonLeptonCorrection)

+cafe.Run: Group(DileptonMuonSelection)
+cafe.Run: Group(DileptonElectronSelection)

# +cafe.Run: Select(nelectrons)
+cafe.Run: Select(nmuons)
+cafe.Run: Group(VJetsVertexSelection)

+cafe.Run: Group(DileptonJetCorrection)

+cafe.Run: Group(DileptonTrackSelection)

+cafe.Run:  Select(ntrack)

+cafe.Run: Group(MuTrkPair_skim)

+cafe.Run: Group(npair_looseloose_or)

+cafe.Run:  Write(inclusiveskim)
+cafe.Run: Passed

# jet_for_met.ObjectsBranches:    %{VJets.LooseLooseDileptonPair_Branch}

VJets.NumberOfFiles:              1

inclusiveskim.Tree: TMBTree
inclusiveskim.File: DB_%f
inclusiveskim.Disable: BTag_corrJCCB_NN_LOOSE
inclusiveskim.FilesPerOutput: 1000
inclusiveskim.MaxBytesPerFile: 2000000000

# jes_correction.doJESMU:			true
# jet_removal.JES:			JESMU
# jssr.ActAsSmearedMU:			true
# jet_selection.JES:			JESMU
# jet_for_met.JES:			JESMU

# jes_correction.doJESMU:			false
# jet_removal.JES:			JES
# jssr.ActAsSmearedMU:			false
# jet_selection.JES:			JES
# jet_for_met.JES:			JES
# muon_for_met.From:      	        %{VJets.LooseLooseDileptonPair_Branch}
# muon_for_met.TrkQualityName:		Loose
muon_for_met.pTmax:                     300
muon_for_jes.pTmax:                     300

VJets.SampleName:     MuTrk_skim

# ### run2a
# VJets.DataSet:                        MUinc_FullRunIIa
# VJets.Triggers:                       MuJets_TriggersOR

### run2b
VJets.DataSet:                        MUinclusive_Moriond2009
VJets.Triggers:                       SingleMU_TriggersOR

################################################################################
