#################################################################################
# ttbarll Data selection
################################################################################

cafe.Progress:  1000

cafe.Debug: false

+cafe.PartialReads:  false

+cafe.Include: top_dilepton_me/configs/etrk/ETrk_selection.config
+cafe.Include: top_dilepton_me/configs/etrk/ETrk_Triggers_Data.config

# +USER.Run:     Fork(2jetSkimming)
# +USER.Run:     Fork(2jetPlotting)

# JET SELECTION
# VJets.InputJet_Branch:                    corrJCCB
VJets.InputJet_Branch:                    JCCB
VJets.CorrectedJet_Branch:        %{VJets.JesJet_Branch}

# +Btagging.Run:  Group(DileptonBtag)
VJets.InputMode:  DATA
VJets.TaggabilityRF:  EMTaggability

VJets.MuonSmearType: no

# Doesn't do anything in this context, oh well
VJets.JSSR_UseUniformRemapping:       true

+DileptonDQ.Run:                      Group(VJetsDQ_%{VJets.DataSet}_%{VJets.Triggers})

# +etrktrig.Run:                        Group(trig_data)
+etrktrig_tight.Run:                  Group(trig_data)

# # run2a
# VJets.DataSet:                        EMinc_FullRunIIa
# VJets.Triggers:                       EJets_TriggersOR
# VJets.LumiDataSet:                    EMinc_FullRunIIa

# run2b
VJets.DataSet:                        EMinclusive_Moriond2009
VJets.Triggers:                       EM_MegaOR
VJets.LumiDataSet:                    EMinclusive_Moriond2009

################################################################################
