#################################################################################
# ttbarll Data selection
################################################################################

+cafe.Include: top_dilepton_me/configs/etrk/ETrk_Data_final.config

VJets.ElectronLhoodCut:     0.0
VJets.IsolationValue:                     1000

################################################################################
