################################################################################

+cafe.Include: top_dilepton_me/configs/DileptonTopStandard.config
# +cafe.Include: top_dilepton_me/configs/etrk/ETrk_Triggers.config
# +cafe.Include: top_dilepton_me/configs/etrk/ETrk_Triggers_Data.config

################################################################################

cafe.PartialReads:  false

VJets.LeadLepton_pT:                          15.0
# VJets.LeadJet_pT:                             20.0
VJets.LeadJet_pT:                             30.0
# VJets.LeadJet_pT:                             15.0
VJets.SecondJet_pT:                           20.0
# VJets.SecondJet_pT:                           15.0

# VJets.ElectronLhoodCut:     0.4
VJets.ElectronLhoodCut:     0.85

# VJets.IsolationValue:       0.2
VJets.IsolationValue:       0.15

# VJets.InputJet_Branch:                        corrJCCB
VJets.InputJet_Branch:                        JCCB

+etrktrig.Run:               Passed
+etrktrig_tight.Run:         Passed

+etrk_QCD_fit.Run:            Passed

+Btagging.Run:          Group(DileptonBtag_NN_L6)
+Btagging.Run:          Passed

VJets.FinalJetBranch:            %{VJets.GoodJet_Branch}

nelectrons.Select:          @%{VJets.LooseEM_Branch}.size()>=1
n_tightelectrons.Select:    @%{VJets.TightEM_Branch}.size()<=1
tightem.Select:             %{VJets.LooseEM_Branch}.Lhood8()[0] >= %{VJets.ElectronLhoodCut}
ntrks.Select:               @%{VJets.LooseTrack_Branch}.size()>=1
ntrack.Select:               @%{VJets.LooseTrack_Branch}.size()>=1
ntight_trks.Select:         @%{VJets.TightTrack_Branch}.size()>=1
track_tight.Select:          (%{VJets.LooseLooseDileptonPair_Branch}.nsmt()[0]>0 && %{VJets.LooseLooseDileptonPair_Branch}.ncft()[0]>10)
n_tightmuons.Select:        @%{VJets.TightMuon_Branch}.size()==0

# tightiso.Select:           max(%{VJets.LooseLooseDileptonPair_Branch}.etHalo()[0], %{VJets.LooseLooseDileptonPair_Branch}.etTrkCone5()[0] )/%{VJets.LooseLooseDileptonPair_Branch}.Pt()[0] < %{VJets.IsolationValue} && %{VJets.LooseLooseDileptonPair_Branch}.GetChargedTrack().getChi2Ndf()[0] < 4.0

npair_looseloose.Select:        @%{VJets.LooseLooseDileptonPair_Branch}.size()==1
# npair_looseloose_or.Run:        Select(npair_looseloose_os) Select(npair_looseloose_ss)
npair_looseloose_or.Run:        Select(npair_looseloose_osss)

# npair_looseloose_os.Select:        @%{VJets.LooseLooseDileptonPair_Branch_OS}.size()==1
# npair_looseloose_ss.Select:        @%{VJets.LooseLooseDileptonPair_Branch_SS}.size()==1
npair_looseloose_osss.Select:     (@%{VJets.LooseLooseDileptonPair_Branch_OS}.size()==1 || @%{VJets.LooseLooseDileptonPair_Branch_SS}.size()==1)

leadel_loose.Select:        %{VJets.LooseEM_Branch}.Pt()[0]>%{VJets.LeadLepton_pT}

leadtrack_ll.Select:       %{VJets.LooseLooseDileptonPair_Branch}.Pt()[0]>%{VJets.LeadLepton_pT}

leadlepton_ll.Run:       Select(leadel_loose) Select(leadtrack_ll)

leadjet_select.Select:      %{VJets.FinalJetBranch}.Pt()[0]>%{VJets.LeadJet_pT}
secondjet_select.Select:        %{VJets.FinalJetBranch}.Pt()[1]>%{VJets.SecondJet_pT}

VJets.LooseLooseDileptonPair_Branch:    LooseTrack_Branch
VJets.LooseLooseDileptonPair_Branch_OS: LooseLooseTrackPair_OS
VJets.LooseLooseDileptonPair_Branch_SS: LooseLooseTrackPair_SS

VJets.NTracks:         1

# VERTEX SELECTION
VJets.Vertex_EM_DeltaZ:		1

# jet_selection.dRJetObjectMin:   0.5
# jet_selection.ObjectsBranches: %{VJets.LooseLooseDileptonPair_Branch}

VJets.UseSameSign:                    false

ETrkPair_skim.Run:            top_cafe::TopTrackPairSelector(pair_os_looseloose)
+ETrkPair_skim.Run:           top_cafe::TopTrackPairSelector(pair_ss_looseloose)

ETrkPair_full.Run:            top_cafe::TopTrackPairSelector(pair_os_ss_looseloose)

pair_os_looseloose.ElectronBranch:         %{VJets.LooseEM_Branch}
pair_os_looseloose.JetBranch:              %{VJets.FinalJetBranch}
pair_os_looseloose.DeltaR:                 0.5
pair_os_looseloose.From:                   %{VJets.LooseTrack_Branch}
pair_os_looseloose.To:                     %{VJets.LooseLooseDileptonPair_Branch_OS}
pair_os_looseloose.Tree:                   %{VJets.ObjectTree}
pair_os_looseloose.selectSameSign:         false

pair_ss_looseloose.ElectronBranch:         %{VJets.LooseEM_Branch}
pair_ss_looseloose.JetBranch:              %{VJets.FinalJetBranch}
pair_ss_looseloose.DeltaR:                 0.5
pair_ss_looseloose.From:                   %{VJets.LooseTrack_Branch}
pair_ss_looseloose.To:                     %{VJets.LooseLooseDileptonPair_Branch_SS}
pair_ss_looseloose.Tree:                   %{VJets.ObjectTree}
pair_ss_looseloose.selectSameSign:         true

pair_os_ss_looseloose.ElectronBranch:         %{VJets.LooseEM_Branch}
pair_os_ss_looseloose.JetBranch:              %{VJets.FinalJetBranch}
pair_os_ss_looseloose.DeltaR:                 0.5
pair_os_ss_looseloose.From:                   %{VJets.LooseTrack_Branch}
pair_os_ss_looseloose.To:                     %{VJets.LooseLooseDileptonPair_Branch}
pair_os_ss_looseloose.Tree:                   %{VJets.ObjectTree}
pair_os_ss_looseloose.selectSameSign:         %{VJets.UseSameSign}
pair_os_ss_looseloose.MaxTrackPt:             300

VJets.EffOutput:                     ETrkefficiencies

ETrkeff.Output:                     %{VJets.EffOutput}
ETrkeff.TexTitle:                   %{VJets.EffOutput}

trig_data.Run:     Group(ETrk_trigger_%{VJets.RecoVer})

trig_mc.Run:       Group(VJetsETrkTrigger_%{VJets.RecoVer})

etrk_correction.Select:  %{VJets.data_or_mc_val}
etrk_correction.Then:    Passed
etrk_correction.Else:    ZPtReWeighting(zpt)

etrk_correction_tight.Select:  %{VJets.data_or_mc_val}
etrk_correction_tight.Then:    Passed
etrk_correction_tight.Else:    Group(etrk_corr)

etrk_corr.Run:                 Group(DileptonElectronCorr)
+etrk_corr.Run:                Group(VJetsTrackCorr)

tighttight_2jet.Run:     Select(tightem)
+tighttight_2jet.Run:    If(etrk_correction_tight)
+tighttight_2jet.Run:    Group(etrktrig_tight)
+tighttight_2jet.Run:    Group(Dilepton2JetSelection)
+tighttight_2jet.Run:    Group(write_matevt)
+tighttight_2jet.Run:    Group(tt_2jet_Untagged)
+tighttight_2jet.Run:    Passed

tt_2jet_Untagged.Run:   TopDileptonPlots(plots_2jet_tight)
+tt_2jet_Untagged.Run:  Passed

plots_2jet_tight.Title: topo_comp_2jet_tight
plots_2jet_tight.EMBranch:               %{VJets.LooseEM_Branch}
plots_2jet_tight.TrackBranch:            %{VJets.LooseLooseDileptonPair_Branch}
plots_2jet_tight.JetBranch:              %{VJets.FinalJetBranch}
plots_2jet_tight.MetBranch:              %{VJets.MET_Branch}
plots_2jet_tight.MetTrackBranch:         LooseTrackForMet
plots_2jet_tight.Channel:                etrk
plots_2jet_tight.NJetsMin:               2
plots_2jet_tight.LeadJetPt:              %{VJets.LeadJet_pT}
plots_2jet_tight.SecondJetPt:            %{VJets.SecondJet_pT}
plots_2jet_tight.LeadLeptonPt:           %{VJets.LeadLepton_pT}
plots_2jet_tight.DeltaR:                 0.5
plots_2jet_tight.Use_L6_MEDIUM:          true
plots_2jet_tight.TrackIsolation:         %{VJets.IsolationValue}
plots_2jet_tight.Systematics:            EMCorr: electron_corr_%{VJets.RecoVer},EMCorr: electron_pres_corr_%{VJets.RecoVer},TrackCorr: track_corr,TriggerProbability,ZPtReWeighting [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

write_matevt.Run:                   ReadMatrixEvent(matevt_2tight)
+write_matevt.Run:                  Passed

matevt_2tight.OutputFile:           %{VJets.EffOutput}_tight.txt
matevt_2tight.ParameterFile:        me_default.rcp
matevt_2tight.ElectronBranch:       %{VJets.LooseEM_Branch}
matevt_2tight.TrackBranch:           %{VJets.LooseLooseDileptonPair_Branch}
matevt_2tight.JetBranch:            %{VJets.FinalJetBranch}
matevt_2tight.MetBranch:            %{VJets.MET_Branch}
matevt_2tight.MetTrackBranch:       LooseTrackForMet
matevt_2tight.LeadJetPt:            15.
matevt_2tight.LeadLeptonPt:         15.
matevt_2tight.MinMET:               20.
matevt_2tight.Channel:              etrk
matevt_2tight.Use_L6_MEDIUM:        true
matevt_2tight.DoMCTruth:            true
matevt_2tight.TrackIsolation:       %{VJets.IsolationValue}
matevt_2tight.Systematics:          EMCorr: electron_corr_%{VJets.RecoVer},EMCorr: electron_pres_corr_%{VJets.RecoVer},TrackCorr: track_corr,TriggerProbability,ZPtReWeighting [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

track_for_met.From:               %{VJets.LooseLooseDileptonPair_Branch}
track_for_met.To:                 LooseTrackForMet
track_for_met.Tree:               %{VJets.ObjectTree}
track_for_met.JetBranch:          %{VJets.MetJet_Branch}
track_for_met.ElectronBranch:     %{VJets.MetEM_Branch}
track_for_met.MuonBranch:         %{VJets.MetMuon_Branch}
track_for_met.dRjet:              0.5
track_for_met.dRelectron:         0.5
track_for_met.dRmuon:             0.5

# loosetrack.ElectronBranch:      %{VJets.TightEM_Branch}

VJets.SampleName:               ETrk_Dummy

################################################################################