##########################################################################
# ttbardilep: common configuartion for ee / mumu, data/mc
##########################################################################

+cafe.Include:                vjets_cafe/configs/VJetsStandard.config
+cafe.Include:                vjets_cafe/configs/VJetsElectronStandard.config
+cafe.Include:                vjets_cafe/configs/VJetsMuonStandard.config

cafe.PartialReads:  false

VJets.IsMC:                       false
VJets.JetRemovalEM_Pt:            15.0

VJets.CorrectedJet_Branch:      jet_controller_JetRemoval_jets
VJets.FinalJetBranch:            %{VJets.GoodJet_Branch}

VJets.SecondElectron_pT:          15.0
VJets.SecondMuon_pT:              15.0

VJets.SecondJet_pT:               15.0
VJets.Track_pT:                   15.0

VJets.Muon_eta:                   2.0
VJets.MinJets:                    -1.0

# GENERAL PARAMTERS
# VJets.ObjectTree:                 SelectedObjects
VJets.ObjectTree:                 TMBTree

# VJets.JetRemovalEM_Branch:        EMscone

VJets.EMInput_Branch:           SmearedEMscone

# Data Quality Stuff
+DileptonDQ.Run:                Passed

VJetsDQ_DiEM_FullRunIIa_SingleEM_TriggersOR.Run:  CafeDataQualityProcessor(dq_diem2a_emOR)
VJetsDQMC_DiEM_FullRunIIa.Run:                    CafeDataQualityProcessor(run2a_emOR_lumi)

VJetsDQ_DiMU_FullRunIIa_SingleMU_TriggersOR.Run:  CafeDataQualityProcessor(dq_dimu2a_muOR)
VJetsDQMC_DiMU_FullRunIIa.Run:                    CafeDataQualityProcessor(run2a_muOR_lumi)

dq_diem2a_emOR.mode:		Data
dq_diem2a_emOR.lumidef:	        vjets_cafe/lumi-dq/run2a_ejetsor/ejetsor.lumidef
dq_diem2a_emOR.lumicache:	vjets_cafe/lumi-dq/run2a_ejetsor/ejetsor_ignoredup.lumicache

run2a_emOR_lumi.mode:			MonteCarlo
run2a_emOR_lumi.lumidef:		vjets_cafe/lumi-dq/run2a_ejetsor/ejetsor.lumidef
run2a_emOR_lumi.lumicache:		vjets_cafe/lumi-dq/run2a_ejetsor/ejetsor_ignoredup.lumicache
run2a_emOR_lumi.IgnoreDQChecks:		true 

dq_dimu2a_muOR.mode:		Data
dq_dimu2a_muOR.lumidef:	        vjets_cafe/lumi-dq/run2a_mujetsor/mujetsor.lumidef
dq_dimu2a_muOR.lumicache:	vjets_cafe/lumi-dq/run2a_mujetsor/mujetsor_ignoredup.lumicache

run2a_muOR_lumi.mode:			MonteCarlo
run2a_muOR_lumi.lumidef:		vjets_cafe/lumi-dq/run2a_mujetsor/mujetsor.lumidef
run2a_muOR_lumi.lumicache:		vjets_cafe/lumi-dq/run2a_mujetsor/mujetsor_ignoredup.lumicache
run2a_muOR_lumi.IgnoreDQChecks:		true 

+DileptonReweighting.Run:       Passed

+DileptonBeamLumiRW.Run:        MCReqID
+DileptonBeamLumiRW.Run:        Group(VJetsBeamReWeight)
# +DileptonBeamLumiRW.Run:        Group(VJetsLumiReWeight_%{VJets.RecoVer})
+DileptonBeamLumiRW.Run:        Group(DileptonLumiReWeight_%{VJets.RecoVer})

DileptonLumiReWeight_p17.Run:		LumiReWeighting(dilepton_lumi_reweight_p17)
DileptonLumiReWeight_p20.Run:		LumiReWeighting(dilepton_lumi_reweight_p20)

dilepton_lumi_reweight_p17.MaxEventWeight: 	3.0
dilepton_lumi_reweight_p17.KeepRootHist:		true

dilepton_lumi_reweight_p17.MCDQDefinition: 	dq_defs/common/example.dqdef
dilepton_lumi_reweight_p17.MCDQtag: 		v2007-10-01
dilepton_lumi_reweight_p17.Profiles: 		CSGProfiles

dilepton_lumi_reweight_p17.DataPath: 		caf_mc_util/spc/
dilepton_lumi_reweight_p17.DataSetName: 		RunIIa
dilepton_lumi_reweight_p17.DataEffName: 		LumiProfile

dilepton_lumi_reweight_p20.MaxEventWeight: 	3.0
dilepton_lumi_reweight_p20.KeepRootHist:		true

dilepton_lumi_reweight_p20.MCDQDefinition: 	dq_defs/common/example.dqdef
dilepton_lumi_reweight_p20.MCDQtag: 		v2008-03-13
dilepton_lumi_reweight_p20.Profiles: 		CSGProfiles

dilepton_lumi_reweight_p20.DataPath: 		top_dilepton_me/spc
dilepton_lumi_reweight_p20.DataSetName: 	%{VJets.LumiDataSet}
dilepton_lumi_reweight_p20.DataEffName: 	LumiProfile

xs_weight.OnlyDoStaticScaleFactor:  true
xs_weight.IntegratedLuminosity:     1.

VJets.data_or_mc_val:             (MCevtInfo.run()==0&&MCevtInfo.evtid()==0)
data_or_mc.Select:              %{VJets.data_or_mc_val}

### Possible values p14Pythia , p17Pythia , p17Alpgen
VJets.UseAlpgenReweight:          NotDefined
VJets.ZMCType:                    %{VJets.UseAlpgenReweight}
### Possible values linearZmass , expoZmass
VJets.AlpgenCorrection:           NotApplied

zpt.Function:                   %{VJets.UseAlpgenReweight}
zpt.jetBranch:                  %{VJets.FinalJetBranch}
zpt.Correction:                 %{VJets.AlpgenCorrection}

# ELECTRON SELECTION
+DileptonElectronSelection.Run: Group(VJetsVetoElectron)
+DileptonElectronSelection.Run: Group(VJetsLooseElectron)
+DileptonElectronSelection.Run: Group(VJetsTightElectron)
+DileptonElectronSelection.Run: Passed

veto_electron.From:               EMscone
VJets.VetoEM_Branch:              VetoElectrons
VJets.VetoEM_SelectionFile:       emid_cuts/support/emid_cuts.txt
VJets.VetoEM_Quality:             Top_tight
VJets.VetoEM_Version:             3
VJets.VetoEM_Pt:                  5.0
VJets.VetoEM_EtaCC:               1.1
VJets.VetoEM_EtaECmin:            1.5
VJets.VetoEM_EtaECmax:            2.5
VJets.VetoEM_Nmin:                -1
VJets.VetoEM_Nmax:                -1

loose_electron.From:		%{VJets.LooseEMInput_Branch}

VJets.LooseEMInput_Branch:        SmearedEMscone
VJets.LooseEM_Branch:             LooseElectronCCEC
VJets.LooseEM_Quality:            Top_loose
VJets.LooseEM_Pt:                 %{VJets.SecondElectron_pT}
VJets.LooseEM_EtaCC:              1.1  # no cut
VJets.LooseEM_EtaECmin:           1.5   # no cut
VJets.LooseEM_EtaECmax:           2.5   # no cut
VJets.LooseEM_Nmin:               -1    # no cut
VJets.LooseEM_Nmax:               -1   # no cut
VJets.LooseEM_Version:            3

### MC is a bit messed up otherwise
jet_removal_electron.From:		%{VJets.LooseEMInput_Branch}

tight_electron.SelectionFile:		emid_cuts/support/emid_cuts.txt

VJets.TightEMInput_Branch:        %{VJets.LooseEM_Branch}
VJets.TightEM_Branch:             TightElectronCCEC
VJets.TightEM_Quality:            Top_tight
VJets.TightEM_Pt:                 %{VJets.LooseEM_Pt}
VJets.TightEM_EtaCC:              1.1  # no cut
VJets.TightEM_EtaECmin:           1.5   # no cut
VJets.TightEM_EtaECmax:           2.5   # no cut
VJets.TightEM_Nmin:               -1    # no cut
VJets.TightEM_Nmax:               -1   # no cut
VJets.TightEM_Version:               3

# Electron ID WEIGHTS (note Top_tight)
VJets.SignalEM_Branch:                            %{VJets.TightEM_Branch}
# electron_corr_%{VJets.RecoVer}.ObjQuality:      Top_tight


# - F.1 - Electron ID corrections - With hack for Fscking preselection crap.
##########################

DileptonElectronCorr.Run:                   Group(VJetsElectronCorr_%{VJets.RecoVer})

electron_pres_corr_p17.ObjQuality:          Preselect_iso15
electron_pres_corr_p20.ObjQuality:          Preselect_iso15

# MUON SELECTION
+DileptonMuonSelection.Run:     Group(VJetsVetoMuon)
+DileptonMuonSelection.Run:     Group(VJetsLooseMuon)
+DileptonMuonSelection.Run:     Group(VJetsTightMuon)

## Set VJets.MuonSmearType to no for DATA mix for MC
VJets.MuonInput_Branch:         SmearedMuon

smear_muon_p17.MixType:           ran_mu
smear_muon_p17.UseZjpsiSmearing:  false

VJets.VetoMuon_Branch:            VetoMuon
VJets.VetoMuon_Pt:                5.0
VJets.VetoMuon_Eta:               3.0
VJets.VetoMuon_Quality:           loose
VJets.VetoMuon_TrkQuality:        trackloose
VJets.VetoMuon_IsoQuality:        NotUsed
VJets.VetoMuon_Nmin:              -1
VJets.VetoMuon_Nmax:              -1

VJets.LooseMuon_Branch:           LooseMuon
VJets.LooseMuon_Pt:               %{VJets.SecondMuon_pT}
VJets.LooseMuon_Eta:              2.0
VJets.LooseMuon_Quality:          loose
VJets.LooseMuon_TrkQuality:       trackmedium
VJets.LooseMuon_IsoQuality:       None
VJets.LooseMuon_Nmin:             -1
VJets.LooseMuon_Nmax:             -1
VJets.LooseMuon_NoHole:           false

VJets.TightMuonInput_Branch:      %{VJets.LooseMuon_Branch}
VJets.TightMuon_Branch:           TightMuon
VJets.TightMuon_Pt:               %{VJets.LooseMuon_Pt}
VJets.TightMuon_Eta:              2.0
VJets.TightMuon_Quality:          loose
VJets.TightMuon_TrkQuality:       trackmedium
VJets.TightMuon_IsoQuality:       TopScaledMedium
VJets.TightMuon_Nmin:             -1
VJets.TightMuon_Nmax:             -1
VJets.TightMuon_NoHole:           false

# MUON ID WEIGHTS Tight
VJets.SignalMuon_Branch:                          %{VJets.TightMuon_Branch}
VJets.MuonCorr_IsoQuality:                        iso_%{VJets.TightMuon_IsoQuality}
muon_id_corr_p17.ObjQuality:         loose
muon_id_corr_p20.ObjQuality:         loose
muon_track_corr_p17.ObjQuality:      trackmedium
muon_track_corr_p20.ObjQuality:      trackmedium

DileptonMuonCorr.Run:                   Group(VJetsMuIsoJets)
+DileptonMuonCorr.Run:			Group(VJetsMuonCorr_%{VJets.RecoVer})

TAU SELECTION
+DileptonTauSelection.Run:      Group(VJetsTauSelection)

VJets.NNfile_TauType1:            p17NNtype1_noICD.dat
VJets.NNfile_TauType1_ICD:        p17NNtype1_ICD.dat
VJets.NNfile_TauType2:            p17NNtype2_wo_e.dat
VJets.NNfile_TauType2_elec:       p17NNelec_etad3.dat
VJets.NNfile_TauType3:            p17NNtype3.dat

VJets.LooseTau_Nmin:              -1
VJets.LooseTau_Nmax:              -1
VJets.LooseTau_RemoveMuon:        1
VJets.LooseTau_MuonDeltaR:        0.5
VJets.LooseTau_MuonBranch:        %{VJets.VetoMuon_Branch}
VJets.LooseTau_RemoveElectron:    1
VJets.LooseTau_ElectronDeltaR:    0.5
VJets.LooseTau_ElectronBranch:    %{VJets.VetoEM_Branch}
# %{VJets.TightEM_Branch}
VJets.LooseTauType1_NN:           0.5
VJets.LooseTauType2_NN:           0.5
VJets.LooseTauType3_NN:           0.5

VJets.TightTauType1_NN:                   0.95
VJets.TightTauType2_NN:                   0.9
VJets.TightTauType3_NN:                   0.97
VJets.TightTau_Nmin:              -1
VJets.TightTau_Nmax:              -1


# Note: We do not use TauSelector to separate leptons (e/mu) and taus
# That task is delegated to LepTauSelector


# LEPTON+TAU SELECTION
LepTauOS.From:                  %{VJets.TightTau_Branch}
LepTauOS.To:                    SelectedTau
LepTauOS.RejectedBranch:        RejectedTau
LepTauOS.Tree:                  %{VJets.ObjectTree}
LepTauOS.Debug:                 0
#LepTauOS.LeptonType:           # To be filled in E/Mu_Tau configs
#LepTauOS.LeptonBranch:         # To be filled in E/Mu_Tau configs
LepTauOS.NoTrackMatch:          true
LepTauOS.Sign:                  -1
LepTauOS.nMin:                  1
LepTauOS.nMax:                  -1


#  - C.1 - Electron Smearing
######################################################

VJetsElectronSmear_p17.Run:                caf_mc_util::ApplyElectronSmear(smear_electron_p17)

smear_electron_p17.From:                   EMscone
smear_electron_p17.To:                     SmearedEMscone
smear_electron_p17.Tree:                   %{VJets.ObjectTree}
smear_electron_p17.Version:                none

VJetsElectronSmear_p20.Run:                caf_mc_util::ApplyElectronSmear(smear_electron_p20)

smear_electron_p20.From:                   EMscone
smear_electron_p20.To:                     SmearedEMscone
smear_electron_p20.Tree:                   %{VJets.ObjectTree}
smear_electron_p20.Version:                p20_final


# TRACK SELECTION
DileptonTrackSelection.Run:    Group(VJetsTrackSmear_%{VJets.RecoVer})
+DileptonTrackSelection.Run:    caf_util::TrackSelector(loosetrack)
+DileptonTrackSelection.Run:    caf_util::TrackSelector(tighttrack)

VJets.LooseTrack_Branch:          LooseTrack
VJets.TightTrack_Branch:          TightTrack

#  - C.1 - Track Smearing
######################################################

VJetsTrackSmear_p17.Run:                caf_mc_util::ApplyTrackSmear(smear_track_p17)

smear_track_p17.From:                   Track
smear_track_p17.To:                     SmearedTrack
smear_track_p17.Tree:                   %{VJets.ObjectTree}
smear_track_p17.Smear:                  mix
smear_track_p17.Mix:                    0.40
smear_track_p17.conf_name:              p17_09

VJetsTrackSmear_p20.Run:                caf_mc_util::ApplyTrackSmear(smear_track_p20)

smear_track_p20.From:                   Track
smear_track_p20.To:                     SmearedTrack
smear_track_p20.Tree:                   %{VJets.ObjectTree}
smear_track_p20.Smear:                  pre
smear_track_p20.UseZjpsiSmearing:       true
smear_track_p20.conf_name:              p20_zjpsi

# smear_track.From:	Track
# smear_track.To:		SmearTrack
# smear_track.Tree:	%{VJets.ObjectTree}
# smear_track.Smear:	%{VJets.MuonSmearType}
# smear_track.Mix:	0.4
# smear_track.conf_name:	p17_09
# smear_track.debug:      1

loosetrack.From:                SmearedTrack
loosetrack.To:                  %{VJets.LooseTrack_Branch}
loosetrack.Tree:                %{VJets.ObjectTree}
loosetrack.JetBranch:           %{VJets.GoodJet_Branch}
loosetrack.ElectronBranch:      %{VJets.LooseEM_Branch}
# loosetrack.ElectronBranch:      %{VJets.TightEM_Branch}
loosetrack.MuonBranch:          %{VJets.LooseMuon_Branch}
loosetrack.nTracks:             -1
loosetrack.nTracksMax:          -1
loosetrack.pT:                  %{VJets.Track_pT}
loosetrack.Eta:                 2.0
loosetrack.dZElectronVertex:    -1
loosetrack.dZMuonVertex:        -1
loosetrack.dRjet:               -1
loosetrack.dRelectron:          0.5
loosetrack.dRmuon:              0.5
loosetrack.Chi2:                4
loosetrack.DCASignif:           2.5
loosetrack.RatTrk:              0.4
# loosetrack.CalIsoScaled:        0.5
loosetrack.CorrectPtNoSMT:      true

tighttrack.From:                %{VJets.LooseTrack_Branch}
tighttrack.To:                  %{VJets.TightTrack_Branch}
tighttrack.Tree:                %{VJets.ObjectTree}
tighttrack.RatTrk:              0.1
tighttrack.CalIsoScaled:        0.1

## Track Correction
+VJetsTrackCorr.Run:              caf_util::TrackCorr(track_corr)

VJets.LooseLooseDileptonPair_Branch: Empty

track_corr.From:                %{VJets.LooseLooseDileptonPair_Branch}
track_corr.Path:                ./muid_eff/results_data
track_corr.PathMC:              ./muid_eff/results_mc
track_corr.EffType:             Binned
track_corr.EffName:             eff
track_corr.EffVarNames:         z cfteta
track_corr.ObjType:             Muon
track_corr.ObjQuality:          tracktight

VJets.TrackCorr_Branch:         %{VJets.LooseTrack_Branch}

DileptonLeptonCorrection.Run:	Group(VJetsMuSmear_%{VJets.RecoVer})
+DileptonLeptonCorrection.Run:  Group(VJetsElectronSmear_%{VJets.RecoVer})
+DileptonLeptonCorrection.Run:	Group(VJetsJetRemovalElectron)

+DileptonJetCorrection.Run:	Group(VJetsJES)
+DileptonJetCorrection.Run:     Group(Discard_OR_JSSR)
# +DileptonJetCorrection.Run:	Group(VJetsJSSR)
# +DileptonJetCorrection.Run:	Group(VJetsRemoveMCJets)
+DileptonJetCorrection.Run:	Group(RunDileptonBtagging)
+DileptonJetCorrection.Run:	Group(VJetsJetSelection)
+DileptonJetCorrection.Run:	Group(VJetsCleanICRJets_%{VJets.RecoVer})

+RunDileptonBtagging.Run:       Passed

+Discard_OR_JSSR.Run:           Passed

DileptonJSSR.Run:               Group(VJetsJSSR)
+DileptonJSSR.Run:              Group(VJetsRemoveMCJets)

# JET SELECTION
+DileptonJetSelection.Run:      Group(VJetsJetSelection)

+Dilepton0JetSelection.Run:     Select(Dilepton0Jet)
+Dilepton1JetSelection.Run:     Select(Dilepton1Jet)
+Dilepton2JetSelection.Run:     Select(Dilepton2Jet)
+Dilepton2jetExSelection.Run:   Select(Dilepton2JetEx)

Dilepton0Jet.Select:            @%{VJets.FinalJetBranch}.size()==0

Dilepton1Jet.Select:            @%{VJets.FinalJetBranch}.size()==1
Dilepton1JetInc.Select:         @%{VJets.FinalJetBranch}.size()>=1

Dilepton2Jet.Select:            @%{VJets.FinalJetBranch}.size()>=2

Dilepton2JetEx.Select:          @%{VJets.FinalJetBranch}.size()==2

VJets.JetAlgo: JCCB
VJets.JetAlgo_ConeSize: 0.5
VJets.JetAlgo_Number: 2
# VJets.JesOrJssrJet_Branch:        %{VJets.AfterJetRemoval_Branch}
# VJets.JesOrJssrJet_Branch:        %{VJets.JesJet_Branch}Kept
# VJets.JesJet_Branch:              Corr%{VJets.JetAlgo}
VJets.GoodJet_Branch:             Good%{VJets.JetAlgo}
VJets.GoodJet_PtCut:              15.0
VJets.GoodJet_etaCut:             10.0
VJets.GoodJet_detEtaCut:          2.5
VJets.GoodJet_Nmin:               %{VJets.MinJets}
VJets.GoodJet_Nmax:               -1


# #  - B.3 - Bad Jet Selection
# ######################################################
# 
# DileptonBadJetSelection.Run:			TopPreselection(badjet_selection)
# 
# badjet_selection.Tree:			%{VJets.ObjectTree}
# badjet_selection.JetBranch:            	%{VJets.GoodJet_Branch}
# badjet_selection.RejectedJetBranch:	%{VJets.RejectedJet_Branch}
# badjet_selection.RejectedGoodJetBranch:	%{VJets.RejectedGoodJet_Branch}
# badjet_selection.EMJetBranch:		%{VJets.EMJet_Branch}
# badjet_selection.BadJetBranch:		%{VJets.BadJet_Branch}
# 
# badjet_selection.MaxBadJets:		%{VJets.BadJet_Nmax}


# VERTEX SELECTION
+DiMuVertexSelection.Run: Group(VJetsVertexSelection)

VJets.Vertex_Branch:      GoodVertices
VJets.Vertex_AbsZmax:     60
VJets.Vertex_NminTracks:  3
VJets.Vertex_EMBranch:    %{VJets.LooseEM_Branch}
VJets.Vertex_MuonBranch:  %{VJets.LooseMuon_Branch}
#### These need to be set by the analyzer
VJets.Vertex_EM_DeltaZ:   -1
VJets.Vertex_Muon_DeltaZ: -1

### The following is an attempt to correctly handle loose muons in the dilepton analysis...
muon_for_met.MuonQualityName:           loose
# muon_for_met.From:      	        %{VJets.MuonInput_Branch}

VJets.MET_Branch: GoodMET
VJets.Met_Min: 20.
VJets.Met_Max: -1.

met_correction.JSSRSmearingOff:         true

# MISSING ET SELECTION

DileptonMETSelection.Run:   Group(VJetsMetSelection)
+DileptonMETSelection.Run:  Group(VJetsMetSelection2)

+VJetsMet2.Run:		MuonSelector(muon_for_met2)
+VJetsMet2.Run:		ReComputeMET(met_correction2)

# - E.3 - Muons for MET
######################################################

muon_for_met2.From:      	        %{VJets.JesMuon_Branch}
muon_for_met2.To:        	        TempMETMuon2
muon_for_met2.Tree:      	        %{VJets.TempTree}
muon_for_met2.JetBranch:		%{VJets.MetJet_Branch}
muon_for_met2.UseBeamSpot:              false
muon_for_met2.eta:			2.0
muon_for_met2.Sort:			true
# muon_for_met2.Path:			./caf_util/configs/
muon_for_met2.MuonQualityName:		MediumNSeg3
muon_for_met2.MuonQualityVersion:	2
muon_for_met2.TrkQualityName:		Met
muon_for_met2.IsoQualityName:		NotUsed
muon_for_met2.MinDeltaR:		%{VJets.JetAlgo_ConeSize}
muon_for_met2.nMuons:                   0


# - E.4 - Recalculation of MET
##########################

met_correction2.From:			Met
met_correction2.To:			GoodMET2
met_correction2.Tree:			%{VJets.ObjectTree}
met_correction2.electronBranch:		%{VJets.MetEM_Branch}
met_correction2.muonBranch:		TempMETMuon2
met_correction2.jetConeSize:		%{VJets.JetAlgo_ConeSize}
met_correction2.jetBranch:		%{VJets.MetJet_Branch}
met_correction2.useDefaultGoodJetDef:	false
met_correction2.JES:			NotShifted

VJets.AfterJetRemoval_Branch:     Corr%{VJets.JetAlgo}_AfterRemoval

# - C.5 - Missing ET selection
######################################################

VJetsMetSelection2.Run:			METSelector(met_selection2)

met_selection2.From:			GoodMET2
met_selection2.minMET:			%{VJets.Met_Min}
met_selection2.maxMET:			%{VJets.Met_Max}
met_selection2.jetAlgoType:		%{VJets.JetAlgo}
met_selection2.jesMuCorrected:		true
met_selection2.MuCorrected:		true
met_selection2.MCsmeared:		true

dimu_triangle1.MyObject: LeadingMuon
dimu_triangle1.MyObjectBranch: %{VJets.LooseMuon_Branch}
dimu_triangle1.MetBranch: %{VJets.MET_Branch}
dimu_triangle1.jesMuCorrectedMET: true
dimu_triangle1.MuCorrectedMET: true
dimu_triangle1.MCsmearedMET: true
dimu_triangle1.X1: 35
dimu_triangle1.Y1: 0.87266463
dimu_triangle1.X2: 85
dimu_triangle1.Y2: 0

dimu_triangle2.MyObject: LeadingMuon
dimu_triangle2.MyObjectBranch: %{VJets.LooseMuon_Branch}
dimu_triangle2.MetBranch: %{VJets.MET_Branch}
dimu_triangle2.jesMuCorrectedMET: true
dimu_triangle2.MuCorrectedMET: true
dimu_triangle2.MCsmearedMET: true
dimu_triangle2.X1: 35
dimu_triangle2.Y1: 2.181661564992
dimu_triangle2.X2: 85
dimu_triangle2.Y2: 3.0543

MCHFremoval.Run:                  Passed

### DEFAULT VALUES

VJets.BadJet_Nmax:                -1
VJets.GoodEMInput_Branch:         None
VJets.GoodEM_Branch               None
VJets.GoodEM_Quality:             None
VJets.GoodEM_Pt:                  -1.0
VJets.GoodEM_EtaCC:               1.1
VJets.GoodEM_EtaECmin:            1.5
VJets.GoodEM_EtaECmax:            2.5
VJets.GoodEM_Nmin:                -1
VJets.GoodEM_Nmax:                -1
VJets.VetoEM_Branch:              None
VJets.VetoEM_SelectionFile:       None
VJets.VetoEM_Quality:             None
VJets.VetoEM_Version:             0
VJets.VetoEM_Pt:                  -1.0
VJets.VetoEM_EtaCC:               1.1
VJets.VetoEM_EtaECmin:            1.5
VJets.VetoEM_EtaECmax             2.5
VJets.VetoEM_Nmin:                -1
VJets.VetoEM_Nmax:                -1
VJets.GoodMuonInput_Branch:       None
VJets.GoodMuon_Branch:            None
VJets.GoodMuon_Pt                 -1.0
VJets.GoodMuon_Eta                2.0
VJets.GoodMuon_Quality            None
VJets.GoodMuon_TrkQuality         None
VJets.GoodMuon_IsoQuality         None
VJets.GoodMuon_Nmin               -1
VJets.GoodMuon_Nmax               -1
VJets.VetoMuon_Branch             None
VJets.VetoMuon_Pt                 -1.0
VJets.VetoMuon_Eta                2.0
VJets.VetoMuon_Quality            None
VJets.VetoMuon_TrkQuality         None
VJets.VetoMuon_IsoQuality         None
VJets.VetoMuon_Nmin               -1
VJets.VetoMuon_Nmax               -1
VJets.Channel                     emu
VJets.JSSR_UseUniformRemapping:   false
VJets.InputMode:                  DATA
VJets.MuonSmearType:              no
VJets.JesOrJssrJet_Branch:        DUMMY
VJets.InputJet_Branch:            JCCB
VJets.LooseTau_Branch:            DUMMY
VJets.TightTau_Branch:            DUMMY

##########################################################################
