# DileptonBtag.Run:  ApplyJES(jes)
+DileptonBtag.Run:  CafeReadEventProc(event)
# +DileptonBtag.Run:  BTagProcessor(SVT)
# +DileptonBtag.Run:  BTagProcessor(SVT_LOOSE)
+DileptonBtag.Run:  BTagProcessor(NN)
+DileptonBtag.Run:  BTagProcessor(NN_Medium)
+DileptonBtag.Run:  BTagProcessor(NN_L4)
+DileptonBtag.Run:  BTagProcessor(NN_L6)
# +DileptonBtag.Run:  BTagProcessor(JLIP)

+cafe.Packages: d0root_analysis d0root_btag bc_csiptagger d0root_csip d0root_tmbtree
+cafe.Packages: d0root_nnbtag d0root_slt d0root_jlip btags_cert btags_cert_caf
+cafe.Packages: jetcorr caf_util

jes.From:     JCCB
jes.To:       corrJCCB
jes.doJESMU:  false

# event.JetBranch: %{VJets.FinalJetBranch}
# event.JetBranch: %{VJets.JesOrJssrJet_Branch}
event.JetBranch: %{VJets.CorrectedJet_Branch}
# event.JetBranch: %{VJets.JesJet_Branch}
# event.JetCorr: corr
event.JetCorr: smear_mu
event.JetAlgo: JCCB
# If you want to try and tag even bad jets:
event.RequireGoodJets: false

SVT.BTagAlgo: SVT
SVT.Cut: TIGHT
SVT.Features: %{VJets.InputMode}
SVT.Debug: 0

NN.BTagAlgo: NN
NN.Cut: TIGHT
NN.Features: %{VJets.InputMode}
NN.Debug: 0
NN.TaggabilityRF:   %{VJets.TaggabilityRF}
NN.ParamDirectories: btags_cert_caf/samples
NN.UpdateExistingBTagObjects:   false

NN_Medium.BTagAlgo: NN
NN_Medium.Cut:      MEDIUM
NN_Medium.Features:    %{VJets.InputMode}
NN_Medium.Debug:       0
NN_Medium.TaggabilityRF:    %{VJets.TaggabilityRF}
NN_Medium.ParamDirectories: btags_cert_caf/samples
NN_Medium.RunTagger:        false
NN_Medium.UpdateExistingBTagObjects:   false

NN_L4.BTagAlgo: NN
NN_L4.Cut:      L4
NN_L4.Features:    %{VJets.InputMode}
NN_L4.Debug:       0
NN_L4.TaggabilityRF:	 %{VJets.TaggabilityRF}
NN_L4.ParamDirectories: btags_cert_caf/samples
NN_L4.RunTagger:        false
NN_L4.UpdateExistingBTagObjects:   false

NN_L6.BTagAlgo: NN
NN_L6.Cut:      L6
NN_L6.Features:    %{VJets.InputMode}
NN_L6.Debug:       0
NN_L6.TaggabilityRF:	 %{VJets.TaggabilityRF}
NN_L6.ParamDirectories: btags_cert_caf/samples
NN_L6.RunTagger:        false
NN_L6.UpdateExistingBTagObjects:   false

SVT_LOOSE.BTagAlgo: SVT
SVT_LOOSE.Cut: LOOSE
SVT_LOOSE.Features: %{VJets.InputMode}
SVT_LOOSE.Debug: 0

JLIP.BTagAlgo: JLIP
JLIP.Cut: TIGHT
JLIP.Features: %{VJets.InputMode}
JLIP.Debug: 0

# Always end with a comment to avoid the TEnv last line bug

# DileptonBtag_NN_L6.Run:     ApplyJES(jes)
# +DileptonBtag_NN_L6.Run:    CafeReadEventProc(event1)
# +DileptonBtag_NN_L6.Run:    BTagProcessor(NN)
# +DileptonBtag_NN_L6.Run:    BTagProcessor(NN_L4)
# +DileptonBtag_NN_L6.Run:    BTagProcessor(NN_L6)
# +DileptonBtag_NN_L6.Run:    BTagProcessor(NN_Medium)

# # event1.JetBranch: %{VJets.FinalJetBranch}
# # event1.JetBranch: corrJCCB
# # event1.JetCorr: corr
# event1.JetCorr: smear_mu
# event1.JetAlgo: JCCB
# # If you want to try and tag even bad jets:
# event1.RequireGoodJets: false
