################################################################################

+cafe.Include: top_dilepton_me/configs/DileptonTopStandard.config
# +cafe.Include: top_dilepton_me/configs/ee/DIEM_Triggers.config

################################################################################
cafe.PartialReads:  false

VJets.LeadLepton_pT:                          15.0
# VJets.LeadJet_pT:                             20.0
VJets.LeadJet_pT:                             30.0
# VJets.LeadJet_pT:                             15.0
VJets.SecondJet_pT:                           20.0
# VJets.SecondJet_pT:                           15.0

VJets.InputJet_Branch:                        corrJCCB

+diemtrig.Run:               Passed
+diemtrig_tight.Run:         Passed

+Btagging.Run:          Group(DileptonBtag_NN_L6)
+Btagging.Run:          Passed

VJets.FinalJetBranch:            %{VJets.GoodJet_Branch}

nelectrons.Select:          @%{VJets.LooseEM_Branch}.size()>=2
n_tightelectrons.Select:    @%{VJets.TightEM_Branch}.size()<=2
n_tightmuons.Select:        @%{VJets.TightMuon_Branch}.size()==0
tightem.Select:             @%{VJets.TightEM_Branch}.size()==2

npair_loose.Select:     @%{VJets.LooseDileptonPair_Branch}.size()==2

# VJets.ElectronLhoodCut:     0.4
VJets.ElectronLhoodCut:     0.85

leadtight.Select:       %{VJets.LooseDileptonPair_Branch}.Lhood8()[0] >= %{VJets.ElectronLhoodCut}
secondtight.Select:     %{VJets.LooseDileptonPair_Branch}.Lhood8()[1] >= %{VJets.ElectronLhoodCut}

leadjet_select.Select:          %{VJets.GoodJet_Branch}.Pt()[0]>%{VJets.LeadJet_pT}
secondjet_select.Select:        %{VJets.GoodJet_Branch}.Pt()[1]>%{VJets.SecondJet_pT}

VJets.LooseDileptonPair_Branch: LooseEMPair
# VJets.TightDileptonPair_Branch: TightEMPair
VJets.NMuons:          1

# VERTEX SELECTION
VJets.Vertex_EM_DeltaZ:		1
VJets.Vertex_Muon_DeltaZ:		-1

# VJets.JetRemovalEM_Branch:        %{VJets.LooseDileptonPair_Branch}

# Pair Selector for diem
+DIEMPair.Run:                   TopDIEMSelector(pair_os_ss_loose)
# +DIEMPair.Run:                   TopDIEMSelector(pair_os_ss_tight)

VJets.UseSameSign:                   false

pair_os_ss_loose.From:                   %{VJets.LooseEM_Branch}
pair_os_ss_loose.To:                     %{VJets.LooseDileptonPair_Branch}
pair_os_ss_loose.Tree:                   %{VJets.ObjectTree}
pair_os_ss_loose.selectSameSign:         %{VJets.UseSameSign}

VJets.EffOutput:                     DIEMefficiencies

DIEMeff.Output:                     %{VJets.EffOutput}
DIEMeff.TexTitle:                   %{VJets.EffOutput}

trig_data.Run:     Group(DIEM_trigger_%{VJets.RecoVer})

trig_mc.Run:       Group(VJetsDIEMTrigger_%{VJets.RecoVer})

diem_correction.Select:  %{VJets.data_or_mc_val}
diem_correction.Then:    Passed
diem_correction.Else:    ZPtReWeighting(zpt)

diem_correction_tight.Select:   %{VJets.data_or_mc_val}
diem_correction_tight.Then:     Passed
diem_correction_tight.Else:     Group(DileptonElectronCorr)

# Discard_OR_JSSR.Select: %{VJets.data_or_mc_val}
# Discard_OR_JSSR.Then:   Passed
# Discard_OR_JSSR.Else:   Group(DileptonJSSR)

tighttight_2jet.Run:    Select(leadtight)
+tighttight_2jet.Run:    Select(secondtight)
+tighttight_2jet.Run:    If(diem_correction_tight)
+tighttight_2jet.Run:    Group(diemtrig_tight)
+tighttight_2jet.Run:    Group(tt_2jet_matevt)
# +tighttight_2jet.Run:    Group(tt_2jet_Untagged)

tt_2jet_matevt.Run:    Group(Dilepton2JetSelection)
+tt_2jet_matevt.Run:    Group(write_matevt)
+tt_2jet_matevt.Run:    Group(tt_2jet_Untagged)

tt_2jet_Untagged.Run:   TopDileptonPlots(plots_2jet_tight)
+tt_2jet_Untagged.Run:   Passed

plots_2jet_tight.Title: topo_comp_2jet_tight
plots_2jet_tight.EMBranch:               %{VJets.LooseDileptonPair_Branch}
plots_2jet_tight.MuonBranch:             %{VJets.LooseMuon_Branch}
plots_2jet_tight.JetBranch:              %{VJets.GoodJet_Branch}
plots_2jet_tight.MetBranch:              %{VJets.MET_Branch}
plots_2jet_tight.Channel:                ee
plots_2jet_tight.NJetsMin:               2
plots_2jet_tight.LeadJetPt:              %{VJets.LeadJet_pT}
plots_2jet_tight.SecondJetPt:            %{VJets.SecondJet_pT}
plots_2jet_tight.LeadLeptonPt:           %{VJets.LeadLepton_pT}
plots_2jet_tight.DeltaR:                 0.5
plots_2jet_tight.Use_L6_MEDIUM:          true
plots_2jet_tight.Systematics:            EMCorr: electron_corr_%{VJets.RecoVer},EMCorr: electron_pres_corr_%{VJets.RecoVer},TriggerProbability,ZPtReWeighting [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

write_matevt.Run:                   ReadMatrixEvent(matevt_2tight)

matevt_2tight.OutputFile:           %{VJets.EffOutput}_tight.txt
matevt_2tight.ParameterFile:        me_default.rcp
matevt_2tight.ElectronBranch:       %{VJets.LooseDileptonPair_Branch}
matevt_2tight.JetBranch:            %{VJets.GoodJet_Branch}
matevt_2tight.MetBranch:            %{VJets.MET_Branch}
matevt_2tight.LeadJetPt:            15.
matevt_2tight.LeadLeptonPt:         15.
matevt_2tight.MinMET:               20.
matevt_2tight.Channel:              ee
matevt_2tight.Use_L6_MEDIUM:        true
matevt_2tight.DoMCTruth:            true
matevt_2tight.Systematics:          EMCorr: electron_corr_%{VJets.RecoVer},EMCorr: electron_pres_corr_%{VJets.RecoVer},TriggerProbability,ZPtReWeighting_perjet [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

VJets.SampleName:               DIEM_Dummy

################################################################################