#################################################################################
# ttbar->ee Data selection
################################################################################

+cafe.Include: top_dilepton_me/configs/ee/DIEM_MC.config

VJets.ElectronLhoodCut:     0.0

electron_corr_%{VJets.RecoVer}.ObjQuality:      Top_loose

VJets.SignalEM_Branch:                            %{VJets.LooseEM_Branch}
VJets.SignalMuon_Branch:                          %{VJets.LooseMuon_Branch}

# pair_os_ss_loose.RemoveCommonTrack: false
# plots_inc_loose.RemoveCommonTrack: false

################################################################################
