#################################################################################
# ttbar->ee MC selection
################################################################################

+cafe.Include: top_dilepton_me/configs/ee/DIEM_MC.config

jssr_p17.UseSampleDependentCorrection:         true
jssr_p17.FlavorDependence:                     true
jssr_p20.UseSampleDependentCorrection:         true
jssr_p20.FlavorDependence:                     true

################################################################################