################################################################################
# Generic Selection code for ttbar->ee analysis
################################################################################

cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils
+cafe.Packages:     top_cafe top_dilepton_me

##### If you don't want btagging, comment out
+cafe.Include: top_dilepton_me/configs/Dilepton_Btagging.config

+cafe.Include: top_dilepton_me/configs/ee/DIEM_base.config

################################################################################
# ANALYSIS CHAIN
################################################################################

loose_muon.pTmax:   300.0

+cafe.Run: LumiZeroEventRemoval(remove_zero_lumi_events)
+cafe.Run: FindDuplicateEvents
+cafe.Run: Group(DileptonDQ)

+cafe.Run: Stat(DIEMeff)
+cafe.Run: Group(DileptonReweighting)

+cafe.Run: Group(DileptonLeptonCorrection)
+cafe.Run: Group(DileptonElectronSelection)
+cafe.Run: Select(nelectrons)
+cafe.Run: Select(n_tightelectrons)

+cafe.Run: Group(DileptonMuonSelection)
+cafe.Run: Select(n_tightmuons)

+cafe.Run: Group(VJetsVertexSelection)

+cafe.Run: Group(DIEMPair)
+cafe.Run: Select(npair_loose)

+cafe.Run: Group(DileptonJetCorrection)
RunDileptonBtagging.Run:                Group(DileptonBtag)

+cafe.Run: Group(VJetsMet)

+cafe.Run:  Select(leadtight)
+cafe.Run:  Select(secondtight)

+cafe.Run:  If(diem_correction)
+cafe.Run:  If(diem_correction_tight)
+cafe.Run:  Group(diemtrig_tight)

+cafe.Run:  TopDileptonPlots(plots_inc_loose)
+cafe.Run:  WeightSystematics(ws)

+cafe.Run:  Group(write_matevt)

+cafe.Run:  TopDileptonPlots(plots_inc_tight)

+cafe.Run: Passed

VJets.NumberOfFiles:              10

inclusiveskim.Tree: TMBTree
# inclusiveskim.File: %f
inclusiveskim.FilesPerOutput: %{VJets.NumberOfFiles}
inclusiveskim.File: %{VJets.EffOutput}_2jinc_skim_%n.root

# VJets.LeadJet_pT:                             20.0
VJets.LeadJet_pT:                             15.0
# VJets.SecondJet_pT:                           20.0
VJets.SecondJet_pT:                           15.0

plots_inc_loose.Title: topo_comp_inc_loose
plots_inc_loose.EMBranch:               %{VJets.LooseDileptonPair_Branch}
plots_inc_loose.MuonBranch:             %{VJets.LooseMuon_Branch}
plots_inc_loose.JetBranch:              %{VJets.GoodJet_Branch}
plots_inc_loose.MetBranch:              %{VJets.MET_Branch}
plots_inc_loose.Channel:                ee
plots_inc_loose.LeadLeptonPt:           %{VJets.LeadLepton_pT}
plots_inc_loose.Use_L6_MEDIUM:          true
plots_inc_loose.Systematics:            EMCorr: electron_corr_%{VJets.RecoVer},EMCorr: electron_pres_corr_%{VJets.RecoVer},TriggerProbability,ZPtReWeighting_inc [zpt]: Z pT reweighting ,ZPtReWeighting_perjet [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

### Cross section selection
plots_inc_tight.Title: topo_comp_inc_tight
plots_inc_tight.EMBranch:               %{VJets.LooseDileptonPair_Branch}
plots_inc_tight.MuonBranch:             %{VJets.LooseMuon_Branch}
plots_inc_tight.JetBranch:              %{VJets.GoodJet_Branch}
plots_inc_tight.MetBranch:              %{VJets.MET_Branch}
plots_inc_tight.Channel:                ee
plots_inc_tight.LeadLeptonPt:           %{VJets.LeadLepton_pT}
plots_inc_tight.Use_L6_MEDIUM:          true
plots_inc_tight.Systematics:            EMCorr: electron_corr_%{VJets.RecoVer},EMCorr: electron_pres_corr_%{VJets.RecoVer},TriggerProbability,ZPtReWeighting_inc [zpt]: Z pT reweighting ,ZPtReWeighting_perjet [zpt]: Z pT reweighting ,BeamWeight,LumiReWeighting: dilepton_lumi_reweight_%{VJets.RecoVer}

plots_inc_tight.NJetsMin:               2
plots_inc_tight.LeadJetPt:              30.0
plots_inc_tight.Mll_min:                15.0
plots_inc_tight.MZ_low:                 80.0
plots_inc_tight.MZ_high:                100.0
plots_inc_tight.Z_MET_cut:              300.0
plots_inc_tight.MET_below_Z:            45.0
plots_inc_tight.MET_above_Z:            40.0

muon_for_met.pTmax:                     300
muon_for_jes.pTmax:                     300

# +cafe.Run: MeasureLumiProfile(lumi_measure)
# 
# lumi_measure.DataSetName:   DIEM_xsec_summer2008
# lumi_measure.DQDefinition:  dq_defs/common/example.dqdef

################################################################################
