#################################################################################
# ttbar->ee MC selection
################################################################################
cafe.Progress:  1000

cafe.Debug: false

+cafe.Include: top_dilepton_me/configs/ee/DIEM_selection.config
+cafe.Include: top_dilepton_me/configs/ee/DIEM_Triggers.config

# JET SELECTION
# VJets.InputJet_Branch:                    corrJCCB
VJets.InputJet_Branch:                    JCCB
VJets.CorrectedJet_Branch:                %{VJets.CorrectedJet_Branch}

VJets.InputMode:      MC EMTaggability
VJets.TaggabilityRF:  EMTaggabilityRF

# Set to false for non top MC 
VJets.JSSR_UseUniformRemapping:           true

+diemtrig_tight.Run:                  Group(trig_mc)

+DileptonDQ.Run:                      Group(VJetsDQMC_%{VJets.RecoVer})
+DileptonReweighting.Run:             Group(DileptonBeamLumiRW)
+Discard_OR_JSSR.Run:                 Group(DileptonJSSR)

# # run2a
# VJets.DataSet:                        EMinc_FullRunIIa
# VJets.Triggers:                       EM_MegaOR
# VJets.LumiDataSet:                    EMinc_FullRunIIa

# run2b
VJets.DataSet:                        2EMhighpt_Moriond2009
VJets.Triggers:                       DiEM_TriggersOR
VJets.LumiDataSet:                    DIEM_xsec_Moriond2009

electron_corr_p17.EffVarNames:          DetEta DetPhi
electron_corr_p20.EffVarNames:          DetEta DetPhi

# ### Pair selector systematic:
# pair_os_ss_loose.RemoveCommonTrack:   false
# plots_inc_loose.RemoveCommonTrack:    false
# plots_inc_tight.RemoveCommonTrack:    false

################################################################################
