#################################################################################
# ttbar->ee Data selection
################################################################################

cafe.Progress:  1000

cafe.Debug: false

cafe.PartialReads:  false

+cafe.Packages:     tmb_tree caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils gsl
+cafe.Packages:     g2c top_dilepton_me top_dilepton_madgraph

+cafe.Include: top_dilepton_me/configs/ee/DIEM_base.config
+cafe.Include: top_dilepton_me/configs/ee/DIEM_Triggers_Data.config


# JET SELECTION
VJets.InputJet_Branch:            corrJCCB
VJets.JesOrJssrJet_Branch:        %{VJets.AfterJetRemoval_Branch}

VJets.InputMode:  DATA
VJets.TaggabilityRF:  MUTaggability

VJets.MuonSmearType: no

# Doesn't do anything in this context, oh well
VJets.JSSR_UseUniformRemapping:       true

+cafe.Run: Stat(DIEMeff)

### If you want to play around with triggers...
+cafe.Run:  Group(DIEM_trigger_%{VJets.RecoVer})
# +cafe.Run:  Trigger(test_triggers)

### Does full 2jet selection PLUS produces ascii files and W_met
+cafe.Run:  Group(tighttight_2jet)

### v8-v14
test_triggers.Triggers:       EM_HI EM_HI_SH
+test_triggers.Triggers:       E1_SHT20 E1_SH30
+test_triggers.Triggers:       E1_SHT22
+test_triggers.Triggers:       E1_ISHT22 E1_SHT25 E1_SH35

+test_triggers.Triggers:       EM_HI_SH_TR
+test_triggers.Triggers:       E1_SHT15_TK13
+test_triggers.Triggers:       E1_SHT15_TK13
+test_triggers.Triggers:       E1_ISHT15_TK13

+test_triggers.Triggers:      2EM_HI_SH 2EM_HI_SH_TR 2EM_HI_EMFR8
+test_triggers.Triggers:      E1_2SH8 E2_2SH8 E3_2SH8 E1_2L15_SH15 E2_2L15_SH15 E3_2L15_SH15
+test_triggers.Triggers:      E1_2L15_SH15 E2_2L15_SH15 E3_2L15_SH15 E4_2L15_SH15 E20_2L15_SH15 E21_2L15_SH15 E22_2L15_SH15 E23_2L15_SH15 E25_2L15_SH15 E1_2SH8 E2_2SH8 E3_2SH8 E4_2SH8 E20_2SH8 E21_2SH8 E22_2SH8 E23_2SH8 E25_2SH8
+test_triggers.Triggers:      E1_2SH10_SH15 E2_2SH10_SH15 E3_2SH10_SH15 E4_2SH10_SH15 E5_2SH10_SH15 E6_2SH10_SH15 E1_2L20_L25 E2_2L20_L25 E3_2L20_L25 E4_2L20_L25 E5_2L20_L25 E6_2L20_L25 E1_2L15_SH15_L20 E2_2L15_SH15_L20 E3_2L15_SH15_L20 E4_2L15_SH15_L20 E5_2L15_SH15_L20 E6_2L15_SH15_L20

### v15 - v15.49

test_triggers.Triggers:       E1_ISHT22 E1_SHT25 E1_ISH30 E1_SH30 E1_L70
+test_triggers.Triggers:      E1_ISHT15_TK13
+test_triggers.Triggers:      E1_T13SHT15 E1_T15SH20
+test_triggers.Triggers:      E1_SHT15_2J_J25
+test_triggers.Triggers:      E1_2L15SH15_L20 E1_2L20_L25 E1_2SH10_SH15 E1_2_T10L10_L15

+test_triggers.Triggers:      E2_ISHT22 E2_SHT25 E2_ISH30 E2_SH30 E2_L70
+test_triggers.Triggers:      E2_ISHT15_TK13
+test_triggers.Triggers:      E2_T13SHT15 E2_T15SH20
+test_triggers.Triggers:      E2_SHT15_2J_J25
+test_triggers.Triggers:      E2_2L15SH15_L20 E2_2L20_L25 E2_2SH10_SH15 E2_2_T10L10_L15

+test_triggers.Triggers:      TE1_ISHT22 TE1_SHT25 TE1_ISH30 TE1_SH30 TE1_L70
+test_triggers.Triggers:      TE1_ISHT15_TK13
+test_triggers.Triggers:      TE1_T13SHT15 TE1_T15SH20
+test_triggers.Triggers:      TE1_SHT15_2J_J25
+test_triggers.Triggers:      TE1_2L15SH15_L20 TE1_2L20_L25 TE1_2SH10_SH15 TE1_2_T10L10_L15

+test_triggers.Triggers:      TE2_ISHT22 TE2_SHT25 TE2_ISH30 TE2_SH30 TE2_L70
+test_triggers.Triggers:      TE2_ISHT15_TK13
+test_triggers.Triggers:      TE2_T13SHT15 TE2_T15SH20
+test_triggers.Triggers:      TE2_SHT15_2J_J25
+test_triggers.Triggers:      TE2_2L15SH15_L20 TE2_2L20_L25 TE2_2SH10_SH15 TE2_2_T10L10_L15

+test_triggers.Triggers:      DE1_2L15SH15_L20 DE1_2L20_L25 DE1_2SH10_SH15 DE1_2_T10L10_L15

+test_triggers.Triggers:      DE2_2L15SH15_L20 DE2_2L20_L25 DE2_2SH10_SH15 DE2_2_T10L10_L15

+test_triggers.Triggers:      DE3_2L15SH15_L20 DE3_2L20_L25 DE3_2SH10_SH15 DE3_2_T10L10_L15

+test_triggers.Triggers:      DE4_2L15SH15_L20 DE4_2L20_L25 DE4_2SH10_SH15 DE4_2_T10L10_L15

### v15.5+

test_triggers.Triggers:      E1_LH2ISH24 E1_LH2SH27 E1_SHT50 E1_SH60 E1_LH2L70 E1_L80
+test_triggers.Triggers:     E1_LH2ISHT17T14
+test_triggers.Triggers:     E1_T14LH2SH17
+test_triggers.Triggers:     E1_SHT15_2J_J25
+test_triggers.Triggers:      E1_2L15SH15_L20 E1_2L20_L25 E1_2SH10_SH15 E1_2_T10L10_L15

+test_triggers.Triggers:     E2_LH2ISH24 E2_LH2SH27 E2_SHT50 E2_SH60 E2_LH2L70 E2_L80
+test_triggers.Triggers:     E2_LH2ISHT17T14
+test_triggers.Triggers:     E2_T14LH2SH17
+test_triggers.Triggers:     E2_SHT15_2J_J25
+test_triggers.Triggers:      E2_2L15SH15_L20 E2_2L20_L25 E2_2SH10_SH15 E2_2_T10L10_L15

+test_triggers.Triggers:     TE1_LH2ISH24 TE1_LH2SH27 TE1_SHT50 TE1_SH60 TE1_LH2L70 TE1_L80
+test_triggers.Triggers:     TE1_LH2ISHT17T14
+test_triggers.Triggers:     TE1_T14LH2SH17
+test_triggers.Triggers:     TE1_SHT15_2J_J25
+test_triggers.Triggers:      TE1_2L15SH15_L20 TE1_2L20_L25 TE1_2SH10_SH15 TE1_2_T10L10_L15

+test_triggers.Triggers:     TE2_LH2ISH24 TE2_LH2SH27 TE2_SHT50 TE2_SH60 TE2_LH2L70 TE2_L80
+test_triggers.Triggers:     TE2_LH2ISHT17T14
+test_triggers.Triggers:     TE2_T14LH2SH17
+test_triggers.Triggers:     TE2_SHT15_2J_J25
+test_triggers.Triggers:      TE2_2L15SH15_L20 TE2_2L20_L25 TE2_2SH10_SH15 TE2_2_T10L10_L15

+test_triggers.Triggers:     DE1_2L15SH15_L20 DE1_2L20_L25 DE1_2SH10_SH15 DE1_2_T10L10_L15

+test_triggers.Triggers:     DE2_2L15SH15_L20 DE2_2L20_L25 DE2_2SH10_SH15 DE2_2_T10L10_L15

################################################################################
