############## ejet or etrk or ecal Trigger Group ##########################
VJetsDIEMTrigger_p17.Run:     cafTriggerEfficiency(trigInit_diem_p17)
+VJetsDIEMTrigger_p17.Run: Group(VJetsDIEM_p17)
+VJetsDIEMTrigger_p17.Run: cafTriggerOutput(trigOut_diem_p17)

trigInit_diem_p17.embranch:     %{VJets.TightEM_Branch}
trigInit_diem_p17.mubranch:     TurnOff
trigInit_diem_p17.trackbranch:  TurnOff
trigInit_diem_p17.jetbranch:    TurnOff

#emergency refixed sample
# 894 pb in total
# trigInit.lumi:         92.18, 198.61, 46.96, 285.80, 271.04
trigInit_diem_p17.lumi:         10.2 , 114.03 , 231.20 , 55.44 , 322.90 , 333.83
trigInit_diem_p17.triglist:     v8,v8_4,v12,v13,v13_3,v14

# trigInit_diem_p17.EMSpeedUps: true
# trigInit_diem_p17.MuSpeedUps: true
# trigInit_diem_p17.MuVars:  _deteta,fX,fY,_chptr
# trigInit_diem_p17.EMVars:  fX,fY,_chptrBest

# trigOut_diem_p17.histos:       TriggerProbability
# trigOut_diem_p17.histosBins:   120
#trigOut.globalWeight: DIEM
######################################################

############# Trigger Definition for diem channel #####################
VJetsDIEM_p17.Run: Probability_DILEP(DIEMProb_p17)

DIEMProb_p17.ElectronPath: ./top_dilepton_me/spc
DIEMProb_p17.MuonPath: ./muid_eff/results_data
DIEMProb_p17.TrackPath: ./muid_eff/results_data
DIEMProb_p17.JetPath: ./
DIEMProb_p17.Path: ./
DIEMProb_p17.ignoreOverflow: true
DIEMProb_p17.ignoreUnderflow: false
DIEMProb_p17.OutputFileName: ./table_trigger_%{VJets.EffOutput}

DIEMProb_p17.TriggerVersions:       v8,v8_4,v12,v13,v13_3,v14
DIEMProb_p17.GlobalTriggerVersions: v8 v8_4 v12 v13 v13_3 v14

DIEMProb_p17.sigma:                  true
# DIEMProb_p17.Systematic:           nominal
# DIEMProb_p17.Systematic:           plus
# DIEMProb_p17.Systematic:           minus

# @@ all triggers we need efficiencies for (if more than one: will compute the OR and need the overlap terms):
v8.Triggers:  EM_HI_SH_TR_v8 EM_CAL_v8
v8_4.Triggers:  EM_HI_SH_TR_v8 EM_CAL_v8
v12.Triggers: E1_SHT15_TK13_v12 EM_CAL_v12
v13.Triggers: E1_SHT15_TK13_v13 EM_CAL_v13
v13_3.Triggers: E1_SHT15_TK13_v13 EM_CAL_v13
v14.Triggers:  E1_ISHT15_TK13_v14 EM_CAL_v14

# overlap terms needed to compute OR of above triggers
v8.Overlap:    AND_EM_HI_SH_TR_EM_CAL_v8

v8_4.Overlap:    AND_EM_HI_SH_TR_EM_CAL_v8

v12.Overlap:       AND_E1_SHT15_TK13_EM_CAL_v12

v13.Overlap:       AND_E1_SHT15_TK13_EM_CAL_v13

v13_3.Overlap:     AND_E1_SHT15_TK13_EM_CAL_v133

v14.Overlap:       AND_E1_ISHT15_TK13_EM_CAL_v14

# v8.Triggers:  EM_HI_SH_TR_v8
# v8_4.Triggers:  EM_HI_SH_TR_v8
# v12.Triggers: E1_SHT15_TK13_v12
# v13.Triggers: E1_SHT15_TK13_v13
# v13_3.Triggers: E1_SHT15_TK13_v13
# v14.Triggers: E1_ISHT15_TK13_v14

# v8.Triggers:  EM_CAL_v8
# v8_4.Triggers:  EM_CAL_v8
# v12.Triggers: EM_CAL_v12
# v13.Triggers: EM_CAL_v13
# v13_3.Triggers: EM_CAL_v13
# v14.Triggers: EM_CAL_v14


# Trigger Version 8 - 11

EM_HI_SH_TR_v8.ObjectsL3:  L3ELE_LOOSE_SH_T_1_12 TR12

EM_CAL_v8.ObjectsL3:       L3EM_CAL_OR_v8

L3ELE_LOOSE_SH_T_1_12.ObjType:          Electron
L3ELE_LOOSE_SH_T_1_12.EffName:          TrigEff
L3ELE_LOOSE_SH_T_1_12.EffVarNames:      deteta pt
L3ELE_LOOSE_SH_T_1_12.ObjQuality:       L3ELE_etk_all_v8.0
L3ELE_LOOSE_SH_T_1_12.ObjRelativeTo:    top_tight

L3EM_CAL_OR_v8.ObjType:          Electron
L3EM_CAL_OR_v8.EffName:          TrigEff
L3EM_CAL_OR_v8.EffVarNames:      deteta pt
L3EM_CAL_OR_v8.ObjQuality:       L3ELE_ecal_OR_all_v8.0
L3EM_CAL_OR_v8.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v8.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v8.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v8.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v8.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v8.0
L3EM_ETK_AND_CAL_OR_v8.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v12.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v12.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v12.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v12.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v12.0
L3EM_ETK_AND_CAL_OR_v12.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v13.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v13.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v13.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v13.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v13.0
L3EM_ETK_AND_CAL_OR_v13.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v14.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v14.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v14.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v14.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v14.51
L3EM_ETK_AND_CAL_OR_v14.ObjRelativeTo:    top_tight

TR12.ObjType:               Muon
TR12.EffName:               eff
TR12.EffVarNames:           z cfteta
TR12.ObjQuality:            l3trk12h10
TR12.ObjRelativeTo:         trackmedium
TR12.TriggerVersionLow:     8.0
TR12.TriggerVersionHigh:    11.99

# Trigger Version 12

E1_SHT15_TK13_v12.ObjectsL3:    L3ELE_NLV_SHT_1_15_v12 TRK13_v12

EM_CAL_v12.ObjectsL3:           L3EM_CAL_OR_v12

L3ELE_NLV_SHT_1_15_v12.ObjType:         Electron
L3ELE_NLV_SHT_1_15_v12.EffName:         TrigEff
L3ELE_NLV_SHT_1_15_v12.EffVarNames:     deteta pt
L3ELE_NLV_SHT_1_15_v12.ObjQuality:      L3ELE_etk_all_v12.0
L3ELE_NLV_SHT_1_15_v12.ObjRelativeTo:   top_tight

L3EM_CAL_OR_v12.ObjType:         Electron
L3EM_CAL_OR_v12.EffName:         TrigEff
L3EM_CAL_OR_v12.EffVarNames:     deteta pt
L3EM_CAL_OR_v12.ObjQuality:      L3ELE_ecal_OR_all_v12.0
L3EM_CAL_OR_v12.ObjRelativeTo:   top_tight

TRK13_v12.ObjType:              Muon
TRK13_v12.EffName:              eff
TRK13_v12.EffVarNames:          z cfteta
TRK13_v12.ObjQuality:           l3trk12h10
TRK13_v12.ObjRelativeTo:        trackmedium
TRK13_v12.TriggerVersionLow:    12.00
TRK13_v12.TriggerVersionHigh:   12.99

# Trigger Version 13 -13.3 ====================

E1_SHT15_TK13_v13.ObjectsL3:    L3ELE_NLV_SHT_1_15_v13 TRK13_v13

EM_CAL_v13.ObjectsL3:    L3EM_CAL_OR_v13

L3ELE_NLV_SHT_1_15_v13.ObjType:         Electron
L3ELE_NLV_SHT_1_15_v13.EffName:         TrigEff
L3ELE_NLV_SHT_1_15_v13.EffVarNames:     deteta pt
L3ELE_NLV_SHT_1_15_v13.ObjQuality:      L3ELE_etk_all_v13.0
L3ELE_NLV_SHT_1_15_v13.ObjRelativeTo:   top_tight

L3EM_CAL_OR_v13.ObjType:         Electron
L3EM_CAL_OR_v13.EffName:         TrigEff
L3EM_CAL_OR_v13.EffVarNames:     deteta pt
L3EM_CAL_OR_v13.ObjQuality:      L3ELE_ecal_OR_all_v13.0
L3EM_CAL_OR_v13.ObjRelativeTo:   top_tight

TRK13_v13.ObjType:              Muon
TRK13_v13.EffName:              eff
TRK13_v13.EffVarNames:          z cfteta
TRK13_v13.ObjQuality:           l3trk12h10
TRK13_v13.ObjRelativeTo:        trackmedium
TRK13_v13.TriggerVersionLow:    13.0
TRK13_v13.TriggerVersionHigh:    13.99

# Trigger Version 13.3  ====================

# Trigger Version 14 ====================

E1_ISHT15_TK13_v14.ObjectsL3:   L3ELE_NLV_SHT_1_15_v14 TRK13_v14

EM_CAL_v14.ObjectsL3:   L3EM_CAL_OR_v14

L3ELE_NLV_SHT_1_15_v14.ObjType:         Electron
L3ELE_NLV_SHT_1_15_v14.EffName:         TrigEff
L3ELE_NLV_SHT_1_15_v14.EffVarNames:     deteta pt
L3ELE_NLV_SHT_1_15_v14.ObjQuality:      L3ELE_etk_all_v14.51
L3ELE_NLV_SHT_1_15_v14.ObjRelativeTo:   top_tight

L3EM_CAL_OR_v14.ObjType:         Electron
L3EM_CAL_OR_v14.EffName:         TrigEff
L3EM_CAL_OR_v14.EffVarNames:     deteta pt
L3EM_CAL_OR_v14.ObjQuality:      L3ELE_ecal_OR_all_v14.51
L3EM_CAL_OR_v14.ObjRelativeTo:   top_tight

TRK13_v14.ObjType:              Muon
TRK13_v14.EffName:              eff
TRK13_v14.EffVarNames:          z cfteta
TRK13_v14.ObjQuality:           l3trk12h10
TRK13_v14.ObjRelativeTo:        trackmedium
TRK13_v14.TriggerVersionLow:    14.0
TRK13_v14.TriggerVersionHigh:    14.89

##########################################################
# conditionnal efficiency needed for (MUEM1_* AND MUEM2_)
##########################################################

AND_EM_HI_SH_TR_EM_CAL_v8.ObjectsL3:    L3EM_ETK_AND_CAL_OR_v8 TR12

AND_E1_SHT15_TK13_EM_CAL_v12.ObjectsL3:   L3EM_ETK_AND_CAL_OR_v12 TRK13_v12

AND_E1_SHT15_TK13_EM_CAL_v13.ObjectsL3:    L3EM_ETK_AND_CAL_OR_v13 TRK13_v13

AND_E1_SHT15_TK13_EM_CAL_v133.ObjectsL3:    L3EM_ETK_AND_CAL_OR_v13 TRK13_v13

AND_E1_ISHT15_TK13_EM_CAL_v14.ObjectsL3:   L3EM_ETK_AND_CAL_OR_v14 TRK13_v14

##################################################################

############## ejet or etrk or ecal Trigger Group ##########################
VJetsDIEMTrigger_p20.Run:     cafTriggerEfficiency(trigInit_diem_p20)
+VJetsDIEMTrigger_p20.Run: Group(VJetsDIEM_p20)
+VJetsDIEMTrigger_p20.Run: cafTriggerOutput(trigOut_diem_p20)

trigInit_diem_p20.embranch:     %{VJets.TightEM_Branch}
trigInit_diem_p20.mubranch:     TurnOff
trigInit_diem_p20.trackbranch:  TurnOff
trigInit_diem_p20.jetbranch:    TurnOff

# [from -  to[  Trigger                 Del     Rec    Good  Rcnstr
# V15.0 - V15.5 E1_ISHT22            714.39  602.99  524.40  524.40
# V15.5 - V16.0 E1_LH2ISH24          786.58  737.81  676.95  676.95
# -----------------------------------------------------------------
#   T O T A L                       1500.97 1340.80 1201.34 1201.34

trigInit_diem_p20.lumi:         534.5 , 693.8 , 397.31 , 947.7
trigInit_diem_p20.triglist:     v15,v15_5,v15_5_2,v16

######################################################

############# Trigger Definition for diem channel #####################
VJetsDIEM_p20.Run: Probability_DILEP(DIEMProb_p20)

# DIEMProb_p20.ElectronPath: ./top_dilepton_me/spc
DIEMProb_p20.ElectronPath: ./emid_eff/
DIEMProb_p20.MuonPath: ./muid_eff/results_data_2b
DIEMProb_p20.TrackPath: ./muid_eff/results_data_2b
DIEMProb_p20.JetPath: ./
DIEMProb_p20.Path: ./
DIEMProb_p20.ignoreOverflow: true
DIEMProb_p20.ignoreUnderflow: false
DIEMProb_p20.OutputFileName: ./table_trigger_%{VJets.EffOutput}

DIEMProb_p20.TriggerVersions:       v15,v15_5,v15_5_2,v16
DIEMProb_p20.GlobalTriggerVersions: v15 v15_5 v15_5_2 v16

DIEMProb_p20.sigma:                  true

# # @@ all triggers we need efficiencies for (if more than one: will compute the OR and need the overlap terms):
# v15.Triggers:   En_ISHT15_TK13 En_CAL_v15
# v15_5.Triggers: En_LH2ISHT17T14 En_CAL_v155
# 
# # overlap terms needed to compute OR of above triggers
# +v15.Overlap:     AND_En_ISHT15_TK13_En_CAL_v15
# +v15_5.Overlap:   AND_En_LH2ISHT17T14_En_CAL_v155

# v15.Triggers:   En_ISHT15_TK13
# v15_5.Triggers: En_LH2ISHT17T14

v15.Triggers:     En_CAL_v15
v15_5.Triggers:   En_CAL_v155
v15_5_2.Triggers: En_CAL_v155_2
v16.Triggers:     En_CAL_v16

# Trigger Version 15-15.5

En_ISHT15_TK13.ObjectsL3:         L3ELE_etk_all_v15 TRK13_v15

# En_CAL_v15.ObjectsL3:             L3ELE_ecal_OR_all_v15
En_CAL_v15.ObjectsL3:             ECAL_OR_VJETS_v15

# Trigger Version 15.5

En_LH2ISHT17T14.ObjectsL3:        L3ELE_etk_all_v155 TRK14_v155

# En_CAL_v155.ObjectsL3:             L3ELE_ecal_OR_all_v155
En_CAL_v155.ObjectsL3:             ECAL_OR_VJETS_v155

# En_CAL_v155_2.ObjectsL3:             L3ELE_ecal_OR_all_v155_2
En_CAL_v155_2.ObjectsL3:             ECAL_OR_VJETS_v155_2

# En_CAL_v16.ObjectsL3:             L3ELE_ecal_OR_all_v16
En_CAL_v16.ObjectsL3:             ECAL_OR_VJETS_v16


ECAL_OR_VJETS_v15.ObjType:                Electron
ECAL_OR_VJETS_v15.EffName:                SINGLEELE_ALL_v15_PASS2
ECAL_OR_VJETS_v15.EffVarNames:            deteta pT
ECAL_OR_VJETS_v15.ObjQuality:             top_tight

ECAL_OR_VJETS_v155.ObjType:                Electron
ECAL_OR_VJETS_v155.EffName:                SINGLEELE_ALL_v155_PASS2
ECAL_OR_VJETS_v155.EffVarNames:            deteta pT
ECAL_OR_VJETS_v155.ObjQuality:             top_tight

ECAL_OR_VJETS_v155_2.ObjType:                Electron
ECAL_OR_VJETS_v155_2.EffName:                SINGLEELE_ALL_v155_PASS4
ECAL_OR_VJETS_v155_2.EffVarNames:            deteta pT
ECAL_OR_VJETS_v155_2.ObjQuality:             top_tight

ECAL_OR_VJETS_v16.ObjType:                Electron
ECAL_OR_VJETS_v16.EffName:                SINGLEELE_ALL_v16_PASS4
ECAL_OR_VJETS_v16.EffVarNames:            deteta pT
ECAL_OR_VJETS_v16.ObjQuality:             top_tight


L3ELE_ecal_OR_all_v15.ObjType:            Electron
L3ELE_ecal_OR_all_v15.EffName:            TrigEff
L3ELE_ecal_OR_all_v15.EffVarNames:        deteta pt
L3ELE_ecal_OR_all_v15.ObjQuality:         L3ELE_ecal_OR_all_v15.0
L3ELE_ecal_OR_all_v15.ObjRelativeTo:      top_tight

L3ELE_ecal_OR_all_v155.ObjType:            Electron
L3ELE_ecal_OR_all_v155.EffName:            TrigEff
L3ELE_ecal_OR_all_v155.EffVarNames:        deteta pt
L3ELE_ecal_OR_all_v155.ObjQuality:         L3ELE_ecal_OR_all_v15.50
L3ELE_ecal_OR_all_v155.ObjRelativeTo:      top_tight

L3ELE_ecal_OR_all_v155_2.ObjType:            Electron
L3ELE_ecal_OR_all_v155_2.EffName:            TrigEff
L3ELE_ecal_OR_all_v155_2.EffVarNames:        deteta pt
L3ELE_ecal_OR_all_v155_2.ObjQuality:         L3ELE_ecal_OR_all_v15.90
L3ELE_ecal_OR_all_v155_2.ObjRelativeTo:      top_tight

L3ELE_ecal_OR_all_v16.ObjType:            Electron
L3ELE_ecal_OR_all_v16.EffName:            TrigEff
L3ELE_ecal_OR_all_v16.EffVarNames:        deteta pt
L3ELE_ecal_OR_all_v16.ObjQuality:         L3ELE_ecal_OR_all_v16.00
L3ELE_ecal_OR_all_v16.ObjRelativeTo:      top_tight

L3ELE_etk_all_v15.ObjType:            Electron
L3ELE_etk_all_v15.EffName:            TrigEff
L3ELE_etk_all_v15.EffVarNames:        deteta pt
L3ELE_etk_all_v15.ObjQuality:         L3ELE_etk_all_v15.0
L3ELE_etk_all_v15.ObjRelativeTo:      top_tight

L3ELE_etk_all_v155.ObjType:            Electron
L3ELE_etk_all_v155.EffName:            TrigEff
L3ELE_etk_all_v155.EffVarNames:        deteta pt
L3ELE_etk_all_v155.ObjQuality:         L3ELE_etk_all_v15.50
L3ELE_etk_all_v155.ObjRelativeTo:      top_tight

L3ELE_etk_all_v155_2.ObjType:            Electron
L3ELE_etk_all_v155_2.EffName:            TrigEff
L3ELE_etk_all_v155_2.EffVarNames:        deteta pt
L3ELE_etk_all_v155_2.ObjQuality:         L3ELE_etk_all_v15.90
L3ELE_etk_all_v155_2.ObjRelativeTo:      top_tight

L3ELE_etk_all_v16.ObjType:            Electron
L3ELE_etk_all_v16.EffName:            TrigEff
L3ELE_etk_all_v16.EffVarNames:        deteta pt
L3ELE_etk_all_v16.ObjQuality:         L3ELE_etk_all_v16.00
L3ELE_etk_all_v16.ObjRelativeTo:      top_tight


L3ELE_etk_AND_ecal_OR_all_v15.ObjType:            Electron
L3ELE_etk_AND_ecal_OR_all_v15.EffName:            TrigEff
L3ELE_etk_AND_ecal_OR_all_v15.EffVarNames:        deteta pt
L3ELE_etk_AND_ecal_OR_all_v15.ObjQuality:         L3ELE_etk_AND_ecal_OR_all_v15.0
L3ELE_etk_AND_ecal_OR_all_v15.ObjRelativeTo:      top_tight

L3ELE_etk_AND_ecal_OR_all_v155.ObjType:            Electron
L3ELE_etk_AND_ecal_OR_all_v155.EffName:            TrigEff
L3ELE_etk_AND_ecal_OR_all_v155.EffVarNames:        deteta pt
L3ELE_etk_AND_ecal_OR_all_v155.ObjQuality:         L3ELE_etk_AND_ecal_OR_all_v15.50
L3ELE_etk_AND_ecal_OR_all_v155.ObjRelativeTo:      top_tight

L3ELE_etk_AND_ecal_OR_all_v155_2.ObjType:            Electron
L3ELE_etk_AND_ecal_OR_all_v155_2.EffName:            TrigEff
L3ELE_etk_AND_ecal_OR_all_v155_2.EffVarNames:        deteta pt
L3ELE_etk_AND_ecal_OR_all_v155_2.ObjQuality:         L3ELE_etk_AND_ecal_OR_all_v15.90
L3ELE_etk_AND_ecal_OR_all_v155_2.ObjRelativeTo:      top_tight

L3ELE_etk_AND_ecal_OR_all_v16.ObjType:            Electron
L3ELE_etk_AND_ecal_OR_all_v16.EffName:            TrigEff
L3ELE_etk_AND_ecal_OR_all_v16.EffVarNames:        deteta pt
L3ELE_etk_AND_ecal_OR_all_v16.ObjQuality:         L3ELE_etk_AND_ecal_OR_all_v16.00
L3ELE_etk_AND_ecal_OR_all_v16.ObjRelativeTo:      top_tight

TRK13_v15.ObjType:                Muon
TRK13_v15.EffName:                eff
TRK13_v15.EffVarNames:            phi cfteta
TRK13_v15.ObjQuality:             l3trk12h10
TRK13_v15.ObjRelativeTo:          trackmedium
TRK13_v15.TriggerVersionLow:      15.0
TRK13_v15.TriggerVersionHigh:     15.49

TRK14_v155.ObjType:                Muon
TRK14_v155.EffName:                eff
TRK14_v155.EffVarNames:            phi cfteta
TRK14_v155.ObjQuality:             l3trk12h10
TRK14_v155.ObjRelativeTo:          trackmedium
TRK14_v155.TriggerVersionLow:      15.50
TRK14_v155.TriggerVersionHigh:     15.89

TRK14_v155_2.ObjType:                Muon
TRK14_v155_2.EffName:                eff
TRK14_v155_2.EffVarNames:            phi cfteta
TRK14_v155_2.ObjQuality:             l3trk12h10
TRK14_v155_2.ObjRelativeTo:          trackmedium
TRK14_v155_2.TriggerVersionLow:      15.9
TRK14_v155_2.TriggerVersionHigh:     15.99

TRK14_v16.ObjType:                Muon
TRK14_v16.EffName:                eff
TRK14_v16.EffVarNames:            phi cfteta
TRK14_v16.ObjQuality:             l3trk12h10
TRK14_v16.ObjRelativeTo:          trackmedium
TRK14_v16.TriggerVersionLow:      16.00
TRK14_v16.TriggerVersionHigh:     16.99

##########################################################
# conditionnal efficiency needed for (MUEM1_* AND MUEM2_)
##########################################################

AND_En_ISHT15_TK13_En_CAL_v15.ObjectsL3:  L3ELE_etk_AND_ecal_OR_all_v15 TRK13_v15

AND_En_LH2ISHT17T14_En_CAL_v155.ObjectsL3:          L3ELE_etk_AND_ecal_OR_all_v155 TRK14_v155

##################################################################
