############# TRIGGER ###############################################
#### There is far too much duplication here! ####

+DIEM_trigger_p17.Run:   MatchEMTriggers(diem_triggers_p17)

diem_triggers_p17.EMBranch:                %{VJets.LooseEM_Branch}
diem_triggers_p17.MuonBranch:              %{VJets.LooseLooseDileptonPair_Branch}
diem_triggers_p17.JetBranch:               %{VJets.GoodJet_Branch}
diem_triggers_p17.DoMatching:              true
diem_triggers_p17.L1DeltaR:                0.5
diem_triggers_p17.L2DeltaR:                0.5
diem_triggers_p17.L3DeltaR:                0.5

+DIEM_trigger_p20.Run:   MatchEMTriggers(diem_triggers_p20)

diem_triggers_p20.EMBranch:                %{VJets.LooseEM_Branch}
diem_triggers_p20.MuonBranch:              %{VJets.LooseLooseDileptonPair_Branch}
diem_triggers_p20.JetBranch:               %{VJets.GoodJet_Branch}
diem_triggers_p20.DoMatching:              true
diem_triggers_p20.L1DeltaR:                0.5
diem_triggers_p20.L2DeltaR:                0.5
diem_triggers_p20.L3DeltaR:                0.5

### Run2a e|etrk
# #run2a ecal
# #run2a ecal
diem_triggers_p17.Triggers:                EM_HI EM_HI_SH EM_MX EM_MX_SH
+diem_triggers_p17.Triggers:               E1_SHT20 E1_SH30 E1_T13L15
+diem_triggers_p17.Triggers:               E1_SHT22 E1_T13SH15 E1_T15L20
+diem_triggers_p17.Triggers:               E1_ISHT22 E1_SHT25 E1_ISH30 E1_SH35 E1_T13SHT15 E1_T15SH20
#run2a e+track
+diem_triggers_p17.Triggers:               EM_HI_SH_TR EM_MX_SH_TR
+diem_triggers_p17.Triggers:               E1_SHT15_TK13
+diem_triggers_p17.Triggers:               E1_ISHT15_TK13
# #run2a ejets
# +diem_triggers_p17.Triggers:               EM15_2JT15
# +diem_triggers_p17.Triggers:               E1_SHT15_2J20
# +diem_triggers_p17.Triggers:               E1_SHT15_2J_J30
# +diem_triggers_p17.Triggers:               E1_SHT15_2J_J25

### Run2b e|etrk
# #run2b ecal
+diem_triggers_p20.Triggers:               E1_ISHT22 E1_SHT25 E1_ISH30 E1_SH35 E1_L70 E1_T13SHT15 E1_T15SH20
+diem_triggers_p20.Triggers:               E2_ISHT22 E2_SHT25 E2_ISH30 E2_SH35 E2_L70 E2_T13SHT15 E2_T15SH20
+diem_triggers_p20.Triggers:               E1_LH2ISH24 E1_LH2SH27 E1_SHT50 E1_SH60 E1_LH2L70 E1_L80 E1_T14LH2SH17
+diem_triggers_p20.Triggers:               E2_LH2ISH24 E2_LH2SH27 E2_SHT50 E2_SH60 E2_LH2L70 E2_L80 E2_T14LH2SH17
+diem_triggers_p20.Triggers:               TE1_ISHT22 TE1_SHT25 TE1_ISH30 TE1_SH35 TE1_L70 TE1_T13SHT15 TE1_T15SH20
+diem_triggers_p20.Triggers:               TE2_ISHT22 TE2_SHT25 TE2_ISH30 TE2_SH35 TE2_L70 TE2_T13SHT15 TE2_T15SH20
+diem_triggers_p20.Triggers:               TE1_LH2ISH24 TE1_LH2SH27 TE1_SHT50 TE1_SH60 TE1_LH2L70 TE1_L80 TE1_T14LH2SH17
+diem_triggers_p20.Triggers:               TE2_LH2ISH24 TE2_LH2SH27 TE2_SHT50 TE2_SH60 TE2_LH2L70 TE2_L80 TE2_T14LH2SH17

+diem_triggers_p20.Triggers:               E1_LH3ISH25 E1_SHT27 E1_LH3SH27 E1_SH60 E1_LH2L70 E1_L80
+diem_triggers_p20.Triggers:               E2_LH3ISH25 E2_SHT27 E2_LH3SH27 E2_SH60 E2_LH2L70 E2_L80

#run2b e+track
# +diem_triggers_p20.Triggers:               E1_ISHT15_TK13 E1_LH2ISHT17T14
# +diem_triggers_p20.Triggers:               E2_ISHT15_TK13 E2_LH2ISHT17T14
# +diem_triggers_p20.Triggers:               TE1_ISHT15_TK13 TE1_LH2ISHT17T14
# +diem_triggers_p20.Triggers:               TE2_ISHT15_TK13 TE2_LH2ISHT17T14
#run2b ejets
# +diem_triggers_p20.Triggers:               EJT_SHT15_2J_J25 E1_SHT15_2J_J25 E2_SHT15_2J_J25 TE1_SHT15_2J_J25 TE2_SHT15_2J_J25
# +diem_triggers_p20.Triggers:               EJT_ISHT22 EJT_SHT25 EJT_ISH30 EJT_SH35 EJT_L70 EJT_T13SHT15 EJT_T15SH20
#run2b diem
# +diem_triggers_p20.Triggers:               DE1_2L15SH15_L20 DE1_2L20_L25 DE1_2SH10_SH15
