############# TRIGGER ###############################################
#### There is far too much duplication here! ####

# EMU_trigger.Run:    Trigger(EMU_trig)
EMU_trigger.Run:   Group(em_trigger_object) Group(tk_trigger_object)
+EMU_trigger.Run:  OR(Slava_matched)
# +EMU_trigger.Run:   OR(emu_etrk_matched)

Slava_matched.Run: Group(slava_trigv8v12)
+Slava_matched.Run: Group(slava_trigv12v13)
+Slava_matched.Run: Group(slava_trigv13v133)

# ORing trigger starting from v13.3
+Slava_matched.Run: Group(slava_trigv133v14)
+Slava_matched.Run: Group(slava_trigv133v14_1)
+Slava_matched.Run: Group(slava_trigv14)
+Slava_matched.Run: Group(slava_trigv14_1)

emu_etrk_matched.Run:   Group(etrk_trigv8v11) Group(etrk_trigv11v12)
+emu_etrk_matched.Run:  Group(ecal_trigv8v11) Group(ecal_trigv11v12)
+emu_etrk_matched.Run:  Group(slava_trigv8v12)
+emu_etrk_matched.Run:  Group(etrk_trigv12v13)
+emu_etrk_matched.Run:  Group(ecal_trigv12v13)
+emu_etrk_matched.Run:  Group(slava_trigv12v13)
+emu_etrk_matched.Run:  Group(etrk_trigv13v14)
+emu_etrk_matched.Run:  Group(ecal_trigv13v132) Group(ecal_trigv132v14)
+emu_etrk_matched.Run:  Group(slava_trigv13v133) Group(slava_trigv133v14)
## L3 Isolation info is missing for v14 - v14.5
+emu_etrk_matched.Run:  Group(etrk_trigv145) Group(etrk_trigv14v145)
+emu_etrk_matched.Run:  Group(ecal_trigv145) Group(ecal_trigv14v145)
+emu_etrk_matched.Run:  Group(slava_trigv14)

# first select trigger object for matching
em_trigger_object.Run: L1CalTowerSelector(l1calemtower3)
+em_trigger_object.Run: L1CalTowerSelector(l1calemtower5)
+em_trigger_object.Run: L1CalTowerSelector(l1calemtower6)
+em_trigger_object.Run: L1CalTowerSelector(l1calemtower10)
+em_trigger_object.Run: L1CalTowerSelector(l1calemtower11)
+em_trigger_object.Run: L1CalTowerSelector(l1calemtower12)
+em_trigger_object.Run: L1CalTowerSelector(l1calemtower15)
+em_trigger_object.Run: L2EMSelector(l2EM6) L2EMSelector(l2EM15) L2EMSelector(l2EM10emf85)
+em_trigger_object.Run: L3BaseSelector(l3EM10)  L3BaseSelector(l3EM12) L3BaseSelector(l3EMSH12)
+em_trigger_object.Run: L3BaseSelector(l3EMSH_T12) L3BaseSelector(l3EMSH_T15) L3BaseSelector(l3EMSHT15) L3BaseSelector(l3EMISHT15)
+em_trigger_object.Run: L3BaseSelector(l3EMSH_T20) L3BaseSelector(l3EMSHT20) L3BaseSelector(l3EMSHT22) L3BaseSelector(l3EMISHT22) L3BaseSelector(l3EMSHT25)
+em_trigger_object.Run: L3BaseSelector(l3EM_LOOSE_30) L3BaseSelector(l3EMSH30) L3BaseSelector(l3EMSH35)

tk_trigger_object.Run: L3TrackSelector(l3track_emu) L3TrackSelector(l3track_etk_v8) L3TrackSelector(l3track_etk_v12v14) L3TrackSelector(l3track_mutk_v8) 
+tk_trigger_object.Run: L3TrackSelector(l3track_mutk_v12) L3TrackSelector(l3track_mutk_v13) L3TrackSelector(l3track_mutk_v14)

mu_trigger_object.Run:  L3BaseSelector(l3muon_mutrk_LM15) L3BaseSelector(l3muon_mutrk_TLM12)

jt_trigger_object.Run:  L1CalTowerSelector(l1cjttower3) L1CalTowerSelector(l1cjttower5)
+jt_trigger_object.Run: L3BaseSelector(l3jet20_v8) L3BaseSelector(l3jet25_v12) L3BaseSelector(l3jet25_v13) L3BaseSelector(l3jet30_v13) L3BaseSelector(l3jet25_v14) L3BaseSelector(l3jet35_v14)

##################################################################

## Copied from slava ##

#============ L1 EM matching =====================

l1calemtower3.From: L1CalEMTowers
l1calemtower3.Tree: %{VJets.ObjectTree}
l1calemtower3.To: selectedL1CalTowers3
l1calemtower3.Et: 3.0

l1em3.CalTowers: selectedL1CalTowers3
l1em3.RecoBranch: %{VJets.LooseEM_Branch}
l1em3.nMatches: 1

l1calemtower5.From: L1CalEMTowers
l1calemtower5.Tree: %{VJets.ObjectTree}
l1calemtower5.To: selectedL1CalTowers5
l1calemtower5.Et: 5.0

l1em5.CalTowers: selectedL1CalTowers5
l1em5.RecoBranch: %{VJets.LooseEM_Branch}
l1em5.nMatches: 1

l1calemtower6.From: L1CalEMTowers
l1calemtower6.Tree: %{VJets.ObjectTree}
l1calemtower6.To: selectedL1CalTowers6
l1calemtower6.Et: 6.0

l1em6.CalTowers: selectedL1CalTowers6
l1em6.RecoBranch: %{VJets.LooseEM_Branch}
l1em6.nMatches: 1

l1calemtower10.From: L1CalEMTowers
l1calemtower10.Tree: %{VJets.ObjectTree}
l1calemtower10.To: selectedL1CalTowers10
l1calemtower10.Et: 10.0

l1em10.CalTowers: selectedL1CalTowers10
l1em10.RecoBranch: %{VJets.LooseEM_Branch}
l1em10.nMatches: 1

l1calemtower11.From: L1CalEMTowers
l1calemtower11.Tree: %{VJets.ObjectTree}
l1calemtower11.To: selectedL1CalTowers11
l1calemtower11.Et: 11.0

l1em11.CalTowers: selectedL1CalTowers11
l1em11.RecoBranch: %{VJets.LooseEM_Branch}
l1em11.nMatches: 1

l1calemtower12.From: L1CalEMTowers
l1calemtower12.Tree: %{VJets.ObjectTree}
l1calemtower12.To: selectedL1CalTowers12
l1calemtower12.Et: 12.0

l1em12.CalTowers: selectedL1CalTowers12
l1em12.RecoBranch: %{VJets.LooseEM_Branch}
l1em12.nMatches: 1

l1calemtower15.From: L1CalEMTowers
l1calemtower15.Tree: %{VJets.ObjectTree}
l1calemtower15.To: selectedL1CalTowers15
l1calemtower15.Et: 15.0

l1em15.CalTowers: selectedL1CalTowers15
l1em15.RecoBranch: %{VJets.LooseEM_Branch}
l1em15.nMatches: 1

l1cjttower3.From:   L1CalTotalTowers
l1cjttower3.Tree:   %{VJets.ObjectTree}
l1cjttower3.To:     selectedL1CJTTowers3
l1cjttower3.Et:     3.0

l1cjt3_em.CalTowers:   selectedL1CJTTowers3
l1cjt3_em.RecoBranch:  %{VJets.LooseEM_Branch}
l1cjt3_em.nMatches:    1

l1cjt3_jt.CalTowers:    selectedL1CJTTowers3
l1cjt3_jt.RecoBranch:   %{VJets.GoodJet_Branch}
l1cjt3_jt.nMatches:     1

l1cjt3_jt2.CalTowers:    selectedL1CJTTowers3
l1cjt3_jt2.RecoBranch:   %{VJets.GoodJet_Branch}
l1cjt3_jt2.nMatches:     2

l1cjttower5.From:   L1CalTotalTowers
l1cjttower5.Tree:   %{VJets.ObjectTree}
l1cjttower5.To:     selectedL1CJTTowers5
l1cjttower5.Et:     5.0

l1cjt5_em.CalTowers:   selectedL1CJTTowers5
l1cjt5_em.RecoBranch:  %{VJets.LooseEM_Branch}
l1cjt5_em.nMatches:    1

l1cjt5_jt.CalTowers:    selectedL1CJTTowers5
l1cjt5_jt.RecoBranch:   %{VJets.GoodJet_Branch}
l1cjt5_jt.nMatches:     1

l1cjt5_jt2.CalTowers:    selectedL1CJTTowers5
l1cjt5_jt2.RecoBranch:   %{VJets.GoodJet_Branch}
l1cjt5_jt2.nMatches:     2


#============ L2 EM matching =====================

l2EM6.From: L2GblEM
l2EM6.Tree: %{VJets.ObjectTree}
l2EM6.To: selectedl2EM6
l2EM6.Et: 6.0

l2EM6match.L2Branch: selectedl2EM6
l2EM6match.RecoBranch: %{VJets.LooseEM_Branch}
l2EM6match.nMatches: 1
l2EM6match.dR: 0.4

l2EM15.From: L2GblEM
l2EM15.Tree: %{VJets.ObjectTree}
l2EM15.To: selectedl2EM15
l2EM15.Et: 15.0

l2EM15match.L2Branch: selectedl2EM15
l2EM15match.RecoBranch: %{VJets.LooseEM_Branch}
l2EM15match.nMatches: 1
l2EM15match.dR: 0.4

l2EM12.From: L2GblEM
l2EM12.Tree: %{VJets.ObjectTree}
l2EM12.To: selectedl2EM12
l2EM12.Et: 12.0

l2EM12match.L2Branch: selectedl2EM12
l2EM12match.RecoBranch: %{VJets.LooseEM_Branch}
l2EM12match.nMatches: 1
l2EM12match.dR: 0.4

l2EM10emf85.From:   L2GblEM
l2EM10emf85.Tree:   %{VJets.ObjectTree}
l2EM10emf85.To:     selectedl2EM10emf85
l2EM10emf85.Et:     10.0
l2EM10emf85.Emf:    0.85

l2EM10emf85match.L2Branch:      selectedl2EM10emf85
l2EM10emf85match.RecoBranch:    %{VJets.LooseEM_Branch}
l2EM10emf85match.nMatches:      1
l2EM10emf85match.dR:            0.4

#============ L3 EM matching =====================

l3EM10.From: L3Electron
l3EM10.Tree: %{VJets.ObjectTree}
l3EM10.To: selectedl3EM10
l3EM10.ToolNames: ELE_LOOSE
l3EM10.Pt: 10.0

l3EM10match.L3Branch: selectedl3EM10
l3EM10match.RecoBranch: %{VJets.LooseEM_Branch}
l3EM10match.nMatches: 1
l3EM10match.dPhiMatchOnly: true
l3EM10match.dR: 0.4

l3EM12.From: L3Electron
l3EM12.Tree: %{VJets.ObjectTree}
l3EM12.To: selectedl3EM12
l3EM12.ToolNames: ELE_NLV
l3EM12.Pt: 12.0

l3EM12match.L3Branch: selectedl3EM12
l3EM12match.RecoBranch: %{VJets.LooseEM_Branch}
l3EM12match.nMatches: 1
l3EM12match.dPhiMatchOnly: true
l3EM12match.dR: 0.4

l3EMSH12.From: L3Electron
l3EMSH12.Tree: %{VJets.ObjectTree}
l3EMSH12.To: selectedl3EMSH12
l3EMSH12.ToolNames: ELE_NLV_SH
l3EMSH12.Pt: 12.0

l3EMSH12match.L3Branch: selectedl3EMSH12
l3EMSH12match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSH12match.nMatches: 1
l3EMSH12match.dPhiMatchOnly: true
l3EMSH12match.dR: 0.4

l3EMSH_T12.From: L3Electron
l3EMSH_T12.Tree: %{VJets.ObjectTree}
l3EMSH_T12.To: selectedl3EMSH_T12
l3EMSH_T12.ToolNames: ELE_LOOSE_SH_T
l3EMSH_T12.Pt: 12.0

l3EMSH_T12match.L3Branch: selectedl3EMSH_T12
l3EMSH_T12match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSH_T12match.nMatches: 1
l3EMSH_T12match.dPhiMatchOnly: true
l3EMSH_T12match.dR: 0.4

l3EMSH_T15.From: L3Electron
l3EMSH_T15.Tree: %{VJets.ObjectTree}
l3EMSH_T15.To: selectedl3EMSH_T15
l3EMSH_T15.ToolNames: ELE_LOOSE_SH_T
l3EMSH_T15.Pt: 15.0

l3EMSH_T15match.L3Branch: selectedl3EMSH_T15
l3EMSH_T15match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSH_T15match.nMatches: 1
l3EMSH_T15match.dPhiMatchOnly: true
l3EMSH_T15match.dR: 0.4

l3EMSH_T20.From: L3Electron
l3EMSH_T20.Tree: %{VJets.ObjectTree}
l3EMSH_T20.To: selectedl3EMSH_T20
l3EMSH_T20.ToolNames: ELE_LOOSE_SH_T
l3EMSH_T20.Pt: 20.0

l3EMSH_T20match.L3Branch: selectedl3EMSH_T20
l3EMSH_T20match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSH_T20match.nMatches: 1
l3EMSH_T20match.dPhiMatchOnly: true
l3EMSH_T20match.dR: 0.4

l3EMSHT15.From: L3Electron
l3EMSHT15.Tree: %{VJets.ObjectTree}
l3EMSHT15.To: selectedl3EMSHT15
l3EMSHT15.ToolNames: ELE_NLV_SHT
l3EMSHT15.Pt: 15.0

l3EMSHT15match.L3Branch: selectedl3EMSHT15
l3EMSHT15match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSHT15match.nMatches: 1
l3EMSHT15match.dPhiMatchOnly: true
l3EMSHT15match.dR: 0.4

l3EMSHT20.From: L3Electron
l3EMSHT20.Tree: %{VJets.ObjectTree}
l3EMSHT20.To: selectedl3EMSHT20
l3EMSHT20.ToolNames: ELE_NLV_SHT
l3EMSHT20.Pt: 20.0

l3EMSHT20match.L3Branch: selectedl3EMSHT20
l3EMSHT20match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSHT20match.nMatches: 1
l3EMSHT20match.dPhiMatchOnly: true
l3EMSHT20match.dR: 0.4

l3EMSHT22.From: L3Electron
l3EMSHT22.Tree: %{VJets.ObjectTree}
l3EMSHT22.To: selectedl3EMSHT22
l3EMSHT22.ToolNames: ELE_NLV_SHT
l3EMSHT22.Pt: 22.0

l3EMSHT22match.L3Branch: selectedl3EMSHT22
l3EMSHT22match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSHT22match.nMatches: 1
l3EMSHT22match.dPhiMatchOnly: true
l3EMSHT22match.dR: 0.4

l3EMSHT25.From: L3Electron
l3EMSHT25.Tree: %{VJets.ObjectTree}
l3EMSHT25.To: selectedl3EMSHT25
l3EMSHT25.ToolNames: ELE_NLV_SHT
l3EMSHT25.Pt: 25.0

l3EMSHT25match.L3Branch: selectedl3EMSHT25
l3EMSHT25match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSHT25match.nMatches: 1
l3EMSHT25match.dPhiMatchOnly: true
l3EMSHT25match.dR: 0.4

l3EM_LOOSE_30.From: L3Electron
l3EM_LOOSE_30.Tree: %{VJets.ObjectTree}
l3EM_LOOSE_30.To: selectedl3EM_LOOSE_30
l3EM_LOOSE_30.ToolNames: ELE_LOOSE
l3EM_LOOSE_30.Pt: 30.0

l3EM_LOOSE_30match.L3Branch: selectedl3EM_LOOSE_30
l3EM_LOOSE_30match.RecoBranch: %{VJets.LooseEM_Branch}
l3EM_LOOSE_30match.nMatches: 1
l3EM_LOOSE_30match.dPhiMatchOnly: true
l3EM_LOOSE_30match.dR: 0.4

l3EMSH30.From: L3Electron
l3EMSH30.Tree: %{VJets.ObjectTree}
l3EMSH30.To: selectedl3EMSH30
l3EMSH30.ToolNames: ELE_NLV_SH
l3EMSH30.Pt: 30.0

l3EMSH30match.L3Branch: selectedl3EMSH30
l3EMSH30match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSH30match.nMatches: 1
l3EMSH30match.dPhiMatchOnly: true
l3EMSH30match.dR: 0.4

l3EMSH35.From: L3Electron
l3EMSH35.Tree: %{VJets.ObjectTree}
l3EMSH35.To: selectedl3EMSH35
l3EMSH35.ToolNames: ELE_NLV_SH
l3EMSH35.Pt: 35.0

l3EMSH35match.L3Branch: selectedl3EMSH35
l3EMSH35match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMSH35match.nMatches: 1
l3EMSH35match.dPhiMatchOnly: true
l3EMSH35match.dR: 0.4

l3EMISHT15.From: L3Isolation
l3EMISHT15.Tree: %{VJets.ObjectTree}
l3EMISHT15.To: selectedl3EMISHT15
l3EMISHT15.ToolNames: IsoEle_SHT
l3EMISHT15.Pt: 15.0

l3EMISHT15match.L3Branch: selectedl3EMISHT15
l3EMISHT15match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMISHT15match.nMatches: 1
l3EMISHT15match.dPhiMatchOnly: true
l3EMISHT15match.dR: 0.4

l3EMISHT22.From: L3Isolation
l3EMISHT22.Tree: %{VJets.ObjectTree}
l3EMISHT22.To: selectedl3EMISHT22
l3EMISHT22.ToolNames: IsoEle_SHT
l3EMISHT22.Pt: 22.0

l3EMISHT22match.L3Branch: selectedl3EMISHT22
l3EMISHT22match.RecoBranch: %{VJets.LooseEM_Branch}
l3EMISHT22match.nMatches: 1
l3EMISHT22match.dPhiMatchOnly: true
l3EMISHT22match.dR: 0.4

l3jet20_v8.From:        L3Jet
l3jet20_v8.Tree:        %{VJets.ObjectTree}
l3jet20_v8.To:          selectedl3jet20_v8
l3jet20_v8.ToolNames:   SCJET_9
l3jet20_v8.Pt:          20.0

l3jet20_v8match.L3Branch:   selectedl3jet20_v8
l3jet20_v8match.RecoBranch: %{VJets.GoodJet_Branch}
l3jet20_v8match.nMatches:   1
l3jet20_v8match.dR:         0.5

l3jet25_v12.From:       L3Jet
l3jet25_v12.Tree:       %{VJets.ObjectTree}
l3jet25_v12.To:         selectedl3jet25_v12
l3jet25_v12.ToolNames:  SC5JET_9_PV3
l3jet25_v12.Pt:         25.0

l3jet25_v12match.L3Branch:   selectedl3jet25_v12
l3jet25_v12match.RecoBranch: %{VJets.GoodJet_Branch}
l3jet25_v12match.nMatches:   1
l3jet25_v12match.dR:         0.5

l3jet25_v13.From:       L3Jet
l3jet25_v13.Tree:       %{VJets.ObjectTree}
l3jet25_v13.To:         selectedl3jet25_v13
l3jet25_v13.ToolNames:  SC5JET_9_PV1
l3jet25_v13.Pt:         25.0

l3jet25_v13match.L3Branch:   selectedl3jet25_v13
l3jet25_v13match.RecoBranch: %{VJets.GoodJet_Branch}
l3jet25_v13match.nMatches:   1
l3jet25_v13match.dR:         0.5

l3jet30_v13.From:       L3Jet
l3jet30_v13.Tree:       %{VJets.ObjectTree}
l3jet30_v13.To:         selectedl3jet30_v13
l3jet30_v13.ToolNames:  SC5JET_9_PV1
l3jet30_v13.Pt:         30.0

l3jet30_v13match.L3Branch:   selectedl3jet30_v13
l3jet30_v13match.RecoBranch: %{VJets.GoodJet_Branch}
l3jet30_v13match.nMatches:   1
l3jet30_v13match.dR:         0.5

l3jet25_v14.From:       L3Jet
l3jet25_v14.Tree:       %{VJets.ObjectTree}
l3jet25_v14.To:         selectedl3jet25_v14
l3jet25_v14.ToolNames:  SC5JET_9_PV3
l3jet25_v14.Pt:         25.0

l3jet25_v14match.L3Branch:   selectedl3jet25_v14
l3jet25_v14match.RecoBranch: %{VJets.GoodJet_Branch}
l3jet25_v14match.nMatches:   1
l3jet25_v14match.dR:         0.5

l3jet35_v14.From:       L3Jet
l3jet35_v14.Tree:       %{VJets.ObjectTree}
l3jet35_v14.To:         selectedl3jet35_v14
l3jet35_v14.ToolNames:  SC5JET_9_PV3
l3jet35_v14.Pt:         35.0

l3jet35_v14match.L3Branch:   selectedl3jet35_v14
l3jet35_v14match.RecoBranch: %{VJets.GoodJet_Branch}
l3jet35_v14match.nMatches:   1
l3jet35_v14match.dR:         0.5

#============ MUON matching =====================

l1muon_emu.muonBranch:          %{VJets.TightMuon_Branch}
l1muon_emu.TriggerVersions:     8.00,12.99
l1muon_emu.UseRunRange:         true
l1muon_emu.Muon0_requireL1L2L3: 1,0,0
l1muon_emu.Level1MuonObject:    l1atxx
l1muon_emu.Level2MuonObject:    l2m0

l1l2muon_emu.muonBranch:                %{VJets.TightMuon_Branch}
l1l2muon_emu.TriggerVersions:           13.00,14.99
l1l2muon_emu.UseRunRange:               true
l1l2muon_emu.Muon0_requireL1L2L3:       1,1,0
l1l2muon_emu.Level1MuonObject:          l1atxx
l1l2muon_emu.Level2MuonObject:          l2m5

l1muon1_emu.muonBranch:                 %{VJets.TightMuon_Branch}
l1muon1_emu.TriggerVersions:            13.00,14.99
l1muon1_emu.UseRunRange:                true
l1muon1_emu.Muon0_requireL1L2L3:        1,0,0
l1muon1_emu.Level1MuonObject:           l1atlx
l1muon1_emu.Level1TrackObject:          l1trk10

l1muon_mutrk_wtxx.muonBranch:             %{VJets.TightMuon_Branch}
l1muon_mutrk_wtxx.TriggerVersions:        12.00,14.59
l1muon_mutrk_wtxx.UseRunRange:            true
l1muon_mutrk_wtxx.Muon0_requireL1L2L3:    1,0,0
l1muon_mutrk_wtxx.Level1MuonObject:       l1wtxx

l1muon_mutrk_wtlx.muonBranch:             %{VJets.TightMuon_Branch}
l1muon_mutrk_wtlx.TriggerVersions:        14.60,14.99
l1muon_mutrk_wtlx.UseRunRange:            true
l1muon_mutrk_wtlx.Muon0_requireL1L2L3:          1,0,0
l1muon_mutrk_wtlx.Level1MuonObject:       l1wtlx

l1muon_mutrk_ttk.muonBranch:             %{VJets.TightMuon_Branch}
l1muon_mutrk_ttk.TriggerVersions:        10.00,14.99
l1muon_mutrk_ttk.UseRunRange:            true
l1muon_mutrk_ttk.Muon0_requireL1L2L3:          1,0,0
l1muon_mutrk_ttk.Level1TrackObject       l1trk10

l2muon_mutrk_v8.muonBranch:              %{VJets.TightMuon_Branch}
l2muon_mutrk_v8.TriggerVersions:         8.00,11.99
l2muon_mutrk_v8.UseRunRange:            true
l2muon_mutrk_v8.Muon0_requireL1L2L3:          0,1,0
l2muon_mutrk_v8.Level2MuonObject:       l2m5

l2muon_mutrk_v103.muonBranch:              %{VJets.TightMuon_Branch}
l2muon_mutrk_v103.TriggerVersions:         10.3,12.99
l2muon_mutrk_v103.UseRunRange:            true
l2muon_mutrk_v103.Muon0_requireL1L2L3:    0,1,0
l2muon_mutrk_v103.Level2MuonObject:       l2m3

# l3muon_mutrk_LM15.muonBranch:           %{VJets.TightMuon_Branch}
# l3muon_mutrk_LM15.TriggerVersions:      13.00,14.99
# l3muon_mutrk_LM15.UseRunRange:          true
# l3muon_mutrk_LM15.Muon0_requireL1L2L3:        0,0,1
# l3muon_mutrk_LM15.Level3MuonObject:     l3l15

l3muon_mutrk_LM15.From:                L3Muon
l3muon_mutrk_LM15.Tree:                %{VJets.ObjectTree}
l3muon_mutrk_LM15.To:                  selectedL3LM15_mutrk
l3muon_mutrk_LM15.ToolNames:           Muon
l3muon_mutrk_LM15.Pt:                  15.0

l3muon_mutrk_LM15match.L3Branch:       selectedL3LM15_mutrk
l3muon_mutrk_LM15match.RecoBranch:     %{VJets.TightMuon_Branch}
l3muon_mutrk_LM15match.nMatches:       1

l3muon_mutrk_TLM12.From:                L3Muon
l3muon_mutrk_TLM12.Tree:                %{VJets.ObjectTree}
l3muon_mutrk_TLM12.To:                  selectedL3TLM_mutrk
l3muon_mutrk_TLM12.ToolNames:           MUON_CM
l3muon_mutrk_TLM12.Pt:                  12.0

l3muon_mutrk_TLM12match.L3Branch:       selectedL3TLM_mutrk
l3muon_mutrk_TLM12match.RecoBranch:     %{VJets.TightMuon_Branch}
l3muon_mutrk_TLM12match.nMatches:       1

l1muon_mujet_atxx.muonBranch:             %{VJets.TightMuon_Branch}
l1muon_mujet_atxx.TriggerVersions:        12.00,14.59
l1muon_mujet_atxx.UseRunRange:            true
l1muon_mujet_atxx.Muon0_requireL1L2L3:          1,0,0
l1muon_mujet_atxx.Level1MuonObject:       l1atxx

l1muon_mujet_atlx.muonBranch:             %{VJets.TightMuon_Branch}
l1muon_mujet_atlx.TriggerVersions:        14.60,14.99
l1muon_mujet_atlx.UseRunRange:            true
l1muon_mujet_atlx.Muon0_requireL1L2L3:          1,0,0
l1muon_mujet_atlx.Level1MuonObject:       l1atlx

l2muon_mujet_v8.muonBranch:             %{VJets.TightMuon_Branch}
l2muon_mujet_v8.TriggerVersions:        8.00,12.99
l2muon_mujet_v8.UseRunRange:            true
l2muon_mujet_v8.Muon0_requireL1L2L3:          0,1,0
l2muon_mujet_v8.Level2MuonObject:       l2m0

l2muon_mujet_v13.muonBranch:             %{VJets.TightMuon_Branch}
l2muon_mujet_v13.TriggerVersions:        13.00,14.99
l2muon_mujet_v13.UseRunRange:            true
l2muon_mujet_v13.Muon0_requireL1L2L3:          0,1,0
l2muon_mujet_v13.Level2MuonObject:       l2m0

l3muon_mujet_LM3.muonBranch:            %{VJets.TightMuon_Branch}
l3muon_mujet_LM3.TriggerVersions:       13.00,14.99
l3muon_mujet_LM3.UseRunRange:           true
l3muon_mujet_LM3.Muon0_requireL1L2L3:         0,0,1
l3muon_mujet_LM3.Level3MuonObject:      l3l3

#============ TRACK matching =====================

l3track_emu.From: L3Track
l3track_emu.Tree: %{VJets.ObjectTree}
l3track_emu.To: selectedL3Tracks_emu
l3track_emu.ToolNames:  PhTrk5
l3track_emu.nhitsxy: 10
l3track_emu.Pt: 5.0

l3emtrk.L3Branch: selectedL3Tracks_emu
l3emtrk.RecoBranch: %{VJets.LooseEM_Branch}
l3emtrk.nMatches: 1

l3muotrk.L3Branch: selectedL3Tracks_emu
l3muotrk.RecoBranch: %{VJets.TightMuon_Branch}
l3muotrk.nMatches: 1

l3track_etk_v8.From:        L3Track
l3track_etk_v8.Tree:        %{VJets.ObjectTree}
l3track_etk_v8.To:          selectedL3Tracks_v8_etk
l3track_etk_v8.ToolNames:   PhysGlobalTracker
l3track_etk_v8.nhitsxy:     10
l3track_etk_v8.Pt:          12.0

l3track_mutk_v8.From:        L3Track
l3track_mutk_v8.Tree:        %{VJets.ObjectTree}
l3track_mutk_v8.To:          selectedL3Tracks_v8_mutk
l3track_mutk_v8.ToolNames:   PhysGlobalTracker
l3track_mutk_v8.nhitsxy:     10
l3track_mutk_v8.Pt:          10.0

l3emtrk_v8.L3Branch:    selectedL3Tracks_v8_etk
l3emtrk_v8.RecoBranch:  %{VJets.LooseEM_Branch}
l3emtrk_v8.nMatches:    1

l3mutrk_v8.L3Branch:    selectedL3Tracks_v8_etk
l3mutrk_v8.RecoBranch:  %{VJets.TightMuon_Branch}
l3mutrk_v8.nMatches:    1

l3mutrk_mutk_v8.L3Branch:   selectedL3Tracks_v8_mutk
l3mutrk_mutk_v8.RecoBranch: %{VJets.TightMuon_Branch}
l3mutrk_mutk_v8.nMatches:   1

l3track_etk_v12v14.From:    L3Track
l3track_etk_v12v14.Tree: %{VJets.ObjectTree}
l3track_etk_v12v14.To: selectedL3Tracks_v12v14
l3track_etk_v12v14.ToolNames:  PhTrk8
l3track_etk_v12v14.nhitsxy: 10
l3track_etk_v12v14.Pt:      13.0

l3track_mutk_v12.From:       L3Track
l3track_mutk_v12.Tree:       %{VJets.ObjectTree}
l3track_mutk_v12.To:         selectedL3Tracks_v12_mutk
l3track_mutk_v12.ToolNames:  PhTrk10_8
l3track_mutk_v12.nhitsxy:    10
l3track_mutk_v12.Pt:         10.0

l3mutrk_mutk_v12.L3Branch:      selectedL3Tracks_v12_mutk
l3mutrk_mutk_v12.RecoBranch:    %{VJets.TightMuon_Branch}
l3mutrk_mutk_v12.nMatches:      1

l3track_mutk_v13.From:       L3Track
l3track_mutk_v13.Tree:       %{VJets.ObjectTree}
l3track_mutk_v13.To:         selectedL3Tracks_v13_mutk
l3track_mutk_v13.ToolNames:  PhTrk10_8
l3track_mutk_v13.nhitsxy:    10
l3track_mutk_v13.Pt:         12.0

l3mutrk_mutk_v13.L3Branch:      selectedL3Tracks_v13_mutk
l3mutrk_mutk_v13.RecoBranch:    %{VJets.TightMuon_Branch}
l3mutrk_mutk_v13.nMatches:      1

l3track_mutk_v14.From:       L3Track
l3track_mutk_v14.Tree:       %{VJets.ObjectTree}
l3track_mutk_v14.To:         selectedL3Tracks_v14_mutk
l3track_mutk_v14.ToolNames:  PhTrk10
l3track_mutk_v14.nhitsxy:    10
l3track_mutk_v14.Pt:         12.0

l3mutrk_mutk_v14.L3Branch:      selectedL3Tracks_v14_mutk
l3mutrk_mutk_v14.RecoBranch:    %{VJets.TightMuon_Branch}
l3mutrk_mutk_v14.nMatches:      1

l3emtrk_v12v14.L3Branch:    selectedL3Tracks_v12v14
l3emtrk_v12v14.RecoBranch:  %{VJets.LooseEM_Branch}
l3emtrk_v12v14.nMatches:    1

l3mutrk_v12.L3Branch:    selectedL3Tracks_v12
l3mutrk_v12.RecoBranch:  %{VJets.TightMuon_Branch}
l3mutrk_v12.nMatches:    1

l3mutrk_v13.L3Branch:    selectedL3Tracks_v13
l3mutrk_v13.RecoBranch:  %{VJets.TightMuon_Branch}
l3mutrk_v13.nMatches:    1

l3mutrk_v14.L3Branch:    selectedL3Tracks_v14
l3mutrk_v14.RecoBranch:  %{VJets.TightMuon_Branch}
l3mutrk_v14.nMatches:    1

##################################################################

#### E+MU Triggers #####

slava_trigv8v12.Run: Trigger(trigselv8v12)
+slava_trigv8v12.Run: MatchL1CalTowerReco(l1em5) MuonTriggerMatch(l1muon_emu)
# L3 electron eta is 0 in 50% of the events. Will use matching in dphi only
+slava_trigv8v12.Run: MatchObjectsL3Reco(l3EM10match)
+slava_trigv8v12.Run: Passed

etrk_trigv8v11.Run:     TriggerSelection(etrk_trigselv8v11)
+etrk_trigv8v11.Run:    MatchL1CalTowerReco(l1em10)
+etrk_trigv8v11.Run:    OR(v9_l2em)
+etrk_trigv8v11.Run:    MatchObjectsL3Reco(l3EMSH_T12match)
+etrk_trigv8v11.Run:    OR(v8_trk)
+etrk_trigv8v11.Run:    Passed

ecal_trigv8v11.Run:     TriggerSelection(ecal_trigselv8v11)
+ecal_trigv8v11.Run:    MatchL1CalTowerReco(l1em10)
+ecal_trigv8v11.Run:    OR(v9_l2em)
+ecal_trigv8v11.Run:    OR(v8v12_calor)
+ecal_trigv8v11.Run:    Passed

v8v12_calor.Run:        MatchObjectsL3Reco(l3EMSH_T20match)
+v8v12_calor.Run:       MatchObjectsL3Reco(l3EM_LOOSE_30match)

etrk_trigv11v12.Run:     TriggerSelection(etrk_trigselv11v12)
+etrk_trigv11v12.Run:    MatchL1CalTowerReco(l1em15)
+etrk_trigv11v12.Run:    OR(v9_l2em)
+etrk_trigv11v12.Run:    MatchObjectsL3Reco(l3EMSH_T12match)
+etrk_trigv11v12.Run:    OR(v8_trk)
+etrk_trigv11v12.Run:    Passed

v9_l2em.Run:            Select(v8v11_hasL2)
+v9_l2em.Run:           MatchObjectsL2Reco(l2EM15match)

v8v11_hasL2.Select:     Global.runno()<169524

v8_trk.Run:             MatchObjectsL3Reco(l3emtrk_v8)
+v8_trk.Run:            MatchObjectsL3Reco(l3mutrk_v8)

ecal_trigv11v12.Run:     TriggerSelection(ecal_trigselv11v12)
+ecal_trigv11v12.Run:    MatchL1CalTowerReco(l1em15)
+ecal_trigv11v12.Run:    OR(v9_l2em)
+ecal_trigv11v12.Run:    OR(v8v12_calor)
+ecal_trigv11v12.Run:    Passed

slava_trigv12v13.Run: Trigger(trigselv12v13)
+slava_trigv12v13.Run: MatchL1CalTowerReco(l1em6) MuonTriggerMatch(l1muon_emu)
# L3 electron eta is 0 in 50% of the events. Will use matching in dphi only
+slava_trigv12v13.Run: MatchObjectsL3Reco(l3EM12match)
+slava_trigv12v13.Run: Passed

etrk_trigv12v13.Run:    TriggerSelection(etrk_trigselv12v13)
+etrk_trigv12v13.Run:   MatchL1CalTowerReco(l1em11)
+etrk_trigv12v13.Run:   MatchObjectsL3Reco(l3EMSHT15match)
+etrk_trigv12v13.Run:   OR(v1214_trk)
+etrk_trigv12v13.Run:   Passed

ecal_trigv12v13.Run:    TriggerSelection(ecal_trigselv12v13)
+ecal_trigv12v13.Run:   MatchL1CalTowerReco(l1em11)
+ecal_trigv12v13.Run:   OR(v12132_calor)
+ecal_trigv12v13.Run:   Passed

v1214_trk.Run:          MatchObjectsL3Reco(l3emtrk_v12v14)
+v1214_trk.Run:         MatchObjectsL3Reco(l3mutrk_v12v14)

v12132_calor.Run:       MatchObjectsL3Reco(l3EMSH30match)
+v12132_calor.Run:      MatchObjectsL3Reco(l3EMSHT20match)

slava_trigv13v133.Run: Trigger(trigselv13v133)
+slava_trigv13v133.Run: MatchL1CalTowerReco(l1em6)
+slava_trigv13v133.Run: MuonTriggerMatch(l1l2muon_emu)
# L3 electron eta is 0 in 50% of the events. Will use matching in dphi only
+slava_trigv13v133.Run: MatchObjectsL3Reco(l3EM12match)
+slava_trigv13v133.Run: Passed

slava_trigv133v14.Run: Trigger(trigselv133v14)
+slava_trigv133v14.Run: MatchL1CalTowerReco(l1em6)
+slava_trigv133v14.Run: MuonTriggerMatch(l1l2muon_emu)
# L3 electron eta is 0 in 50% of the events. Will use matching in dphi only
+slava_trigv133v14.Run: MatchObjectsL3Reco(l3EM12match)
+slava_trigv133v14.Run: OR(trackOr)
+slava_trigv133v14.Run: Passed

slava_trigv133v14_1.Run: Trigger(trigselv133v14_1)
+slava_trigv133v14_1.Run: MatchL1CalTowerReco(l1em3) 
+slava_trigv133v14_1.Run: MatchObjectsL2Reco(l2EM6match)
+slava_trigv133v14_1.Run: MuonTriggerMatch(l1muon1_emu)
# L3 electron eta is 0 in 50% of the events. Will use matching in dphi only
+slava_trigv133v14_1.Run: MatchObjectsL3Reco(l3EM12match)
+slava_trigv133v14_1.Run: OR(trackOr)
+slava_trigv133v14_1.Run: Passed

etrk_trigv13v14.Run:       TriggerSelection(etrk_trigselv13v14)
+etrk_trigv13v14.Run:      MatchL1CalTowerReco(l1em11)
+etrk_trigv13v14.Run:      MatchObjectsL2Reco(l2EM15match)
+etrk_trigv13v14.Run:      MatchObjectsL3Reco(l3EMSHT15match)
+etrk_trigv13v14.Run:      OR(v1214_trk)
+etrk_trigv13v14.Run:      Passed

ecal_trigv13v132.Run:       TriggerSelection(ecal_trigselv13v132)
+ecal_trigv13v132.Run:      MatchL1CalTowerReco(l1em11)
+ecal_trigv13v132.Run:      MatchObjectsL2Reco(l2EM15match)
+ecal_trigv13v132.Run:      OR(v12132_calor)
+ecal_trigv13v132.Run:      Passed

ecal_trigv132v14.Run:       TriggerSelection(ecal_trigselv132v14)
+ecal_trigv132v14.Run:      MatchL1CalTowerReco(l1em11)
+ecal_trigv132v14.Run:      MatchObjectsL2Reco(l2EM15match)
+ecal_trigv132v14.Run:      OR(v132v14_calor)
+ecal_trigv132v14.Run:      Passed

v132v14_calor.Run:          MatchObjectsL3Reco(l3EMSH30match)
+v132v14_calor.Run:         MatchObjectsL3Reco(l3EMSHT22match)

slava_trigv14.Run: Trigger(trigselv14)
+slava_trigv14.Run: MatchL1CalTowerReco(l1em6)
+slava_trigv14.Run: MuonTriggerMatch(l1muon_emu)
# L3 electron eta is 0 in 50% of the events. Will use matching in dphi only
+slava_trigv14.Run: MatchObjectsL3Reco(l3EMSH12match)
+slava_trigv14.Run: OR(trackOr)
+slava_trigv14.Run: Passed

slava_trigv14_1.Run: Trigger(trigselv14_1)
+slava_trigv14_1.Run: MatchL1CalTowerReco(l1em3)
+slava_trigv14_1.Run: MatchObjectsL2Reco(l2EM6match)
+slava_trigv14_1.Run: MuonTriggerMatch(l1muon1_emu)
# L3 electron eta is 0 in 50% of the events. Will use matching in dphi only
+slava_trigv14_1.Run: MatchObjectsL3Reco(l3EMSH12match)
+slava_trigv14_1.Run: OR(trackOr)
+slava_trigv14_1.Run: Passed

etrk_trigv14v145.Run:      TriggerSelection(etrk_trigselv14)
+etrk_trigv14v145.Run:     MatchL1CalTowerReco(l1em12)
+etrk_trigv14v145.Run:     MatchObjectsL2Reco(l2EM15match)
+etrk_trigv14v145.Run:     MatchObjectsL3Reco(l3EMSHT15match)
+etrk_trigv14v145.Run:     OR(v1214_trk)
+etrk_trigv14v145.Run:     Passed

etrk_trigv145.Run:      TriggerSelection(etrk_trigselv14_5)
+etrk_trigv145.Run:     MatchL1CalTowerReco(l1em12)
+etrk_trigv145.Run:     MatchObjectsL2Reco(l2EM15match)
+etrk_trigv145.Run:     MatchObjectsL3Reco(l3EMSHT15match)
# +etrk_trigv145.Run:     MatchObjectsL3Reco(l3EMISHT15match)
+etrk_trigv145.Run:     OR(v1214_trk)
+etrk_trigv145.Run:     Passed

ecal_trigv14v145.Run:      TriggerSelection(ecal_trigselv14)
+ecal_trigv14v145.Run:     MatchL1CalTowerReco(l1em12)
+ecal_trigv14v145.Run:     MatchObjectsL2Reco(l2EM15match)
+ecal_trigv14v145.Run:     MatchObjectsL3Reco(l3EMSHT22)
+ecal_trigv14v145.Run:     Passed

ecal_trigv145.Run:      TriggerSelection(ecal_trigselv14_5)
+ecal_trigv145.Run:     MatchL1CalTowerReco(l1em12)
+ecal_trigv145.Run:     MatchObjectsL2Reco(l2EM15match)
+ecal_trigv145.Run:     MatchObjectsL3Reco(l3EMISHT22)
+ecal_trigv145.Run:     Passed

# v14v145_calor.Run:          MatchObjectsL3Reco(l3EMSH35match)
# +v14v145_calor.Run:         MatchObjectsL3Reco(l3EMSHT25match)
# +v14v145_calor.Run:         MatchObjectsL3Reco(l3EMSHT22match)
# 
# v145_calor.Run:          MatchObjectsL3Reco(l3EMSH35match)
# +v145_calor.Run:         MatchObjectsL3Reco(l3EMSHT25match)
# +v145_calor.Run:         MatchObjectsL3Reco(l3EMISHT22match)

# Tracks matching
trackOr.Run: MatchObjectsL3Reco(l3emtrk)  MatchObjectsL3Reco(l3muotrk)

# v8.4 - v12
trigselv8v12.Triggers: MU_A_EM10
# v12 - v13
trigselv12v13.Triggers: MATX_EM6_L12
# v13 - v13.3
trigselv13v133.Triggers: MUEM2_LEL12
# v13.3 - v14
trigselv133v14.Triggers: MUEM2_LEL12_TRK5
trigselv133v14_1.Triggers: MUEM1_LEL12_TRK5
# v14
trigselv14.Triggers: MUEM2_SH12_TRK5
trigselv14_1.Triggers: MUEM1_SH12_TRK5

etrk_trigselv8v11.Triggers:     EM_HI_SH_TR
etrk_trigselv8v11.UseRunRange: true
etrk_trigselv8v11.EM_HI_SH_TR.Min:          8.0
etrk_trigselv8v11.EM_HI_SH_TR.Max:          10.99

ecal_trigselv8v11.Triggers:     EM_HI EM_HI_SH
ecal_trigselv8v11.UseRunRange: true
ecal_trigselv8v11.EM_HI.Min:                8.0
ecal_trigselv8v11.EM_HI.Max:                10.99
ecal_trigselv8v11.EM_HI_SH.Min:             8.0
ecal_trigselv8v11.EM_HI_SH.Max:             10.99

etrk_trigselv11v12.Triggers:     EM_MX_SH_TR
etrk_trigselv11v12.UseRunRange: true
etrk_trigselv11v12.EM_MX_SH_TR.Min:          11.0
etrk_trigselv11v12.EM_MX_SH_TR.Max:          11.99

ecal_trigselv8v11.Triggers:     EM_MX_SH
# EM_MX 
ecal_trigselv8v11.UseRunRange: true
ecal_trigselv8v11.EM_HI.Min:                11.0
ecal_trigselv8v11.EM_HI.Max:                11.99
ecal_trigselv8v11.EM_HI_SH.Min:             11.0
ecal_trigselv8v11.EM_HI_SH.Max:             11.99

etrk_trigselv12v13.Triggers:    E1_SHT15_TK13
etrk_trigselv12v13.UseRunRange: true
etrk_trigselv12v13.E1_SHT15_TK13.Min:         12.00
etrk_trigselv12v13.E1_SHT15_TK13.Max:         12.99

ecal_trigselv12v13.Triggers:    E1_SHT20
# E1_SH30 
ecal_trigselv12v13.UseRunRange: true
ecal_trigselv12v13.E1_SH30.Min:             12.0
ecal_trigselv12v13.E1_SH30.Max:             12.99
ecal_trigselv12v13.E1_SHT20.Min:            12.0
ecal_trigselv12v13.E1_SHT20.Max:            12.99

etrk_trigselv13v14.Triggers:    E1_SHT15_TK13
etrk_trigselv13v14.UseRunRange: true
etrk_trigselv13v14.E1_SHT15_TK13.Min:         13.00
etrk_trigselv13v14.E1_SHT15_TK13.Max:         14.99

ecal_trigselv13v132.Triggers:                   E1_SHT20
# E1_SH30 
ecal_trigselv13v132.UseRunRange: true
ecal_trigselv13v132.E1_SH30.Min:                13.0
ecal_trigselv13v132.E1_SH30.Max:                13.2
ecal_trigselv13v132.E1_SHT20.Min:               13.0
ecal_trigselv13v132.E1_SHT20.Max:               13.2

ecal_trigselv132v14.Triggers:                   E1_SHT22
# E1_SH30 
ecal_trigselv132v14.UseRunRange: true
ecal_trigselv132v14.E1_SH30.Min:                13.2
ecal_trigselv132v14.E1_SH30.Max:                13.99
ecal_trigselv132v14.E1_SHT22.Min:               13.2
ecal_trigselv132v14.E1_SHT22.Max:               13.99

etrk_trigselv14.Triggers:       E1_ISHT15_TK13
etrk_trigselv14.UseRunRange: true
etrk_trigselv14.E1_ISHT15_TK13.Min:            14.00
etrk_trigselv14.E1_ISHT15_TK13.Max:            14.49

etrk_trigselv14_5.Triggers:       E1_ISHT15_TK13
etrk_trigselv14_5.UseRunRange: true
etrk_trigselv14_5.E1_ISHT15_TK13.Min:            14.50
etrk_trigselv14_5.E1_ISHT15_TK13.Max:            14.99

ecal_trigselv14.Triggers:           E1_ISHT22
# E1_SH35 E1_SHT25 
ecal_trigselv14.UseRunRange:        true
ecal_trigselv14.E1_SH35.Min:        14.0
ecal_trigselv14.E1_SH35.Max:        14.6
ecal_trigselv14.E1_SHT25.Min:       14.0
ecal_trigselv14.E1_SHT25.Max:       14.6
ecal_trigselv14.E1_ISHT22.Min:      14.0
ecal_trigselv14.E1_ISHT22.Max:      14.6

ecal_trigselv14_5.Triggers:           E1_ISHT22
# E1_SH35 E1_SHT25 
ecal_trigselv14_5.UseRunRange:        true
ecal_trigselv14_5.E1_SH35.Min:        14.0
ecal_trigselv14_5.E1_SH35.Max:        14.6
ecal_trigselv14_5.E1_SHT25.Min:       14.0
ecal_trigselv14_5.E1_SHT25.Max:       14.6
ecal_trigselv14_5.E1_ISHT22.Min:      14.0
ecal_trigselv14_5.E1_ISHT22.Max:      14.6

############## emu or etrk or ecal Trigger Group ##########################
VJetsEMuTrigger.Run:     cafTriggerEfficiency(trigInit_emu)
+VJetsEMuTrigger.Run: Group(VJetsEMu)
+VJetsEMuTrigger.Run: cafTriggerOutput(trigOut_emu)

trigInit_emu.embranch:     %{VJets.TightEM_Branch}
trigInit_emu.mubranch:     %{VJets.TightMuon_Branch}
trigInit_emu.trackbranch:  TurnOff
trigInit_emu.jetbranch:    TurnOff

#emergency refixed sample
# 894 pb in total
# trigInit.lumi:         92.18, 198.61, 46.96, 285.80, 271.04
trigInit_emu.lumi:         102.22, 227.14, 54.81, 294.27, 324.05
trigInit_emu.triglist:     v8-v11,v12,v13,v13_3,v14

trigInit_emu.EMSpeedUps: true
trigInit_emu.MuSpeedUps: true
trigInit_emu.MuVars:  _deteta,fX,fY,_chptr
trigInit_emu.EMVars:  fX,fY,_chptrBest

trigOut_emu.histos:       TriggerProbability
trigOut_emu.histosBins:   120
#trigOut.globalWeight: EMU
######################################################

############## Trigger Group ##########################
VJetsEMuTrigger.Run:     cafTriggerEfficiency(trigInit)
+VJetsEMuTrigger.Run: Group(VJetsEMu) 
+VJetsEMuTrigger.Run: cafTriggerOutput(trigOut)

trigInit.embranch:     %{VJets.LooseEM_Branch}
trigInit.mubranch:     %{VJets.TightMuon_Branch}
trigInit.trackbranch:  TurnOff
trigInit.jetbranch:    TurnOff

#emergency refixed sample
# 894 pb in total
trigInit.lumi:         92.18, 198.61, 46.96, 285.80, 271.04
trigInit.triglist:     v8-v11,v12,v13,v13_3,v14

trigInit.EMSpeedUps: true
trigInit.MuSpeedUps: true
trigInit.MuVars:  _deteta,fX,fY,_chptr
trigInit.EMVars:  fX,fY,_chptrBest

trigOut.histos:       TriggerProbability
trigOut.histosBins:   120
#trigOut.globalWeight: EMU
######################################################

############# Trigger Definition #####################
VJetsEMu.Run: Probability_DILEP(EMUProb)

EMUProb.ElectronPath: ./tt_emu_caf/spc/em_NoBckgSub
EMUProb.MuonPath: ./muid_eff/results_data
EMUProb.TrackPath: ./muid_eff/results_data
EMUProb.JetPath: ./
EMUProb.Path: ./
EMUProb.ignoreOverflow: true
EMUProb.ignoreUnderflow: false
EMUProb.OutputFileName: ./table_trigger_%{VJets.EffOutput}

EMUProb.GlobalTriggerVersions: v8-v11 v12 v13 v13_3 v14

# @@ all triggers we need efficiencies for (if more than one: will compute the OR and need the overlap terms):
v8-v11.Triggers:  MU_A_EM10
v12.Triggers: MATX_EM6_L12
v13.Triggers: MUEM2_LEL12
v13_3.Triggers: MUEM1_LEL12_TRK5 MUEM2_LEL12_TRK5
v14.Triggers: MUEM1_SH12_TRK5 MUEM2_SH12_TRK5

# overlap terms needed to compute OR of above triggers
v13_3.Overlap: AND_MUEM1_MUEM2_v13
v14.Overlap: AND_MUEM1_MUEM2_v14


# Trigger Version 8 - 11

MU_A_EM10.ObjectsL1: mu1ptxatxx_v8_12 CEM_1_5
MU_A_EM10.ObjectsL3: L3ELE_1_10

mu1ptxatxx_v8_12.ObjType: Muon
mu1ptxatxx_v8_12.ObjQuality: l1atxx
mu1ptxatxx_v8_12.EffVarNames: phi deteta
mu1ptxatxx_v8_12.ObjRelativeTo: loose
mu1ptxatxx_v8_12.TriggerVersionLow: 8.0
mu1ptxatxx_v8_12.TriggerVersionHigh: 12.99


mu1ptxatxx_v13_14.ObjType: Muon
mu1ptxatxx_v13_14.ObjQuality: l1atxx
mu1ptxatxx_v13_14.EffVarNames: phi deteta
mu1ptxatxx_v13_14.ObjRelativeTo: loose
mu1ptxatxx_v13_14.TriggerVersionLow: 13.0
mu1ptxatxx_v13_14.TriggerVersionHigh: 14.99

CEM_1_5.ObjType: Electron
CEM_1_5.EffName: TrigEff
CEM_1_5.EffVarNames: deteta pt
CEM_1_5.ObjQuality: L1_1EM5
CEM_1_5.ObjRelativeTo: top_loose
CEM_1_5.TriggerVersionLow: v8
CEM_1_5.TriggerVersionHigh: v11
CEM_1_5.RunRangeLow: 174845

L3ELE_1_10.ObjType: Electron
L3ELE_1_10.EffName: TrigEff
L3ELE_1_10.EffVarNames: deteta pt
L3ELE_1_10.ObjQuality: L3_ELE_LOOSE10
L3ELE_1_10.ObjRelativeTo: L1_1EM5_top_loose

# Trigger Version 12

MATX_EM6_L12.ObjectsL1: mu1ptxatxx_v8_12 CEM_1_6
MATX_EM6_L12.ObjectsL3: L3ELE_1_12_v12

CEM_1_6.ObjType: Electron
CEM_1_6.EffName: TrigEff
CEM_1_6.EffVarNames: deteta pt
CEM_1_6.ObjQuality: L1_1EM6
CEM_1_6.ObjRelativeTo: top_loose
#CEM_1_6.TriggerVersionLow: v12
#CEM_1_6.TriggerVersionHigh: v14

CEM_1_3.ObjType: Electron
CEM_1_3.EffName: TrigEff
CEM_1_3.EffVarNames: deteta pt
CEM_1_3.ObjQuality: L1_1EM3
CEM_1_3.ObjRelativeTo: top_loose

L3ELE_1_12_v12.ObjType: Electron
L3ELE_1_12_v12.EffName: TrigEff
L3ELE_1_12_v12.EffVarNames: deteta pt
L3ELE_1_12_v12.ObjQuality: L3_ELE_NLV_12
L3ELE_1_12_v12.ObjRelativeTo: L1_1EM6_top_loose
L3ELE_1_12_v12.TriggerVersion: v12

# Trigger Version 13 -13.3 ====================

MUEM2_SHT7.ObjectsL1: mu1ptxatxx_v13_14 CEM_1_6
MUEM2_SHT7.ObjectsL2: Muon5
MUEM2_SHT7.ObjectsL3: L3ELE_SHT_1_7

MUEM2_LEL12.ObjectsL1: mu1ptxatxx_v13_14 CEM_1_6
MUEM2_LEL12.ObjectsL2: Muon5
MUEM2_LEL12.ObjectsL3: L3ELE_1_12_v13

L3ELE_1_12_v13.ObjType: Electron
L3ELE_1_12_v13.EffName: TrigEff
L3ELE_1_12_v13.EffVarNames: deteta pt
L3ELE_1_12_v13.ObjQuality: L3_ELE_NLV_12
L3ELE_1_12_v13.ObjRelativeTo: L1_1EM6_top_loose
L3ELE_1_12_v13.TriggerVersion: v13

L3ELE_SHT_1_7_v13.ObjType: Electron
L3ELE_SHT_1_7_v13.EffName: TrigEff
L3ELE_SHT_1_7_v13.EffVarNames: deteta pt
L3ELE_SHT_1_7_v13.ObjQuality: L3_ELE_NLV_SHT7
L3ELE_SHT_1_7_v13.ObjRelativeTo: L1_1EM6_top_loose
L3ELE_SHT_1_7_v13.TriggerVersion: v13

# Trigger Version 13.3  ====================

MUEM2_SH7_TRK5.ObjectsL1: mu1ptxatxx_v13_14 CEM_1_6
MUEM2_SH7_TRK5.ObjectsL2: Muon5
MUEM2_SH7_TRK5.ObjectsL3: L3ELE_SH_1_7_v13 TRK5_v13

MUEM1_LEL12_TRK5.ObjectsL1: mu1ptxatlx l1ttk10_v13 CEM_1_3
MUEM1_LEL12_TRK5.ObjectsL2: L2CALEM6_v13
MUEM1_LEL12_TRK5.ObjectsL3: L3ELE_LEL_1_12_v13 TRK5_wrt_l1trk_v13

MUEM2_LEL12_TRK5.ObjectsL1: mu1ptxatxx_v13_14 CEM_1_6
MUEM2_LEL12_TRK5.ObjectsL2: Muon5
MUEM2_LEL12_TRK5.ObjectsL3: L3ELE_1_12_v13 TRK5_v13


mu1ptxatlx.ObjType: Muon
mu1ptxatlx.ObjQuality: l1atlx
mu1ptxatlx.EffVarNames: phi deteta
mu1ptxatlx.ObjRelativeTo: loose
mu1ptxatlx.TriggerVersionLow: 13.0
mu1ptxatlx.TriggerVersionHigh: 14.99

l1ttk10_v13.ObjType: Muon
l1ttk10_v13.ObjQuality: l1trk10
l1ttk10_v13.EffVarNames: phi cfteta
l1ttk10_v13.ObjRelativeTo: trackmedium
l1ttk10_v13.TriggerVersionLow: 13.0
l1ttk10_v13.TriggerVersionHigh: 13.99

l1ttk10_v14.ObjType: Muon
l1ttk10_v14.ObjQuality: l1trk10
l1ttk10_v14.EffVarNames: phi cfteta
l1ttk10_v14.ObjRelativeTo: trackmedium
l1ttk10_v14.TriggerVersionLow: 14.0
l1ttk10_v14.TriggerVersionHigh: 14.89

Muon5.ObjType: Muon
Muon5.ObjQuality: l2m5
Muon5.EffVarNames: phi deteta
Muon5.ObjRelativeTo: loose_l1atxx
Muon5.TriggerVersionLow: 13.0
Muon5.TriggerVersionHigh: 14.99

L3ELE_SH_1_7_v13.ObjType: Electron
L3ELE_SH_1_7_v13.EffName: TrigEff
L3ELE_SH_1_7_v13.EffVarNames: deteta pt
L3ELE_SH_1_7_v13.ObjQuality: L3_ELE_NLV_SH7
L3ELE_SH_1_7_v13.ObjRelativeTo: L1_1EM6_top_loose
L3ELE_SH_1_7_v13.TriggerVersion: v13

TRK5_v13.ObjType: Muon
TRK5_v13.ObjQuality: l3trk5h10
TRK5_v13.EffVarNames: z cfteta
TRK5_v13.ObjRelativeTo: trackmedium
TRK5_v13.TriggerVersionLow: 13.30
TRK5_v13.TriggerVersionHigh: 13.99

TRK5_wrt_l1trk_v13.ObjType: Muon
TRK5_wrt_l1trk_v13.ObjQuality: l3trk5h10
TRK5_wrt_l1trk_v13.EffVarNames: z cfteta
TRK5_wrt_l1trk_v13.ObjRelativeTo: trackmedium_l1trk10
TRK5_wrt_l1trk_v13.TriggerVersionLow: 13.00
TRK5_wrt_l1trk_v13.TriggerVersionHigh: 13.99

L2CALEM6_v13.ObjType: Electron
L2CALEM6_v13.EffName: TrigEff
L2CALEM6_v13.EffVarNames: deteta pt
L2CALEM6_v13.ObjQuality: L2_1EM6
L2CALEM6_v13.ObjRelativeTo: L1_1EM3_top_loose
L2CALEM6_v13.TriggerVersion: v13

# Trigger Version 14 ====================

MUEM1_SH12_TRK5.ObjectsL1: mu1ptxatlx l1ttk10_v14 CEM_1_3
MUEM1_SH12_TRK5.ObjectsL2: L2CALEM6_v14
MUEM1_SH12_TRK5.ObjectsL3: L3ELE_SH_1_12 TRK5_wrt_l1trk_v14

MUEM2_SH12_TRK5.ObjectsL1: mu1ptxatxx_v13_14 CEM_1_6
MUEM2_SH12_TRK5.ObjectsL2: Muon5
MUEM2_SH12_TRK5.ObjectsL3: L3ELE_SH_1_12_v14 TRK5_v14

MUEM2_LEL15_TRK5.ObjectsL1: mu1ptxatxx_v13_14 CEM_1_6
MUEM2_LEL15_TRK5.ObjectsL2: Muon5
MUEM2_LEL15_TRK5.ObjectsL3: L3ELE_1_15_v14 TRK5_v14

L3ELE_1_12_v14.ObjType: Electron
L3ELE_1_12_v14.EffName: TrigEff
L3ELE_1_12_v14.EffVarNames: deteta pt
L3ELE_1_12_v14.ObjQuality: L3_ELE_NLV_15
L3ELE_1_12_v14.ObjRelativeTo: L1_1EM6_top_loose
L3ELE_1_12_v14.TriggerVersion: v14

L3ELE_SH_1_12_v14.ObjType: Electron
L3ELE_SH_1_12_v14.EffName: TrigEff
L3ELE_SH_1_12_v14.EffVarNames: deteta pt
L3ELE_SH_1_12_v14.ObjQuality: L3_ELE_NLV_SH12
L3ELE_SH_1_12_v14.ObjRelativeTo: L1_1EM6_top_loose
L3ELE_SH_1_12_v14.TriggerVersion: v14

L2CALEM6_v14.ObjType: Electron
L2CALEM6_v14.EffName: TrigEff
L2CALEM6_v14.EffVarNames: deteta pt
L2CALEM6_v14.ObjQuality: L2_1EM6
L2CALEM6_v14.ObjRelativeTo: L1_1EM3_top_loose
L2CALEM6_v14.TriggerVersion: v14


TRK5_v14.ObjType: Muon
TRK5_v14.ObjQuality: l3trk5h10
TRK5_v14.EffVarNames: z cfteta
TRK5_v14.ObjRelativeTo: trackmedium
TRK5_v14.TriggerVersionLow: 14.00
TRK5_v14.TriggerVersionHigh: 14.99

TRK5_wrt_l1trk_v14.ObjType: Muon
TRK5_wrt_l1trk_v14.ObjQuality: l3trk5h10
TRK5_wrt_l1trk_v14.EffVarNames: z cfteta
TRK5_wrt_l1trk_v14.ObjRelativeTo: trackmedium_l1trk10
TRK5_wrt_l1trk_v14.TriggerVersionLow: 14.00
TRK5_wrt_l1trk_v14.TriggerVersionHigh: 14.89

##########################################################
# conditionnal efficiency needed for (MUEM1_* AND MUEM2_)
##########################################################

AND_MUEM1_MUEM2_v13.ObjectsL1: mu1ptxatlx l1ttk10_v14 CEM_1_6 
AND_MUEM1_MUEM2_v13.ObjectsL2: Muon5_wrt_l1atlx L2CALEM6_v13
AND_MUEM1_MUEM2_v13.ObjectsL3: TRK5_wrt_l1trk_v13 L3ELE_LEL12

AND_MUEM1_MUEM2_v14.ObjectsL1: mu1ptxatlx l1ttk10_v14 CEM_1_6
AND_MUEM1_MUEM2_v14.ObjectsL2: Muon5_wrt_l1atlx L2CALEM6_v14
AND_MUEM1_MUEM2_v14.ObjectsL3: TRK5_wrt_l1trk_v14 L3ELE_SH_1_12

Muon5_wrt_l1atlx.ObjType: Muon
Muon5_wrt_l1atlx.ObjQuality: l2m5
Muon5_wrt_l1atlx.EffVarNames: phi deteta
Muon5_wrt_l1atlx.ObjRelativeTo: loose_l1atlx
Muon5_wrt_l1atlx.TriggerVersionLow: 13.00
Muon5_wrt_l1atlx.TriggerVersionHigh: 14.99

##########################################################
