############## emu or etrk or ecal Trigger Group ##########################
VJetsEMuTrigger_p17.Run:     cafTriggerEfficiency(trigInit_emu_p17)
+VJetsEMuTrigger_p17.Run: Group(VJetsEMu_p17)
+VJetsEMuTrigger_p17.Run: cafTriggerOutput(trigOut_emu_p17)

trigInit_emu_p17.embranch:     %{VJets.LooseEM_Branch}
trigInit_emu_p17.mubranch:     %{VJets.LooseLooseDileptonPair_Branch}
trigInit_emu_p17.trackbranch:  TurnOff
trigInit_emu_p17.jetbranch:    TurnOff

#emergency refixed sample
# 894 pb in total
# trigInit.lumi:         92.18, 198.61, 46.96, 285.80, 271.04
trigInit_emu_p17.lumi:         10.2 , 114.03 , 231.20 , 55.44 , 322.90 , 333.83
trigInit_emu_p17.triglist:     v8,v8_4,v12,v13,v13_3,v14

# trigOut_emu_p17.histos:       TriggerProbability
# trigOut_emu_p17.histosBins:   120
#trigOut.globalWeight: EMU
######################################################

############# Trigger Definition for emu channel #####################
VJetsEMu_p17.Run: Probability_DILEP(EMUProb_p17)

EMUProb_p17.ElectronPath: ./top_dilepton_me/spc
EMUProb_p17.MuonPath: ./muid_eff/results_data
EMUProb_p17.TrackPath: ./muid_eff/results_data
EMUProb_p17.JetPath: ./
EMUProb_p17.Path: ./
EMUProb_p17.ignoreOverflow: true
EMUProb_p17.ignoreUnderflow: false
EMUProb_p17.OutputFileName: ./table_trigger_%{VJets.EffOutput}

EMUProb_p17.TriggerVersions:       v8,v8_4,v12,v13,v13_3,v14
EMUProb_p17.GlobalTriggerVersions: v8 v8_4 v12 v13 v13_3 v14

EMUProb_p17.sigma:                  true
# EMUProb_p17.Systematic:           nominal
# EMUProb_p17.Systematic:           plus
# EMUProb_p17.Systematic:           minus

# @@ all triggers we need efficiencies for (if more than one: will compute the OR and need the overlap terms):
v8.Triggers:  MU_W_EM10_v8 EM_HI_SH_TR_v8 EM_CAL_v8
v8_4.Triggers:  MU_A_EM10_v8 EM_HI_SH_TR_v8 EM_CAL_v8
v12.Triggers: MATX_EM6_L12_v12 E1_SHT15_TK13_v12 EM_CAL_v12
v13.Triggers: MUEM2_LEL12_v13 E1_SHT15_TK13_v13 EM_CAL_v13
v13_3.Triggers: MUEM2_LEL12_TRK5_v133 E1_SHT15_TK13_v13 EM_CAL_v13
v14.Triggers: MUEM2_SH12_TRK5_v14 E1_ISHT15_TK13_v14 EM_CAL_v14

# overlap terms needed to compute OR of above triggers
v8.Overlap:     AND_MU_W_EM10_EM_HI_SH_TR
+v8.Overlap:    AND_MU_W_EM10_EM_CAL_v8
+v8.Overlap:    AND_EM_HI_SH_TR_EM_CAL_v8
v8.Overlap2:    AND_MU_W_EM10_EM_HI_SH_TR_EM_CAL_v8

v8_4.Overlap:     AND_MU_A_EM10_EM_HI_SH_TR
+v8_4.Overlap:    AND_MU_A_EM10_EM_CAL_v8
+v8_4.Overlap:    AND_EM_HI_SH_TR_EM_CAL_v8
v8_4.Overlap2:    AND_MU_A_EM10_EM_HI_SH_TR_EM_CAL_v8

v12.Overlap:        AND_MATX_EM6_L12_E1_SHT15_TK13
+v12.Overlap:       AND_MATX_EM6_L12_EM_CAL_v12
+v12.Overlap:       AND_E1_SHT15_TK13_EM_CAL_v12
v12.Overlap2:       AND_MATX_EM6_L12_E1_SHT15_TK13_EM_CAL_v12

v13.Overlap:        AND_MUEM2_LEL12_E1_SHT15_TK13
+v13.Overlap:       AND_MUEM2_LEL12_EM_CAL_v13
+v13.Overlap:       AND_E1_SHT15_TK13_EM_CAL_v13
v13.Overlap2:       AND_MUEM2_LEL12_E1_SHT15_TK13_EM_CAL_v13

v13_3.Overlap:      AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13
+v13_3.Overlap:     AND_MUEM2_LEL12_TRK5_EM_CAL_v13
+v13_3.Overlap:     AND_E1_SHT15_TK13_EM_CAL_v133
v13_3.Overlap2:     AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13_EM_CAL_v13

v14.Overlap:        AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13
+v14.Overlap:       AND_MUEM2_SH12_TRK5_EM_CAL_v14
+v14.Overlap:       AND_E1_ISHT15_TK13_EM_CAL_v14
v14.Overlap2:       AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13_EM_CAL_v14

# v8.Triggers:  MU_W_EM10_v8
# v8_4.Triggers:  MU_A_EM10_v8
# v12.Triggers: MATX_EM6_L12_v12
# v13.Triggers: MUEM2_LEL12_v13
# v13_3.Triggers: MUEM2_LEL12_TRK5_v133
# v14.Triggers: MUEM2_SH12_TRK5_v14

# v8.Triggers:  EM_HI_SH_TR_v8
# v8_4.Triggers:  EM_HI_SH_TR_v8
# v12.Triggers: E1_SHT15_TK13_v12
# v13.Triggers: E1_SHT15_TK13_v13
# v13_3.Triggers: E1_SHT15_TK13_v13
# v14.Triggers: E1_ISHT15_TK13_v14

# v8.Triggers:  EM_CAL_v8
# v8_4.Triggers:  EM_CAL_v8
# v12.Triggers: EM_CAL_v12
# v13.Triggers: EM_CAL_v13
# v13_3.Triggers: EM_CAL_v13
# v14.Triggers: EM_CAL_v14


# Trigger Version 8 - 11

MU_W_EM10_v8.ObjectsL1: mu1ptxwtxx_v8_12
MU_W_EM10_v8.ObjectsL3: L3ELE_1_10

MU_A_EM10_v8.ObjectsL1: mu1ptxatxx_v8_12
MU_A_EM10_v8.ObjectsL3: L3ELE_1_10

EM_HI_SH_TR_v8.ObjectsL3:  L3ELE_LOOSE_SH_T_1_12 TR12

EM_CAL_v8.ObjectsL3:       L3EM_CAL_OR_v8

mu1ptxwtxx_v8_12.ObjType: Muon
mu1ptxwtxx_v8_12.ObjQuality: l1wtxx
mu1ptxwtxx_v8_12.EffVarNames: phi deteta
mu1ptxwtxx_v8_12.ObjRelativeTo: loose
mu1ptxwtxx_v8_12.TriggerVersionLow: 8.0
mu1ptxwtxx_v8_12.TriggerVersionHigh: 12.99

mu1ptxatxx_v8_12.ObjType: Muon
mu1ptxatxx_v8_12.ObjQuality: l1atxx
mu1ptxatxx_v8_12.EffVarNames: phi deteta
mu1ptxatxx_v8_12.ObjRelativeTo: loose
mu1ptxatxx_v8_12.TriggerVersionLow: 8.0
mu1ptxatxx_v8_12.TriggerVersionHigh: 12.99

mu1ptxatxx_v13_14.ObjType: Muon
mu1ptxatxx_v13_14.ObjQuality: l1atxx
mu1ptxatxx_v13_14.EffVarNames: phi deteta
mu1ptxatxx_v13_14.ObjRelativeTo: loose
mu1ptxatxx_v13_14.TriggerVersionLow: 13.0
mu1ptxatxx_v13_14.TriggerVersionHigh: 14.99

L3ELE_1_10.ObjType: Electron
L3ELE_1_10.EffName: TrigEff
L3ELE_1_10.EffVarNames: deteta pt
L3ELE_1_10.ObjQuality: L3ELE_emu_all_v8.0
L3ELE_1_10.ObjRelativeTo: top_tight

L3ELE_LOOSE_SH_T_1_12.ObjType:          Electron
L3ELE_LOOSE_SH_T_1_12.EffName:          TrigEff
L3ELE_LOOSE_SH_T_1_12.EffVarNames:      deteta pt
L3ELE_LOOSE_SH_T_1_12.ObjQuality:       L3ELE_etk_all_v8.0
L3ELE_LOOSE_SH_T_1_12.ObjRelativeTo:    top_tight

L3EM_CAL_OR_v8.ObjType:          Electron
L3EM_CAL_OR_v8.EffName:          TrigEff
L3EM_CAL_OR_v8.EffVarNames:      deteta pt
L3EM_CAL_OR_v8.ObjQuality:       L3ELE_ecal_OR_all_v8.0
L3EM_CAL_OR_v8.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v8.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v8.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v8.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v8.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v8.0
L3EM_ETK_AND_CAL_OR_v8.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v12.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v12.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v12.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v12.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v12.0
L3EM_ETK_AND_CAL_OR_v12.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v13.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v13.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v13.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v13.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v13.0
L3EM_ETK_AND_CAL_OR_v13.ObjRelativeTo:    top_tight

L3EM_ETK_AND_CAL_OR_v14.ObjType:          Electron
L3EM_ETK_AND_CAL_OR_v14.EffName:          TrigEff
L3EM_ETK_AND_CAL_OR_v14.EffVarNames:      deteta pt
L3EM_ETK_AND_CAL_OR_v14.ObjQuality:       L3ELE_etk_AND_ecal_OR_all_v14.51
L3EM_ETK_AND_CAL_OR_v14.ObjRelativeTo:    top_tight

TR12.ObjType:               Muon
TR12.EffName:               eff
TR12.EffVarNames:           z cfteta
TR12.ObjQuality:            l3trk12h10
TR12.ObjRelativeTo:         trackmedium
TR12.TriggerVersionLow:     8.0
TR12.TriggerVersionHigh:    11.99

# Trigger Version 12

MATX_EM6_L12_v12.ObjectsL1: mu1ptxatxx_v8_12
#  CEM_1_6_v12
MATX_EM6_L12_v12.ObjectsL3: L3ELE_1_12_v12

# E1_SHT15_TK13_v12.ObjectsL1:    CEM_1_11_v12
E1_SHT15_TK13_v12.ObjectsL3:    L3ELE_NLV_SHT_1_15_v12 TRK13_v12

# EM_CAL_v12.ObjectsL1:           CEM_1_11_v12
EM_CAL_v12.ObjectsL3:           L3EM_CAL_OR_v12

L3ELE_1_12_v12.ObjType: Electron
L3ELE_1_12_v12.EffName: TrigEff
L3ELE_1_12_v12.EffVarNames: deteta pt
L3ELE_1_12_v12.ObjQuality: L3ELE_emu_all_v12.0
L3ELE_1_12_v12.ObjRelativeTo: top_tight

L3ELE_NLV_SHT_1_15_v12.ObjType:         Electron
L3ELE_NLV_SHT_1_15_v12.EffName:         TrigEff
L3ELE_NLV_SHT_1_15_v12.EffVarNames:     deteta pt
L3ELE_NLV_SHT_1_15_v12.ObjQuality:      L3ELE_etk_all_v12.0
L3ELE_NLV_SHT_1_15_v12.ObjRelativeTo:   top_tight

L3EM_CAL_OR_v12.ObjType:         Electron
L3EM_CAL_OR_v12.EffName:         TrigEff
L3EM_CAL_OR_v12.EffVarNames:     deteta pt
L3EM_CAL_OR_v12.ObjQuality:      L3ELE_ecal_OR_all_v12.0
L3EM_CAL_OR_v12.ObjRelativeTo:   top_tight

TRK13_v12.ObjType:              Muon
TRK13_v12.EffName:              eff
TRK13_v12.EffVarNames:          z cfteta
TRK13_v12.ObjQuality:           l3trk12h10
TRK13_v12.ObjRelativeTo:        trackmedium
TRK13_v12.TriggerVersionLow:    12.00
TRK13_v12.TriggerVersionHigh:   12.99

# Trigger Version 13 -13.3 ====================

MUEM2_LEL12_v13.ObjectsL1: mu1ptxatxx_v13_14
#  CEM_1_6_v13
MUEM2_LEL12_v13.ObjectsL2: Muon5
MUEM2_LEL12_v13.ObjectsL3: L3ELE_1_12_v13

# E1_SHT15_TK13_v13.ObjectsL1:    CEM_1_11_v13
# E1_SHT15_TK13_v13.ObjectsL2:    L2EM15_v13
E1_SHT15_TK13_v13.ObjectsL3:    L3ELE_NLV_SHT_1_15_v13 TRK13_v13

# EM_CAL_v13.ObjectsL1:    CEM_1_11_v13
# EM_CAL_v13.ObjectsL2:    L2EM15_v13
EM_CAL_v13.ObjectsL3:    L3EM_CAL_OR_v13

L3ELE_1_12_v13.ObjType: Electron
L3ELE_1_12_v13.EffName: TrigEff
L3ELE_1_12_v13.EffVarNames: deteta pt
L3ELE_1_12_v13.ObjQuality: L3ELE_emu_all_v13.0
L3ELE_1_12_v13.ObjRelativeTo: top_tight

L3ELE_NLV_SHT_1_15_v13.ObjType:         Electron
L3ELE_NLV_SHT_1_15_v13.EffName:         TrigEff
L3ELE_NLV_SHT_1_15_v13.EffVarNames:     deteta pt
L3ELE_NLV_SHT_1_15_v13.ObjQuality:      L3ELE_etk_all_v13.0
L3ELE_NLV_SHT_1_15_v13.ObjRelativeTo:   top_tight

L3EM_CAL_OR_v13.ObjType:         Electron
L3EM_CAL_OR_v13.EffName:         TrigEff
L3EM_CAL_OR_v13.EffVarNames:     deteta pt
L3EM_CAL_OR_v13.ObjQuality:      L3ELE_ecal_OR_all_v13.0
L3EM_CAL_OR_v13.ObjRelativeTo:   top_tight

TRK13_v13.ObjType:              Muon
TRK13_v13.EffName:              eff
TRK13_v13.EffVarNames:          z cfteta
TRK13_v13.ObjQuality:           l3trk12h10
TRK13_v13.ObjRelativeTo:        trackmedium
TRK13_v13.TriggerVersionLow:    13.0
TRK13_v13.TriggerVersionHigh:    13.99

# Trigger Version 13.3  ====================

MUEM2_LEL12_TRK5_v133.ObjectsL1: mu1ptxatxx_v13_14
#  CEM_1_6_v13
MUEM2_LEL12_TRK5_v133.ObjectsL2: Muon5
MUEM2_LEL12_TRK5_v133.ObjectsL3: L3ELE_1_12_v13 TRK5_v13

mu1ptxatlx.ObjType: Muon
mu1ptxatlx.ObjQuality: l1atlx
mu1ptxatlx.EffVarNames: phi deteta
mu1ptxatlx.ObjRelativeTo: loose
mu1ptxatlx.TriggerVersionLow: 13.0
mu1ptxatlx.TriggerVersionHigh: 14.99

l1ttk10_v13.ObjType: Muon
l1ttk10_v13.ObjQuality: l1trk10
l1ttk10_v13.EffVarNames: phi cfteta
l1ttk10_v13.ObjRelativeTo: trackmedium
l1ttk10_v13.TriggerVersionLow: 13.0
l1ttk10_v13.TriggerVersionHigh: 13.99

l1ttk10_v14.ObjType: Muon
l1ttk10_v14.ObjQuality: l1trk10
l1ttk10_v14.EffVarNames: phi cfteta
l1ttk10_v14.ObjRelativeTo: trackmedium
l1ttk10_v14.TriggerVersionLow: 14.0
l1ttk10_v14.TriggerVersionHigh: 14.89

Muon5.ObjType: Muon
Muon5.ObjQuality: l2m0
Muon5.EffVarNames: phi deteta
Muon5.ObjRelativeTo: loose_l1atxx
Muon5.TriggerVersionLow: 13.0
Muon5.TriggerVersionHigh: 14.99

TRK5_v13.ObjType: Muon
TRK5_v13.ObjQuality: l3trk5h10
TRK5_v13.EffVarNames: z cfteta
TRK5_v13.ObjRelativeTo: trackmedium
TRK5_v13.TriggerVersionLow: 13.30
TRK5_v13.TriggerVersionHigh: 13.99

# Trigger Version 14 ====================

MUEM2_SH12_TRK5_v14.ObjectsL1: mu1ptxatxx_v13_14
#  CEM_1_6_v14
MUEM2_SH12_TRK5_v14.ObjectsL2: Muon5
MUEM2_SH12_TRK5_v14.ObjectsL3: L3ELE_SH_1_12_v14 TRK5_v14

# E1_ISHT15_TK13_v14.ObjectsL1:   CEM_1_12
# E1_ISHT15_TK13_v14.ObjectsL2:   L2EM15_v14
E1_ISHT15_TK13_v14.ObjectsL3:   L3ELE_NLV_SHT_1_15_v14 TRK13_v14

# EM_CAL_v14.ObjectsL1:   CEM_1_12
# EM_CAL_v14.ObjectsL2:   L2EM15_v14
EM_CAL_v14.ObjectsL3:   L3EM_CAL_OR_v14

L3ELE_SH_1_12_v14.ObjType: Electron
L3ELE_SH_1_12_v14.EffName: TrigEff
L3ELE_SH_1_12_v14.EffVarNames: deteta pt
L3ELE_SH_1_12_v14.ObjQuality: L3ELE_emu_all_v14.0
L3ELE_SH_1_12_v14.ObjRelativeTo: top_tight

L3ELE_NLV_SHT_1_15_v14.ObjType:         Electron
L3ELE_NLV_SHT_1_15_v14.EffName:         TrigEff
L3ELE_NLV_SHT_1_15_v14.EffVarNames:     deteta pt
L3ELE_NLV_SHT_1_15_v14.ObjQuality:      L3ELE_etk_all_v14.51
L3ELE_NLV_SHT_1_15_v14.ObjRelativeTo:   top_tight

L3EM_CAL_OR_v14.ObjType:         Electron
L3EM_CAL_OR_v14.EffName:         TrigEff
L3EM_CAL_OR_v14.EffVarNames:     deteta pt
L3EM_CAL_OR_v14.ObjQuality:      L3ELE_ecal_OR_all_v14.51
L3EM_CAL_OR_v14.ObjRelativeTo:   top_tight

TRK13_v14.ObjType:              Muon
TRK13_v14.EffName:              eff
TRK13_v14.EffVarNames:          z cfteta
TRK13_v14.ObjQuality:           l3trk12h10
TRK13_v14.ObjRelativeTo:        trackmedium
TRK13_v14.TriggerVersionLow:    14.0
TRK13_v14.TriggerVersionHigh:    14.89

TRK5_v14.ObjType: Muon
TRK5_v14.ObjQuality: l3trk5h10
TRK5_v14.EffVarNames: z cfteta
TRK5_v14.ObjRelativeTo: trackmedium
TRK5_v14.TriggerVersionLow: 14.00
TRK5_v14.TriggerVersionHigh: 14.89

TRK5_wrt_l1trk_v14.ObjType: Muon
TRK5_wrt_l1trk_v14.ObjQuality: l3trk5h10
TRK5_wrt_l1trk_v14.EffVarNames: z cfteta
TRK5_wrt_l1trk_v14.ObjRelativeTo: trackmedium_l1trk10
TRK5_wrt_l1trk_v14.TriggerVersionLow: 14.00
TRK5_wrt_l1trk_v14.TriggerVersionHigh: 14.89

##########################################################
# conditionnal efficiency needed for (MUEM1_* AND MUEM2_)
##########################################################

AND_MU_W_EM10_EM_HI_SH_TR.ObjectsL1:    mu1ptxwtxx_v8_12
# AND_MU_W_EM10_EM_HI_SH_TR.ObjectsL2:    L2EM15_v811
AND_MU_W_EM10_EM_HI_SH_TR.ObjectsL3:    L3ELE_LOOSE_SH_T_1_12 TR12

AND_MU_W_EM10_EM_CAL_v8.ObjectsL1:    mu1ptxwtxx_v8_12
# AND_MU_W_EM10_EM_CAL_v8.ObjectsL2:    L2EM15_v811
AND_MU_W_EM10_EM_CAL_v8.ObjectsL3:    L3EM_CAL_OR_v8

AND_MU_W_EM10_EM_HI_SH_TR_EM_CAL_v8.ObjectsL1:      mu1ptxwtxx_v8_12
# AND_MU_W_EM10_EM_HI_SH_TR_EM_CAL_v8.ObjectsL2:      L2EM15_v811
AND_MU_W_EM10_EM_HI_SH_TR_EM_CAL_v8.ObjectsL3:      L3EM_ETK_AND_CAL_OR_v8 TR12

AND_MU_A_EM10_EM_HI_SH_TR.ObjectsL1:    mu1ptxatxx_v8_12
# AND_MU_A_EM10_EM_HI_SH_TR.ObjectsL2:    L2EM15_v811
AND_MU_A_EM10_EM_HI_SH_TR.ObjectsL3:    L3ELE_LOOSE_SH_T_1_12 TR12

AND_MU_A_EM10_EM_CAL_v8.ObjectsL1:    mu1ptxatxx_v8_12
# AND_MU_A_EM10_EM_CAL_v8.ObjectsL2:    L2EM15_v811
AND_MU_A_EM10_EM_CAL_v8.ObjectsL3:    L3EM_CAL_OR_v8

# AND_EM_HI_SH_TR_EM_CAL_v8.ObjectsL1:    CEM_1_10
# AND_EM_HI_SH_TR_EM_CAL_v8.ObjectsL2:    L2EM15_v811
AND_EM_HI_SH_TR_EM_CAL_v8.ObjectsL3:    L3EM_ETK_AND_CAL_OR_v8 TR12

AND_MU_A_EM10_EM_HI_SH_TR_EM_CAL_v8.ObjectsL1:      mu1ptxatxx_v8_12
# AND_MU_A_EM10_EM_HI_SH_TR_EM_CAL_v8.ObjectsL2:      L2EM15_v811
AND_MU_A_EM10_EM_HI_SH_TR_EM_CAL_v8.ObjectsL3:      L3EM_ETK_AND_CAL_OR_v8 TR12

AND_MATX_EM6_L12_E1_SHT15_TK13.ObjectsL1:   mu1ptxatxx_v8_12
AND_MATX_EM6_L12_E1_SHT15_TK13.ObjectsL3:   L3ELE_NLV_SHT_1_15_v12 TRK13_v12

AND_MATX_EM6_L12_EM_CAL_v12.ObjectsL1:   mu1ptxatxx_v8_12
AND_MATX_EM6_L12_EM_CAL_v12.ObjectsL3:   L3EM_CAL_OR_v12

# AND_E1_SHT15_TK13_EM_CAL_v12.ObjectsL1:   CEM_1_11_v12
AND_E1_SHT15_TK13_EM_CAL_v12.ObjectsL3:   L3EM_ETK_AND_CAL_OR_v12 TRK13_v12

AND_MATX_EM6_L12_E1_SHT15_TK13_EM_CAL_v12.ObjectsL1:   mu1ptxatxx_v8_12
#  CEM_1_11_v12
AND_MATX_EM6_L12_E1_SHT15_TK13_EM_CAL_v12.ObjectsL3:   L3EM_ETK_AND_CAL_OR_v12 TRK13_v12

AND_MUEM2_LEL12_E1_SHT15_TK13.ObjectsL1:    mu1ptxatxx_v13_14
AND_MUEM2_LEL12_E1_SHT15_TK13.ObjectsL2:    Muon5
AND_MUEM2_LEL12_E1_SHT15_TK13.ObjectsL3:    L3ELE_NLV_SHT_1_15_v13 TRK13_v13

AND_MUEM2_LEL12_EM_CAL_v13.ObjectsL1:    mu1ptxatxx_v13_14
AND_MUEM2_LEL12_EM_CAL_v13.ObjectsL2:    Muon5
AND_MUEM2_LEL12_EM_CAL_v13.ObjectsL3:    L3EM_CAL_OR_v13

# AND_E1_SHT15_TK13_EM_CAL_v13.ObjectsL1:    CEM_1_11_v13
# AND_E1_SHT15_TK13_EM_CAL_v13.ObjectsL2:    L2EM15_v13
AND_E1_SHT15_TK13_EM_CAL_v13.ObjectsL3:    L3EM_ETK_AND_CAL_OR_v13 TRK13_v13

AND_MUEM2_LEL12_E1_SHT15_TK13_EM_CAL_v13.ObjectsL1:    mu1ptxatxx_v13_14
AND_MUEM2_LEL12_E1_SHT15_TK13_EM_CAL_v13.ObjectsL2:    Muon5
AND_MUEM2_LEL12_E1_SHT15_TK13_EM_CAL_v13.ObjectsL3:    L3EM_ETK_AND_CAL_OR_v13 TRK13_v13

AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13.ObjectsL1:   mu1ptxatxx_v13_14
AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13.ObjectsL2:   Muon5
AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13.ObjectsL3:   L3ELE_NLV_SHT_1_15_v13 TRK13_v13

AND_MUEM2_LEL12_TRK5_EM_CAL_v13.ObjectsL1:   mu1ptxatxx_v13_14
AND_MUEM2_LEL12_TRK5_EM_CAL_v13.ObjectsL2:   Muon5
AND_MUEM2_LEL12_TRK5_EM_CAL_v13.ObjectsL3:   L3EM_CAL_OR_v13 TRK5_v13

# AND_E1_SHT15_TK13_EM_CAL_v133.ObjectsL1:    CEM_1_11_v13
# AND_E1_SHT15_TK13_EM_CAL_v133.ObjectsL2:    L2EM15_v13
AND_E1_SHT15_TK13_EM_CAL_v133.ObjectsL3:    L3EM_ETK_AND_CAL_OR_v13 TRK13_v13

AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13_EM_CAL_v13.ObjectsL1:   mu1ptxatxx_v13_14
AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13_EM_CAL_v13.ObjectsL2:   Muon5
AND_MUEM2_LEL12_TRK5_E1_SHT15_TK13_EM_CAL_v13.ObjectsL3:   L3EM_ETK_AND_CAL_OR_v13 TRK13_v13

AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13.ObjectsL1:   mu1ptxatxx_v13_14
AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13.ObjectsL2:   Muon5
AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13.ObjectsL3:   L3ELE_NLV_SHT_1_15_v14 TRK13_v14

AND_MUEM2_SH12_TRK5_EM_CAL_v14.ObjectsL1:   mu1ptxatxx_v13_14
AND_MUEM2_SH12_TRK5_EM_CAL_v14.ObjectsL2:   Muon5
AND_MUEM2_SH12_TRK5_EM_CAL_v14.ObjectsL3:   L3EM_CAL_OR_v14 TRK5_v14

# AND_E1_ISHT15_TK13_EM_CAL_v14.ObjectsL1:   CEM_1_12
# AND_E1_ISHT15_TK13_EM_CAL_v14.ObjectsL2:   L2EM15_v14
AND_E1_ISHT15_TK13_EM_CAL_v14.ObjectsL3:   L3EM_ETK_AND_CAL_OR_v14 TRK13_v14

AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13_EM_CAL_v14.ObjectsL1:   mu1ptxatxx_v13_14
AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13_EM_CAL_v14.ObjectsL2:   Muon5
AND_MUEM2_SH12_TRK5_E1_ISHT15_TK13_EM_CAL_v14.ObjectsL3:   L3EM_ETK_AND_CAL_OR_v14 TRK13_v14

##################################################################
