#################################################################################
# ttbarll Data selection
################################################################################

cafe.Progress:  1000

cafe.Debug: false

+cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils gsl
+cafe.Packages:     g2c top_dilepton_me top_dilepton_madgraph

+cafe.Include: top_dilepton_me/configs/emu/Emu_base.config
+cafe.Include: top_dilepton_me/configs/emu/Emu_Triggers_Data.config

# JET SELECTION
VJets.InputJet_Branch:                    corrJCCB
VJets.CorrectedJet_Branch:                %{VJets.CorrectedJet_Branch}

# +Btagging.Run:  Group(DileptonBtag)
VJets.InputMode:  DATA
VJets.TaggabilityRF:  MUTaggability

VJets.MuonSmearType: no

# VJets.SecondJet_pT:                           20.0

VJets.LeadJet_pT:                             30.0

# Doesn't do anything in this context, oh well
VJets.JSSR_UseUniformRemapping:       true

+cafe.Run: Stat(EMUeff)

+emutrig.Run:                        Group(trig_data)

+emu_QCD_fit.Run:                    FakeElectronFit(qcd_2jet_loose)

+qcd_2jet_loose.EMBranch:            %{VJets.LooseEM_Branch}

### If you want to play around with triggers...
+cafe.Run:  Group(EMU_trigger_%{VJets.RecoVer})
# +cafe.Run:  Trigger(test_triggers)
# +cafe.Run:  Trigger(test_triggers2)
# +cafe.Run:  TriggerFrequency(test_triggers)

### Does full 2jet selection PLUS produces ascii files and W_met
# +cafe.Run:  Group(tighttight_inc)
+cafe.Run:  Group(tighttight_2jet)

test_triggers.Triggers:      MU_W_EM10
+test_triggers.Triggers:     MU_A_EM10
+test_triggers.Triggers:     MATX_EM6_L12
+test_triggers.Triggers:     MUEM2_LEL12 MUEM2_LEL12_TRK5 MUEM2_LEL12_MM5
+test_triggers.Triggers:     MUEM2_SH12_TRK5 MUEM2_SH12_MM5

+test_triggers.Triggers:       EM_HI EM_HI_SH
+test_triggers.Triggers:       E1_SHT20 E1_SH30
+test_triggers.Triggers:       E1_SHT22
+test_triggers.Triggers:       E1_ISHT22 E1_SHT25 E1_SH35

+test_triggers.Triggers:       EM_HI_SH_TR
+test_triggers.Triggers:       E1_SHT15_TK13
+test_triggers.Triggers:       E1_SHT15_TK13
+test_triggers.Triggers:       E1_ISHT15_TK13

### v15 15.49

test_triggers.Triggers:       E1_ISHT22 E1_SHT25 E1_ISH30 E1_SH30 E1_L70
+test_triggers.Triggers:      E1_ISHT15_TK13
+test_triggers.Triggers:      E1_T13SHT15 E1_T15SH20
+test_triggers.Triggers:      E1_SHT15_2J_J25

+test_triggers.Triggers:      E2_ISHT22 E2_SHT25 E2_ISH30 E2_SH30 E2_L70
+test_triggers.Triggers:      E2_ISHT15_TK13
+test_triggers.Triggers:      E2_T13SHT15 E2_T15SH20
+test_triggers.Triggers:      E2_SHT15_2J_J25

+test_triggers.Triggers:      TE1_ISHT22 TE1_SHT25 TE1_ISH30 TE1_SH30 TE1_L70
+test_triggers.Triggers:      TE1_ISHT15_TK13
+test_triggers.Triggers:      TE1_T13SHT15 TE1_T15SH20
+test_triggers.Triggers:      TE1_SHT15_2J_J25

+test_triggers.Triggers:      TE2_ISHT22 TE2_SHT25 TE2_ISH30 TE2_SH30 TE2_L70
+test_triggers.Triggers:      TE2_ISHT15_TK13
+test_triggers.Triggers:      TE2_T13SHT15 TE2_T15SH20
+test_triggers.Triggers:      TE2_SHT15_2J_J25

+test_triggers.Triggers:     ME1_ISH7_TRK5 ME1_ISH7_MM5
+test_triggers.Triggers:     ME1_LEL15_TRK5 ME1_LEL15_MM5
+test_triggers.Triggers:     ME1_SH12_TRK5 ME1_SH12_MM5

+test_triggers.Triggers:     MUHI1_ITLM10 MUHI1_ILM15 MUHI1_TK12_TLM12
+test_triggers.Triggers:     MUHI2_ITLM10 MUHI2_ILM15 MUHI2_TK12_TLM12
+test_triggers.Triggers:     MUHI3_ITLM10 MUHI3_ILM15 MUHI3_TK12_TLM12

+test_triggers.Triggers:     MUJ3_JT25_ILM3 MUJ3_JT35_LM3
+test_triggers.Triggers:     MUJ4_JT25_ILM3 MUJ4_JT35_LM3

### v15.5

test_triggers.Triggers:      E1_LH2ISH24 E1_LH2SH27 E1_SHT50 E1_SH60 E1_LH2L70 E1_L80
+test_triggers.Triggers:     E1_LH2ISHT17T14
+test_triggers.Triggers:     E1_T14LH2SH17
+test_triggers.Triggers:     E1_SHT15_2J_J25

+test_triggers.Triggers:     E2_LH2ISH24 E2_LH2SH27 E2_SHT50 E2_SH60 E2_LH2L70 E2_L80
+test_triggers.Triggers:     E2_LH2ISHT17T14
+test_triggers.Triggers:     E2_T14LH2SH17
+test_triggers.Triggers:     E2_SHT15_2J_J25

+test_triggers.Triggers:     TE1_LH2ISH24 TE1_LH2SH27 TE1_SHT50 TE1_SH60 TE1_LH2L70 TE1_L80
+test_triggers.Triggers:     TE1_LH2ISHT17T14
+test_triggers.Triggers:     TE1_T14LH2SH17
+test_triggers.Triggers:     TE1_SHT15_2J_J25

+test_triggers.Triggers:     TE2_LH2ISH24 TE2_LH2SH27 TE2_SHT50 TE2_SH60 TE2_LH2L70 TE2_L80
+test_triggers.Triggers:     TE2_LH2ISHT17T14
+test_triggers.Triggers:     TE2_T14LH2SH17
+test_triggers.Triggers:     TE2_SHT15_2J_J25

+test_triggers.Triggers:     ME1_ISH7_TRK5 ME1_ISH7_MM5
+test_triggers.Triggers:     ME1_LEL15_TRK5 ME1_LEL15_MM5
+test_triggers.Triggers:     ME1_SH12_TRK5 ME1_SH12_MM5

+test_triggers.Triggers:     MUJ1_2J20LM3DR3 MUJ1_3J20LM3
+test_triggers.Triggers:     MUJ2_2J20LM3DR3 MUJ2_3J20LM3
+test_triggers.Triggers:     MUJ3_2J20LM3DR3 MUJ3_3J20LM3
+test_triggers.Triggers:     MUJ4_2J20LM3DR3 MUJ4_3J20LM3

################################################################################

