#################################################################################
# ttbarll Data selection
################################################################################

+cafe.Include: top_dilepton_me/configs/emu/Emu_Data_final.config

VJets.ElectronLhoodCut:                   0.0
VJets.IsolationValue:                     1000

muon_iso_corr_p17.ObjQuality:		iso_TopScaledVeryLoose
muon_iso_corr_p20.ObjQuality:		iso_TopScaledVeryLoose

################################################################################
