#################################################################################
# ttbar->emu MC selection
################################################################################
cafe.Progress:  1000
# cafe.Events:    10000

cafe.Debug:         true

cafe.PartialReads:  false

+cafe.Packages:     caf_dq dq_util jetcorr emid_cuts tau_tmb caf_util
+cafe.Packages:     eff_utils caf_mc_util caf_trigger caf_eff_utils gsl
+cafe.Packages:     g2c top_dilepton_me top_dilepton_madgraph

+cafe.Include: top_dilepton_me/configs/emu/Emu_base.config
+cafe.Include: top_dilepton_me/configs/emu/Emu_Triggers.config

# JET SELECTION
VJets.InputJet_Branch:                    corrJCCB
VJets.CorrectedJet_Branch:                %{VJets.CorrectedJet_Branch}

VJets.InputMode:      MC MUTaggability
VJets.TaggabilityRF:  MUTaggabilityRF

VJets.MuonSmearType: mix
# VJets.MuonSmearType: no

# Set to false for non top MC 
VJets.JSSR_UseUniformRemapping:           true

+cafe.Run: Stat(EMUeff)
+cafe.Run:  If(emu_correction)
+cafe.Run:  Group(emutrig)
+cafe.Run:  Group(tighttight_inc)
# +cafe.Run:  Group(tighttight_2jet)
+cafe.Run:  WeightSystematics(ws)

# zpt.AlpgenReweighting:                  true

+emutrig_tight.Run:                        Group(trig_mc)

################################################################################