#################################################################################
# ttbar->emu MC selection
################################################################################
cafe.Progress:  1000

cafe.Debug: false

+cafe.Include: top_dilepton_me/configs/emu/Emu_selection.config
+cafe.Include: top_dilepton_me/configs/emu/Emu_Triggers.config

# JET SELECTION
# VJets.InputJet_Branch:                    corrJCCB
VJets.InputJet_Branch:                    JCCB
VJets.CorrectedJet_Branch:                %{VJets.CorrectedJet_Branch}

# +Btagging.Run:  Group(DileptonBtag)
VJets.InputMode:      MC MUTaggability
VJets.TaggabilityRF:  MUTaggabilityRF

# Set to false for non top MC 
VJets.JSSR_UseUniformRemapping:           true

+emutrig_tight.Run:                  Group(trig_mc)

+DileptonDQ.Run:                      Group(VJetsDQMC_%{VJets.RecoVer})
+DileptonReweighting.Run:             Group(DileptonBeamLumiRW)
+Discard_OR_JSSR.Run:                 Group(DileptonJSSR)

# # run2a
# VJets.DataSet:                        EMinc_FullRunIIa
# VJets.Triggers:                       EM_MegaOR
# VJets.LumiDataSet:                    EMinc_FullRunIIa

# run2b
VJets.DataSet:                        EMinc_RunIIb_Summer2008
VJets.Triggers:                       EMMU_TriggerOR
VJets.LumiDataSet:                    EMinc_RunIIb_Summer2008

electron_corr_p17.EffVarNames:          DetEta DetPhi
electron_corr_p20.EffVarNames:          DetEta DetPhi

################################################################################
